[2021-06-19 11:02] leonardehrenfried commented on #550
You should only see the bike map when viewing the bike only trip. Even for the bike + train trips I'd prefer the normal map. Is that right, @hbruch ?

[2021-06-19 11:04] MartinH-open commented on #664
Not sure how to solve this long term. Often two bus stop (Wartebereiche) are available the two main directions on both sides of the road. Still the same name ist given for the two bus stops. The direction of travel is often different (going east and going west; or north and south or whatever). Often the direction is evident for a given destination like next city the bus is going to (e.g to Böbling

[2021-06-19 11:13] MartinH-open commented on #663
@hbruch - thanks for explaining. Good to see that shapes are available for RT too.
Anyway my understanding is that RT use the same sequence of  stops as the related bus routes uses and hence the default shape should be the same for both. If yes then the RT could always use the route of the bus route.
However in the Aidlingen example the normal bus route always takes a detour to Lehenweiler (one st

[2021-06-20 10:56] sara-georgy opened #666 "Feedback User 263: new tab when redirecting the user to another Website"
current behavior: when redirecting the user to another website for e.g. when renting a bike or a car, the website opens on the same tab.
new behavior: the website should open in a new tab.

![image](https://user-images.githubusercontent.com/84382750/122671456-ecb5cf80-d1c6-11eb-8a2b-8b5645155d7d.png)

[2021-06-20 11:08] ahmed-nawar opened #667 "On demand taxi return transit itineraries"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.5943214%2C8.8621132/Stuttgart%20Main%20Station%2C%20Stuttgart%3A%3A48.7856099%2C9.1833959?locale=en&time=1624224600

After clicking on the on demand taxi icon, the same transit itineraries are returned which is confusing.

![image](https://user-images.githubusercontent.com/84456072/122671508-44543b0

[2021-06-20 11:11] sara-georgy opened #668 "Feedback User 265: number of wheelchair-accessible parking spaces is wrong"
The system is displaying that 2 out of 1 wheelchair-accessible parking spaces are free.
https://herrenberg.stadtnavi.de/parkplaetze?free=11&freeDisabled=2&lng=8.869099617004396&lotType=Parkplatz&name=Unterer%20Graben&notes=%7B%7D&openingHours=Mo,We,Th,Fr,Su%2000:00-24:00;%20Tu,Sa%2000:00-02:00,%2014:30-24:00;%20PH%2000:00-24:00&state=many&total=39&totalDisabled=1&url=https://www.herrenberg.de/de/S

[2021-06-20 11:13] ahmed-nawar commented on #667
Tracked on the mobile app in this issue https://github.com/stadtnavi/stadtnavi_app/issues/229

[2021-06-20 12:12] sara-georgy opened #669 "Route takes infinity to load"
The attached route takes infinity to load (Browser settings: train, metro, bus are disabled)

https://herrenberg.beta.stadtnavi.eu/reiseplan/Vorsteigstra%C3%9Fe%2C%2070193%20Stuttgart%3A%3A48.7812373%2C9.1553375/Kocherstra%C3%9Fe%2C%2071083%20Oberjesingen%3A%3A48.6254176%2C8.8381856

[2021-06-20 12:51] sara-georgy opened #670 "Feedback User 269: shortest car ride should be shown first in P+R mode"
current behavior: when the user chooses P+R, the longest car rides are shown first in the results.
expected behavior: the shortest car rides should be shown first.

Route used in the screenshot: Kuppingen-Stuttgart

![image](https://user-images.githubusercontent.com/84382750/122674810-019a5f00-d1d7-11eb-8338-d4b1ee5e91b3.png)

[2021-06-20 13:24] hbruch commented on #226
<img width="528" alt="grafik" src="https://user-images.githubusercontent.com/2187389/122675833-838c8700-d1db-11eb-820d-4260238ec2d3.png">

DT-next again uses google fonts. Changes to self-host them need to be adapted.

[2021-06-20 13:41] hbruch commented on #670
I object. Currently, we order trips by their start time (for departure time searches) or arrival time (for arrival time searches). IMO this is more intuitive than shuffling the trips by some hard to grasp criteria. To be honest, in my eyes, both displayed options make sense: the later ones for people wanting to avoid driving, the first ones for people who want to avoid Stuttgart inner city.

Could

[2021-06-20 13:44] MartinH-open commented on #670
In general, the sorting of the proposals in quite unclear - and not displayed somehow.
I assume some "automatic" sorting is implemented somehow.
Often sorting is by departure time which could be reasonable.

If more than 3 proposals are displayed StadtNavi could display some sorting option.
by departure time, by arrival time, or by duration of travel, or by cost of travel, or by number of modal ch

[2021-06-20 13:59] sara-georgy commented on #670
@hbruch the issue was reported in the support feedback. It was mentioned that no car rides longer than 20mins should be displayed in the first route suggestions.

[2021-06-20 14:05] hbruch commented on #670
As I said, I don't see a bug in the results cited above. @MartinH-open Could you give specific examples where you think sorting is unclear?

As I mentioned, ordering should be done on either departure or arrival time, depending on search mode. IMO this is the most clear sorting order we can provide. If you opt for other, user definable sorting criteria, I suggest you open a feature request.

[2021-06-20 14:41] MartinH-open commented on #670
@hbruch - this Issue request is not mine.
Thanks, for explaining that "either departure or arrival time, depending on search mode" is done. That is fine.
(Somehow I was not sure because often I specify arrival time and did not notice this changes the sorting too.)
The action buttons "^Früher" or "v Später" indicate already that sorting is by time. Fine !
If we want to clarify the sorting a bit per

[2021-06-20 18:39] Beck-berry commented on #550
By viewing you mean when the itinerary is opened (as on the first screenshot)? Currently we change the map if the mode is changed, should it rather be when a bike route is selected?

[2021-06-21 07:28] leonardehrenfried commented on #668
Could we find out from the city what the total number of wheelchair-accessible parking spaces there is?

[2021-06-21 09:06] nghanem-poet-egypt commented on #352
@leonardehrenfried are fares still being displayed on dev? I'm not testing them, I just wanted to compare it to the mobile app implementation and didn't find it. Could you help on that?
![grafik](https://user-images.githubusercontent.com/84389152/122736644-89887380-d280-11eb-8bf6-38c989ab50f5.png)

[2021-06-21 09:33] leonardehrenfried commented on #352
There is a technical problem which i'm currently resolving: https://github.com/stadtnavi/digitransit-ui/commit/b697426707ca37707cc66018c97972b4ea219bba

[2021-06-21 09:33] leonardehrenfried commented on #352
Ill let you know when it's back

[2021-06-21 10:00] MartinH-open commented on #352
Anyhow, is the dev system always the "newest" version available?  sometimes it appeared that beta is ahead of dev version.
We need a build/version string within each instance (dev,beta,production, apps) to view as an user from when that build is.

[2021-06-21 10:35] leonardehrenfried commented on #352
It's back. Sorry for the interruption.

![Screenshot from 2021-06-21 12-34-24](https://user-images.githubusercontent.com/151346/122749009-1fc29680-d28d-11eb-9f1b-09e291ed0ed4.png)

[2021-06-21 11:06] Denis306 commented on #611
@leonardehrenfried can this issue be closed?

[2021-06-21 11:09] leonardehrenfried commented on #611
I put it "on dev".

[2021-06-21 11:09] leonardehrenfried commented on #611
QA team will close.

[2021-06-21 11:39] samia-roubaa opened #672 ""Avoid walking" and "Avoid transfers" options are not working"
Scenario:
1. Origin: Grundschule, Kirchstraße 34, 72218 Wildberg
2. Destination: Marktplatz, 71083 Herrenberg
3. Settings: show only bus routes
4. After loading the results open the settings again and choose the 2 options "avoid walking" and "avoid transfers"
5. The results won't change.
![image](https://user-images.githubusercontent.com/83356918/122755920-fbb78300-d295-11eb-9abd-a16a566f80df.png)

[2021-06-21 11:54] Denis306 commented on #530
@leonardehrenfried this was an upstream problem. Should we tackle this or leave it for now? Not sure if it has been reported by poet upstream @nghanem-poet-egypt?

[2021-06-21 11:54] leonardehrenfried commented on #672
Am I right in thinking that you would not want to see the first two results? If you set those settings?

[2021-06-21 12:11] samia-roubaa commented on #672
Yes, you are right.

[2021-06-21 12:31] leonardehrenfried opened #673 "Set limit for when to show car routes"
DT has a config system for specifying when certain routing options should be shown, for example only show walking when it's less than X meters.

Example config: https://github.com/stadtnavi/digitransit-ui/blob/1bddb645a308b67d96ca78397197034d7818799a/app/configurations/config.hbnext.js#L567

## Car limits

When eihter "Avoid walking" or "Wheelchair" mode: no lower limit
When none of these are sele

[2021-06-21 12:36] leonardehrenfried opened #674 "Set bike + transit limits"
DT has a config system for specifying when certain routing options should be shown, for example only show walking when it's less than X meters.

Example config: https://github.com/stadtnavi/digitransit-ui/blob/1bddb645a308b67d96ca78397197034d7818799a/app/configurations/config.hbnext.js#L567

# Bike and park at station
Minimum linear distance: 3000 meters (otherwise we'd just cycle)

# Bike and tak

[2021-06-21 15:01] leonardehrenfried commented on #598
@Denis306 @andreashelms @GustavoTCh @SamuelRioTz

After having talked to @hbruch about this we decided to change the feature quite significantly. It will probably be easier to implement but I think the app devs already implemented an earlier version. Sorry about the back and forth.

[2021-06-21 15:19] nghanem-poet-egypt commented on #352
Thank you for your information, I've noticed that it is now on Beta too. Can you confirm that?

[2021-06-21 15:21] sara-georgy opened #675 "Feedback User 273: add drag & drop functionality to feedback form"
**For future improvements:** The functionality drag & drop should be added to the feedback form in order to upload attachments and screenshots easier.

[2021-06-21 15:25] leonardehrenfried commented on #352
Yes it is.

[2021-06-21 15:26] sara-georgy opened #676 "Feedback User 248: add legend to the "bike" map view"
**For future improvements:** A legend should be added for the map view "bike" so the user would understand the meaning behind the different colors.

[2021-06-21 15:27] MartinH-open commented on #675
Yes, that is my feedback. Thanks. Here in Github issues it is really easy to drag and drop pictures into the submit description.
It makes is easy to submit many issues , while on web-ui I hesitate providing feedback with images because it requires multiple steps on my side.

[2021-06-21 15:27] GustavoTCh commented on #598
@leonardehrenfried this is not very complicated, @Denis306 Could you create a task in the application board?

[2021-06-21 15:41] Denis306 commented on #598
@GustavoTCh Done.

[2021-06-21 16:43] Denis306 commented on #620
@leonardehrenfried I am closing this as #649 was also closed and the issue is fixed.

[2021-06-21 16:43] #620 closed, assigned to jpidelatorre

[2021-06-21 16:48] nghanem-poet-egypt commented on #530
No, we didn't report it upstream.

[2021-06-21 20:45] #596 closed, assigned to nobody

[2021-06-22 07:09] sara-georgy opened #678 "Feedback from Ansgar: wrong parking place indicator"
The "Unterer Graben" parking place has the orange indicator although 12 out of 39 parking spaces are still free.

![image](https://user-images.githubusercontent.com/84382750/122879686-7a193100-d339-11eb-81ac-feb1422ddaaa.png)

[2021-06-22 07:25] sara-georgy opened #679 "Feedback from Julian: departure point of the Ruftaxi should be changed"
station: ZOB Herrenberg

the departure point of the Ruftaxi should lie further to the east, compared to VVS.

![image](https://user-images.githubusercontent.com/84382750/122881348-5c4ccb80-d33b-11eb-88c8-e4bf253d37d5.png)
![image](https://user-images.githubusercontent.com/84382750/122881425-7090c880-d33b-11eb-97a1-a640bf4e7919.png)

[2021-06-22 08:53] leonardehrenfried commented on #678
To the frontend devs: I think the problem is, that the user has clicked on an URL which has the free spaces encoded in it but the information is out of date.

We now have a proper API in the backend to fetch information about a parking lot with a GraphQL call.

Can we please pass the ID of the parking lot in the URL instead and fetch the information with the following GraphQL query?

[code]

Basic

[2021-06-22 08:54] ahmed-nawar opened #680 "Show Taxi icon POI is not clear from the map layers menu"
If a user wants to show on the map the Taxi POI, it is not clear which check box should be turned on from the map layers sidebar.
![image](https://user-images.githubusercontent.com/84456072/122895017-04689180-d348-11eb-97d4-22f274cbad9a.png)

_This issue is in both the mobile app and webapp_

[2021-06-22 09:01] leonardehrenfried commented on #679
The problem is that we receive the data from VVS themselves. Can we take up the issue with them, @hbruch?

Julian, would you be satisfied with moving the red dot to the east or does the line be moved, too?

[2021-06-22 09:03] #640 closed, assigned to Beck-berry

[2021-06-22 10:54] ahmed-nawar opened #681 "P&R not working for this route"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.5943214%2C8.8621132/Vorsteigstra%C3%9Fe%2C%2070193%20Stuttgart%3A%3A48.7812373%2C9.1553375?time=1624360500

Park & Ride mode doesn't show any car routes on the webapp.

**Reproduce:**
1. Click on the url
2. Click on P&R tile
3. Nothing will happen

**Additional context:**
On the mobile app it return

[2021-06-22 11:09] ahmed-nawar commented on #590
The message is removed. Is that correct ?
![image](https://user-images.githubusercontent.com/84456072/122914458-f40de200-d35a-11eb-86fb-38a190129795.png)

[2021-06-22 11:10] sara-georgy commented on #679
@leonardehrenfried we don't have to work further on this issue. I'll close it now.

[2021-06-22 11:10] #679 closed, assigned to nobody

[2021-06-22 11:13] leonardehrenfried commented on #590
No, that shouldn't be that way. It's a bug.

[2021-06-22 11:37] sara-georgy opened #682 "Feedback User 272: different route suggestions when changing the walking speed"
The route suggestions differ when the user changes the walking speed from "Fast" to "Average". Could you please explain if the criteria change upon the chosen walking speed.

![image](https://user-images.githubusercontent.com/84382750/122918993-050d2200-d360-11eb-89a8-45b28102ffee.png)
![image](https://user-images.githubusercontent.com/84382750/122917796-b317cc80-d35e-11eb-91c2-fa7df831ce2e.png)

[2021-06-22 11:40] leonardehrenfried commented on #590
@derhuerst Can you let us know here when a feed with the the pickup and dropoff rules on the regular, scheduled trip are available?

[2021-06-22 11:57] leonardehrenfried commented on #590
@ahmed-nawar A bit of background: we have the regular "bus" view which doesn't have the message anymore (or it never had it) but we also have the "to door service" view, which has it.

https://dev.stadtnavi.eu/reiseplan/Ehningen%3A%3A48.6592556%2C8.9405097/G%C3%BCltstein%3A%3A48.575747449999994%2C8.878864665540831/onDemandTaxi/0?time=1624392000

[2021-06-22 12:06] derhuerst commented on #590
I have fixed this in https://github.com/derhuerst/generate-herrenberg-gtfs-flex/commit/e2c1c7f959e30e83a5afe92af0b6c39b5f82509a, currently building a new `hbg5` feed.

[2021-06-22 12:40] derhuerst commented on #590
http://116.203.235.64:8002/hbg5.merged.with_flex.gtfs.zip now contains this fix, `shasum` is `85a3bcebb32732b52a06ebb41599655aeb0f4889`.

[2021-06-22 13:42] sara-georgy opened #684 "Feedback from Ansgar: Herrenberg does not appear in the location suggestions"
Feedback number: 282

When Tübingen is selected as the origin, Herrenberg does not appear in the destination suggestions.

![image](https://user-images.githubusercontent.com/84382750/122935087-59b89900-d370-11eb-8fac-e421c6965fa1.png)

[2021-06-22 14:18] MartinH-open commented on #684
Same is true when starting from Böblingen.
Similar for Weil der Stadt : but here you enter the whole word Herrenberg and then it appears in the list.
Strange enough, the "Bahnhof Herrenberg" appear almost everytime you enter "He .."

[2021-06-22 15:00] leonardehrenfried commented on #226
@Beck-berry I noticed that DT2 requires different fonts.

## Prod
![Screenshot from 2021-06-22 16-52-14](https://user-images.githubusercontent.com/151346/122947867-c59fff00-d37a-11eb-903e-8816b80a3b2e.png)

## Dev
![Screenshot from 2021-06-22 16-52-08](https://user-images.githubusercontent.com/151346/122947871-c6389580-d37a-11eb-8bee-beae1819bad3.png)

Can you create another PR, remove the current

[2021-06-22 15:34] #611 closed, assigned to jpidelatorre

[2021-06-22 15:46] sara-georgy opened #685 "Missing translation"
When the language chosen is German, the following components appear in English.

- [x] 1.
![image](https://user-images.githubusercontent.com/84382750/122956977-c6885f00-d381-11eb-84a8-3d0a72d88c1f.png)

- [ ] 2.
![image](https://user-images.githubusercontent.com/84382750/122962316-9478fc00-d385-11eb-9f0a-5e4201c4f3be.png)

[2021-06-22 15:46] #616 closed, assigned to jpidelatorre

[2021-06-22 15:48] #624 closed, assigned to jpidelatorre

[2021-06-22 15:52] #617 closed, assigned to jpidelatorre

[2021-06-22 16:07] #629 closed, assigned to Beck-berry

[2021-06-22 16:09] #623 closed, assigned to nobody

[2021-06-22 16:15] #556 closed, assigned to jpidelatorre

[2021-06-22 16:24] #637 closed, assigned to jpidelatorre

[2021-06-22 16:41] sara-georgy commented on #564
The first step works fine. (See screenshot)
![image](https://user-images.githubusercontent.com/84382750/122966093-3221fa80-d389-11eb-991f-b62f078ae89b.png)

However after clicking on "offer carpool" the system loads indefinitely. (See screenshot)
![image](https://user-images.githubusercontent.com/84382750/122966310-77462c80-d389-11eb-8d39-49605b7e29cd.png)

[2021-06-22 16:56] sara-georgy opened #687 "P+R mode: route is displayed in a strange way"
Origin: Mühlstraße, 71083 Herrenberg
Destination: G.-F.-Händel-Straße, 71083 Herrenberg
Mode: P+R
https://herrenberg.beta.stadtnavi.eu/reiseplan/M%C3%BChlstra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.59598912311189%2C8.860956430435182/G.-F.-H%C3%A4ndel-Stra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.59477574898104%2C8.879871368408205/parkAndRide/?intermediatePlaces=&locale=de

The map displays the route

[2021-06-22 17:14] sara-georgy opened #688 "Errors in the station "Schlossplatz""
1. 4 out of 6 stations "Schlossplatz" show the message "No departures"

![image](https://user-images.githubusercontent.com/84382750/122970051-aced1480-d38d-11eb-98b3-96e6024cfe4b.png)

2. The only two stations that show departures have another error when clicking on the tab "timetable"

![image](https://user-images.githubusercontent.com/84382750/122970222-eaea3880-d38d-11eb-868a-816b3839412d.png)

[2021-06-22 17:19] #615 closed, assigned to patrickbeck1337

[2021-06-22 19:06] Beck-berry commented on #678
Can the backend give back the followings?
* lotType
* note
* openingHours
* detailsUrl
* state

[2021-06-22 23:12] MartinH-open commented on #688
Same kind of issue here:
(here follows English translation of what I submitted as feedback in the StadtNavi form.)
As an example, what is difficult with the stops. In Nufringen there are three bus stops in one place.
The two stops NUFRINGEN KUPPINGER STR. seem to be meaningfully defined for the two directions.
The third alleged bus stop Nufringen is more of a dummy. There are now no departures and

[2021-06-23 06:54] leonardehrenfried commented on #687
These grey lines are intentional as they represent the other, not currently selected routes. In your case it's the bus line 782 going the other direction. If you click on your third result you can see what it means.

[2021-06-23 06:54] #687 closed, assigned to nobody

[2021-06-23 06:55] leonardehrenfried commented on #688
Well, not sure when the screenshots were taken (1AM?) but often there just isn't a departure coming up, articularly at the smaller stops.

What happens when you select the timetable tab?

[2021-06-23 07:31] andreashelms commented on #362
@leonardehrenfried How does `useVehicleParkingAvailabilityInformation=true` affect the response data? If I use `useVehicleParkingAvailabilityInformation=false` I still receive tags and capacity information within the response.
Does it affect the routing? Or could `useVehicleParkingAvailabilityInformation` always be set to true and the frontend can decide whether availability warnings are displayed

[2021-06-23 07:36] leonardehrenfried commented on #362
It does affect the routing (you won't be routed to full car parking lots) but doesn't affect the requested response.

If you set it always to true, you won't be routed to full car parking lots even when you're searching in the future. In the future however, we want to route to the _currently_ full ones as we don't know what's going to happen then.

[2021-06-23 07:39] andreashelms commented on #362
Ok, got it.

[2021-06-23 08:01] sara-georgy commented on #687
@leonardehrenfried thank you for your clarification.
however, I think that the other routes are displayed in a strange way. (See screenshots) Is it normal that the taxi/bus rides in two different directions?
![image](https://user-images.githubusercontent.com/84382750/123059320-f1b69100-d409-11eb-8a50-8ba268c6c870.png)
![image](https://user-images.githubusercontent.com/84382750/123059383-02ff9d80-d

[2021-06-23 08:10] leonardehrenfried commented on #687
The data provided by VVS says that he bus really takes this route: https://herrenberg.stadtnavi.de/routen/hbg:31-782-j21-1/haltestellen/hbg:31-782-j21-1:0:01/hbg:39.T0.31-782-j21-1.5.H

However, I did some digging on their website and found this: https://www.vvs.de/download/Geltungsbereich-StadtTicket-Herrenberg.pdf

This suggests that the bus doesn't turn back on itself but rather goes along Mari

[2021-06-23 08:41] sara-georgy commented on #688
My screenshots were taken around 6pm.

I checked the stations again now and they are still empty. The timetable tab shows the following:
![image](https://user-images.githubusercontent.com/84382750/123064001-2fb5b400-d40e-11eb-81da-c2d2bd5a996f.png)

If there isn't a timetable provided or any departures coming up, shouldn't we take the empty stations out of the map?
I think it is so confusing that

[2021-06-23 08:56] leonardehrenfried commented on #688
Yes, agreed. I personally like the way that Helsinki have grouped their bus stops: https://reittiopas.hsl.fi/terminaalit/HSL%3A1000002

You can click on both the "terminal" (large bus icon) and the individual stops.

On the other hand the UX there is confusing, too, as icons appear and disappear seemingly at random. :man_shrugging:

[2021-06-23 09:03] hbruch commented on #688
The stop in Nufringen is a rail replacement stop which is served on weekends, presumably when there are constructions works.
At the Schlossplatz, I expect that to be night bus stops only running on the weekend evenings.

Grouping, like Helsinki does, is nice, but they only do so for train/bus stations, not every smaller stop, no?

In the case of Nufringen, that might probably not even work, as the

[2021-06-23 09:49] ahmed-nawar opened #689 "Live bus locations doesn't show"
If the webapp is launched while the toggle for **Bus Positions** is `off`, when I turn the toggle `on` the **Bus Positions** will not show until I refresh the browser.
To reproduce:
- Toggle the checkbox off
- Refresh the browser
- Try to toggle the checkbox on
- It won't show until you refresh the browser

[2021-06-23 11:47] #601 closed, assigned to andreashelms

[2021-06-23 13:08] sara-georgy opened #691 "wrong ticket prices"
1. The displayed ticket price in Stadtnavi does not equal the one in VVS.
origin: Stuttgart
destination: Gültstein Kirche
https://herrenberg.beta.stadtnavi.eu/reiseplan/Stuttgart%3A%3A48.7784485%2C9.1800132/G%C3%BCltstein%20Kirche%2C%20Herrenberg%3A%3A48.5760078%2C8.8781617/2?time=1624462200

![image](https://user-images.githubusercontent.com/84382750/123101749-a665a800-d434-11eb-9fc7-2cec366bd0ff

[2021-06-23 13:32] sara-georgy commented on #501
Same behavior here:

![image](https://user-images.githubusercontent.com/84382750/123105676-44a73d00-d438-11eb-96d1-51aed31a9914.png)

[2021-06-23 13:40] sara-georgy opened #692 "Car, bike & cargo bike sharing icons disappear when entering a route"
When the user enters an origin, the car, bike & bike sharing icons are displayed normally on the map. However, after entering the destination the disappear from the map. (See Screenshots)

![image](https://user-images.githubusercontent.com/84382750/123106994-69e87b00-d439-11eb-9a6f-76048838dfc9.png)
![image](https://user-images.githubusercontent.com/84382750/123106854-4cb3ac80-d439-11eb-86bb-e1b2f

[2021-06-23 13:42] ahmed-nawar commented on #618
Cannot reproduce. I think it is fixed.

[2021-06-23 13:52] sara-georgy commented on #579
The new UI has only been applied to one station "Cargobike TUG Herrenberg"
Is this the correct behavior? @leonardehrenfried
![image](https://user-images.githubusercontent.com/84382750/123108094-69041900-d43a-11eb-92d2-fbe877dbb19a.png)

The other three stations "E-Lastenrad FaRe", "Lastenrad Gülf" and "Lastenrad Alf" still have the old UI:
![image](https://user-images.githubusercontent.com/8438275

[2021-06-23 13:52] ahmed-nawar opened #693 "Timeout when calculating extra routes from Herrenberg train station to Stuttgart train station"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Bahnhof%20Herrenberg%2C%20Bahnhofstra%C3%9Fe%2014%2C%2071083%20Herrenberg%3A%3A48.593861700000005%2C8.86307270000001/Seestra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.60771690398517%2C8.876609802246096?time=1624455993

**Reproduce:**
Settings: BUS, TRAIN, METRO, WALK, CAR -> **ON**
1. Click on the link
2. Change time to 23:00
3. Click on P&R

Additional

[2021-06-23 14:09] leonardehrenfried commented on #693
![Screenshot from 2021-06-23 16-08-52](https://user-images.githubusercontent.com/151346/123111677-62c36c00-d43d-11eb-9b63-3fccdc994ea4.png)

I'm seeing this.

[2021-06-23 14:12] leonardehrenfried commented on #579
Yes, that is correct. The others don't actually have a proper booking system. You have call or just show up.

[2021-06-23 14:51] ahmed-nawar commented on #693
@leonardehrenfried Can you try different times of the day?

**Weird scenario:**

1. Set time to 16:00 -> No P&R suggestions are returned2.
2. Set time to 15:00
3. Click on P&R -> No P&R routes appear
4. Click on later departures
5. Many P&R routes appear (Including 16:00) which is very weird

![image](https://user-images.githubusercontent.com/84456072/123118799-3d396100-d443-11eb-811c-c6de9d2248d2

[2021-06-23 14:59] leonardehrenfried commented on #684
Our location bias is quite strong, too strong, but Ansgar's example works for me.

![Screenshot from 2021-06-23 16-43-57](https://user-images.githubusercontent.com/151346/123117657-3cec9600-d442-11eb-9f7f-0461ceb7b68d.png)

[2021-06-23 15:00] #535 closed, assigned to Beck-berry, Denis306

[2021-06-23 15:02] Denis306 commented on #579
Yes. This can be closed.

[2021-06-23 15:28] ahmed-nawar commented on #604
@leonardehrenfried Can you please validate this issue and move it if done?

[2021-06-23 15:30] leonardehrenfried commented on #604
I did.

[2021-06-23 15:30] #604 closed, assigned to andreashelms

[2021-06-23 15:31] #613 closed, assigned to patrickbeck1337

[2021-06-23 15:33] #626 closed, assigned to patrickbeck1337

[2021-06-23 15:36] #345 closed

[2021-06-23 16:04] nghanem-poet-egypt commented on #672
I have another case for this bug: https://herrenberg.beta.stadtnavi.eu/reiseplan/Kuppingen%2C%2071083%20Herrenberg%3A%3A48.610752%2C8.8431229/Universit%C3%A4t%20Stuttgart%2C%20Schlo%C3%9Fstra%C3%9Fe%2C%2070176%20Stuttgart%3A%3A48.7453828%2C9.103267538773398?time=1624463968

If I click "avoid walking" I would not want to see the third option, but unfortunately no changes happen when avoid walking i

[2021-06-23 16:06] nghanem-poet-egypt commented on #672
This is another issue also having another case for "Avoid walking"  #647

[2021-06-23 16:15] nghanem-poet-egypt commented on #672
One more case where "Avoid Walking" makes a difference however it's not very useful because the sharing bike is rented for the last minute of the itenerary
- Avoid walking = False > has a 3 minute walking leg at the end
- Avoid walking = True > has only 2 minutes

https://herrenberg.beta.stadtnavi.eu/reiseplan/Kuppingen%2C%2071083%20Herrenberg%3A%3A48.610752%2C8.8431229/Bahnhof%20Herrenberg%2C%20B

[2021-06-23 17:25] MartinH-open commented on #684
@leonardehrenfried - your example is the offical web app
in beta version it is not working for me (Win 10  Chrome)
![image](https://user-images.githubusercontent.com/1383111/123141593-d3c44d00-d458-11eb-86cb-85b0629874ab.png)

[2021-06-23 17:29] MartinH-open commented on #684
@leonardehrenfried  - please show us your favorite places .. !
 My favorite places include "Bahnhof Herrenberg" - and I think therefore it gets displayed almost everytime.

BTW - I think "Herrenberg" should be in the favorite for everyone by default !  Only if you delete it from the favorites it should be gone ..

[2021-06-23 22:24] derhuerst commented on #691
In this case, several bugs caused an entirely different TRIAS journey to be matched. 🙈 I have fixed this in stadtnavi/fares-service#f6f4405.

However, **now it doesn't match the *true* equivalent TRIAS journey/itinerary anymore because it has different line names (`RB14a` & `SEV`)**:

[code]

---

Also, **the price is returned by TRIAS as 5,50€**. This seems to be because we're using the NVBW TRIA

[2021-06-23 22:32] derhuerst commented on #691
The most reliable option would be to skip the TRIAS call altogether, since detecting on-demand taxis in the rather stable OTP schema *up front* should be easier than detecting it in TRIAS's response parsed by `trias-client`. Shall we do that client-side or within `fares-service`?

[2021-06-24 05:47] leonardehrenfried commented on #691
In order to not mix the responsibility, I would go with the fares service.

[2021-06-24 07:15] leonardehrenfried commented on #644
After having changed the OSM data, we get the following result now:

![Screenshot from 2021-06-24 09-06-05](https://user-images.githubusercontent.com/151346/123218474-0e1b0200-d4cc-11eb-9873-769a15a90aee.png)

Our algorithm says that it takes 12 minutes but of course this is dependent on your personal fitness.

I also think that the Google route to approach the destination is not correct. It's a b

[2021-06-24 07:15] #644 closed, assigned to nobody

[2021-06-24 07:17] leonardehrenfried commented on #644
However, if the user that reported this has better local knowledge we would be happy to update the underlying map data.

[2021-06-24 07:37] sara-georgy opened #694 "cargobike: fare is not displayed correctly"
The system doesn't show the correct fare when choosing to rent the cargobike for 1 day.
current behavior: The system shows 0,00€
correct behavior: the system should show 15,00€

![image](https://user-images.githubusercontent.com/84382750/123222015-d1510a00-d4cf-11eb-8ca5-8d07c6b1441f.png)

[2021-06-24 07:39] leonardehrenfried commented on #684
I don't have any favourites at all.

We have reconfigured the search and we don't favour local results quite so heavily anymore. So when I go to Tübingen, I see the following results.

![Screenshot from 2021-06-24 09-35-38](https://user-images.githubusercontent.com/151346/123221988-c9916580-d4cf-11eb-8c18-791c4b2164ca.png)

To me this seems correct.

BTW, generally all environments use the same se

[2021-06-24 07:39] #579 closed, assigned to patrickbeck1337

[2021-06-24 07:45] leonardehrenfried commented on #694
@the-infinity can give information about this. I think I heard something about the cargo bikes being free but he will explain.

[2021-06-24 07:49] the-infinity commented on #694
Yea, this is not defined until now, so nothing which is shown is final. But this is clearly an interface bug, will fix it.

[2021-06-24 07:52] #625 closed, assigned to patrickbeck1337

[2021-06-24 08:00] the-infinity commented on #694
Fixed with https://github.com/openbikebox/backend/commit/f09be18bbf716e4a952791f764a9dd03388297de . Was a rounding issue.

[2021-06-24 08:31] MartinH-open commented on #684
@leonardehrenfried - thanks for explaining.
I verified the "corrected" search now works for Tübingen, Böblingen, Weil der Stadt !
For these origins it is enough to enter "Herr.." at the destination field for "Herrenberg" to show up now.
Thanks for the fix!

[2021-06-24 08:33] hbruch commented on #670
@sara-georgy I suggest closing this issue, as sort order works as intended

[2021-06-24 08:45] leonardehrenfried commented on #678
Yes, they are all there.

[2021-06-24 08:46] hbruch commented on #668
This was fixed in the parking spaces data. Will close here.

[2021-06-24 08:46] #668 closed, assigned to nobody

[2021-06-24 08:52] leonardehrenfried commented on #678
- `lotType` and `state` are in the tags
- `note` and `detailsUrl` is a property
- `openingHours` is indeed missing! I will fix that!

[2021-06-24 08:53] MartinH-open commented on #644
To me the footpath for this example looks very good. Thanks!
(So OSM changes go into StadtNavi over night. We need to document such update cycles somewhere for StadtNavi instance Herrenberg. Holger explained it once - but it is not easy to find .. on Github?  We should have a Repository for the Herrenberg Instance to hold all such local information specific for Herrenberg.)

BTW - the same route f

[2021-06-24 09:01] #684 closed, assigned to nobody

[2021-06-24 09:01] leonardehrenfried commented on #684
Thanks for the feedback.

[2021-06-24 09:11] sara-georgy commented on #670
okay, I will close it.

[2021-06-24 09:11] #670 closed, assigned to nobody

[2021-06-24 09:44] leonardehrenfried opened #696 "Convert charging station side panel from URL params to id + API call"
The charging station panel uses a URL like https://herrenberg.stadtnavi.de/ladestationen?lat=48.59910668689554&lng=8.870450109243393&name=Parkplatz+Benzstra%C3%9Fe&stationId=2950&capacity=2&capacityUnknown=0&available=1
to fill itself with data.

This is problematic as a user might share the link which contains outdated information.

Instead of this we should just pass the ID of the station and th

[2021-06-24 11:36] sara-georgy commented on #694
@the-infinity If I find any new bugs related to the booking of the cargobikes, should I report them or should I wait till the final version is deployed?

[2021-06-24 11:37] #694 closed, assigned to the-infinity

[2021-06-24 11:40] MartinH-open commented on #670
I'm fine with closing this too.
The given explanation helps. Not sure how relevant and obvious this is for new users.
Anyhow, as written: The action buttons "^Früher" or "v Später" indicate already that sorting is by time. Fine !
If we want to clarify the sorting a bit perhaps we should display "^Früher starten" or "^Früher ankommen" and "v Später starten" or "v Später ankommen" - depending on the

[2021-06-24 12:01] #362 closed

[2021-06-24 12:16] hbruch opened #698 "Date range for roadworks has wrong locale"
Though in German locale, the date range for roadworks is indicated in English locale

<img width="764" alt="image" src="https://user-images.githubusercontent.com/2187389/123261226-c362af80-d4f6-11eb-8cec-ba872c9df9af.png">

[2021-06-24 12:31] MartinH-open commented on #698
For me this location looks likes this when displaying in DE Mode (perhaps someone fiddling on the data right now)
![image](https://user-images.githubusercontent.com/1383111/123262193-e8a3ed80-d4f7-11eb-92b6-272656a7a8dd.png)

In EN mode I see this - even worse - because of missing English translation
(perhaps translation can be automated - if languages are missing - or out-sourced to the crowd ent

[2021-06-24 12:33] #598 closed, assigned to andreashelms

[2021-06-24 12:45] MartinH-open commented on #698
BTW - I think StadtNavi gives too much focus on what is  NOT working (Baustellen) - displayed in bold red solid lines
![image](https://user-images.githubusercontent.com/1383111/123264321-3588c380-d4fa-11eb-9d72-b08abb0746f6.png)

instead of displaying them only when relevant for the proposed routes (by car, bus, or bike). Or display in a more subtle way with some transparent dotted thin line only.

[2021-06-24 12:49] MartinH-open commented on #698
OT: Perhaps instead StadtNavi should display more in a positive manner the roads and areas in greenish colors that have been served by means of public transport in the last 2h or 12h in shades of how man people where transported that way.
This would tell newcomers right away which connections and areas a well served by public transport.  (End of feature request)

[2021-06-24 13:22] the-infinity commented on #694
@sara-georgy the final version will be ready in a few month because the payment process will be unclear for some time. so if you find something just report it, I will answer to this. (Except maybe one: the bug that PayPal does not work is intention)

[2021-06-24 13:41] Denis306 commented on #352
@sara-georgy Is there a bug or issue with this ticket? Or why was it moved back to "To Do"?

[2021-06-24 13:47] sara-georgy commented on #352
@Denis306 yes, there is the open bug #691

[2021-06-24 14:00] hbruch commented on #352
@sara-georgy  #691 is a backend issue unrelated to the frontend

[2021-06-24 14:37] sara-georgy commented on #352
@hbruch @Denis306 ok, then I'll close it now.

[2021-06-24 15:52] andreashelms commented on #564
I think the URL of the request for offering carpools is incorrect. Dev environment uses `POST https://dev.stadtnavi.eu/carpool-offers`. What is the correct URL for offering carpools?

[2021-06-24 15:56] leonardehrenfried commented on #564
Actually, this is correct. I heard something about the backend (an external backend, not ours) being down. I will investigate.

[2021-06-24 16:12] leonardehrenfried commented on #550
Well, Holger said that he wants the bike map for bike + transit trips.

[2021-06-24 16:33] Beck-berry commented on #678
`feature/#678-parking_place_indicator`  branch is pushed, theoretically the link and the props will work fine, the two places marked with TODO are not final, and the schema still has to be extended

[2021-06-25 06:57] leonardehrenfried commented on #678
The full query is something like this:

[code]

[2021-06-25 10:51] leonardehrenfried commented on #564
The problem is that in car mode the properties lat,lon in the offer are passed to the server, but in p+r they are not.

[2021-06-25 11:11] #564 closed, assigned to nobody

[2021-06-25 12:00] hbruch opened #702 "On-Demand route appears twice in departure list"
When displaying the [departure list for a stop](https://herrenberg.beta.stadtnavi.eu/haltestellen/hbg%3Ade%3A08235%3A9050%3A1%3A3) wich is served by on demand routes, these routes are rendered twice in the list:

<img width="475" alt="grafik" src="https://user-images.githubusercontent.com/2187389/123421408-14d57200-d5bd-11eb-8187-07f5c4de4eb6.png">

This is caused by the trip being modelled in as

[2021-06-25 14:13] Denis306 opened #704 "Convert the Road Works lines to red and white dashed ones"
Currently the road works are displayed with a red line. This is quite confusing to the user as the bus lines\stops are also red.

Please reduce the width of the line and change the color to be dashed red and white.

[2021-06-25 16:22] #689 closed, assigned to andreashelms

[2021-06-27 09:20] ahmed-nawar opened #708 "Translation needed"
The message on top should be: "stadtnavi is available now as a native app for your mobile phone."

![image](https://user-images.githubusercontent.com/84456072/123539289-4115fd80-d739-11eb-86cf-e383e7ac2990.png)

[2021-06-27 09:25] ahmed-nawar opened #709 "The car mode is broken"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.5943214%2C8.8621132/Stuttgart%20Main%20Station%2C%20Stuttgart%3A%3A48.7856099%2C9.1833959?time=1624785707

An error occurs when clicking on the car mode to show details.

**_Search for any route_**
![image](https://user-images.githubusercontent.com/84456072/123539449-1ed0af80-d73a-11eb-845c-3857a711

[2021-06-27 09:50] ahmed-nawar commented on #564
This is not fixed on the beta version yet.

[2021-06-27 10:03] sara-georgy opened #710 "Feedback User 284: icons display"
display (rendering order) of icons on the map is (sometimes) not very useful. For example the Carsharing station "Bahnhof" is located at the parking ground. The icon of the parking ground is partially covering the icon of the Carsharing station. (see image)
![image](https://user-images.githubusercontent.com/84382750/123540523-b71d6300-d73f-11eb-8e62-a196a2dc6ac0.png)

But Carsharing offer is more

[2021-06-27 10:36] sara-georgy opened #711 "Feedback User 285: report defect on icons"
There is no problem reporter (Mängelmelder) integrated for an icon-location. Stations like charging stations need a problem reporter the most. Please insert it (with all the parameters of that specific location: geoposition and adsress, type of location (charging station), current status (one available), time of reporting (now)) as a row above "Use as Origin" and "Use as Destination".

![image](ht

[2021-06-27 10:47] sara-georgy commented on #666
another suggestion came from the user feedback is to open a new tab also for the feedback form so that users can still see and use the StadtNavi app in parallel to submitting (to generate screenshots and detailed descriptions to reproduce the issue)

[2021-06-27 10:49] sara-georgy opened #712 "Feedback User 286: feedback form in English"
For StadtNavi language setting EN please provide the form in English so it would be easy for foreign speakers to report feedback.

[2021-06-27 10:51] MartinH-open commented on #710
Update from the Android 1.3.6 version (and beta version)
Here the rendering order works ok and looks like here:
![image](https://user-images.githubusercontent.com/1383111/123541595-a53ebe80-d745-11eb-9bc6-02f0f2ab366d.png)

But the Android app version display less "P" icons for the same location "Gärtringen Bahnhofstr. Nord"  (for the web ui there are 2 such icons with that label)
Strange that app

[2021-06-27 11:06] MartinH-open commented on #501
Depending on how you enter the same origin and destination the situation is already sometime detected somehow and such hints are given: "No route suggestions were found because the origin and destination are very close to each other."
But when using the same POI location with "Use as Origin" and "Use as Destination" this is not detected by StadtNavi and questionable and strange routes (detours) ar

[2021-06-27 11:22] sara-georgy opened #713 "Feedback from Ansgar: new synonym for Tübingen Hauptbahnhof"
The new synonym "Tübingen Bahnhof" should be added to Tübingen Hauptbahnhof.

[2021-06-27 11:54] ahmed-nawar commented on #352
@leonardehrenfried The fares are not shown in the dev and beta system but are shown on the production.

[2021-06-27 13:20] ahmed-nawar commented on #618
This is fixed on the beta version.
The dev is broken.(see screenshot)
https://dev.stadtnavi.eu/reiseplan/Schuhhaus%20Breitner%20e.K.%2C%20Bronngasse%2019%2C%2071083%20Herrenberg%3A%3A48.5955157%2C8.86795/Sommerrain%209%2C%2071083%20Herrenberg%3A%3A48.5911992%2C8.859850849999999?time=1624829400
**_Suggestions for route_**
![image](https://user-images.githubusercontent.com/84456072/123545968-1046c00

[2021-06-27 13:28] ahmed-nawar opened #714 "Avoid walking weird behavior"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Schuhhaus%20Breitner%20e.K.%2C%20Bronngasse%2019%2C%2071083%20Herrenberg%3A%3A48.5955157%2C8.86795/Sommerrain%209%2C%2071083%20Herrenberg%3A%3A48.5911992%2C8.859850849999999?locale=en&time=1624829400

Suggestions appear when toggle ON the avoid walking toggle.
Also the P&R tile is shown when the toggle in ON

**_Suggestions while `Avoid walking: OFF`_

[2021-06-27 13:42] MartinH-open commented on #647
BTW - in StadtNavi I'm missing the Taxi Option - as Taxi is considered being part of the ÖPNV story. It should be offered as a last resort if nothing else suits. (It could be an option to turn Taxi service on or off). Also this option helps to find a suitable Taxi service for your area.

[2021-06-27 13:46] ahmed-nawar commented on #714
I tried the same scenario again after a few minutes and this message showed. (Inconsistent behavior)
![image](https://user-images.githubusercontent.com/84456072/123546770-4e91ae80-d75e-11eb-8996-ea2825054751.png)

Also, how does the avoid walking on return more results than when it is turned off.

[2021-06-27 14:03] ahmed-nawar opened #715 "Ruftaxi unexpected behavior"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Aerospace%20Lab%20e.V.%2C%20Berliner%20Stra%C3%9Fe%201%2C%2071083%20Herrenberg%3A%3A48.59471898222628%2C8.85652542114258/Seestra%C3%9Fe%2017%2C%2071154%20Nufringen%3A%3A48.6200873639028%2C8.892831802368166/?time=1624829400

Following this comment https://github.com/stadtnavi/digitransit-ui/issues/590#issuecomment-865920069 from @leonardehrenfried
I tr

[2021-06-27 14:53] ahmed-nawar commented on #689
@leonardehrenfried when will the new live bus locations be available on the Beta version?

[2021-06-27 15:28] ahmed-nawar commented on #693
**Another scenario**
https://herrenberg.beta.stadtnavi.eu/reiseplan/Bahnhof%20Herrenberg%2C%20Bahnhofstra%C3%9Fe%2014%2C%2071083%20Herrenberg%3A%3A48.593861700000005%2C8.86307270000001/Stuttgart%20Hauptbahnhof%20(tief)%2C%20Stuttgart%3A%3A48.7830723%2C9.1799271/?time=1624807311

_Reproduce_
1. Click on the link
2. Observe itins
3. Click on the P&R
4. No car leg appears

_Observation:_
When the ori

[2021-06-27 18:44] leonardehrenfried commented on #689
Will be tomorrow morning. You can check dev for a preview: https://dev.stadtnavi.eu/

[2021-06-27 19:02] leonardehrenfried commented on #715
You're right that it's confusing but after a lot of experimenting, we arrived at this solution as the least confusing.

We do the following:

- We treat a Ruftaxi as a normal bus - which it is, but you have to call ahead of time
- On top of this, if your destination is within 300 meters of a bus stop of that particular "bus" line then the tab for the Ruftaxi appears. Because of all these limitatio

[2021-06-27 19:03] #715 closed, assigned to nobody

[2021-06-27 19:13] leonardehrenfried commented on #709
Yes, this is something that I noticed on Friday, fixed, and immediately deployed straight to prod, skipping beta.

[2021-06-27 19:35] #704 closed, assigned to andreashelms

[2021-06-27 19:42] #555 closed, assigned to andreashelms

[2021-06-27 20:24] MartinH-open commented on #715
@leonardehrenfried - thanks for explaining a bit. Still not very clear for a normal user. (I spent hours to understand StadtNavi Ruftaxi concept)
Why to "hide" the Ruftaxi on the far most tab as the last option?
Why not treat it like an additional bus connection if this is available for the destination?
Example: here the RT779 ist provided as a regular service with the regular bus stop (8 min).
![

[2021-06-27 20:28] MartinH-open commented on #715
And BTW - the displayed hint does not fit to such situations where besides foot and bike also Ruftaxi and Car are alternatives:
![image](https://user-images.githubusercontent.com/1383111/123558508-e612f380-d796-11eb-9937-fdb8cd61ab19.png)

[2021-06-27 20:42] MartinH-open commented on #715
With every mode deselected (no bus, no bike, no car, avoid walking) and walking speed = low I get this regular Ruftaxi line as a proposal which includes some 550m of walking.
![image](https://user-images.githubusercontent.com/1383111/123558711-02636000-d798-11eb-8ecd-09d0d4600b29.png)

If I change the walking speed to normal I get a Ruftaxi proposal on the tab with "home-serving" which takes me al

[2021-06-27 20:57] MartinH-open commented on #709
Oh - similar can still happen on production as of now: https://herrenberg.stadtnavi.eu/
I just ran into it then selecting the foot tab after using the Ruftaxi tab.

[2021-06-28 08:32] ahmed-nawar commented on #715
@MartinH-open I just tried it. It seems that the walking speed is a deciding factor for which the RT tile appears. Confusing IMHO.

[2021-06-28 08:35] ahmed-nawar commented on #715
The RT tile didn't show so I assumed that there isn't a line that can drop me off directly at the destination like you just said. But the confusing part is that when I clicked on the itinerary details, a message with extra fees shows. I think you mentioned to me before that this message only shows if the RT will drop the user directly at the destination.

[2021-06-28 08:47] andreashelms commented on #606
@leonardehrenfried The issue with the cached route will also be solved by removing relay cache from `client.js`. Is there already a ticket for that?

[2021-06-28 08:56] #585 closed, assigned to nobody

[2021-06-28 08:58] andreashelms commented on #698
Can't reproduce this issue. Looks good to me.
![image](https://user-images.githubusercontent.com/21622725/123609220-c4018b80-d7ff-11eb-967e-06cee0ef5a4b.png)

[2021-06-28 08:59] #638 closed, assigned to nobody

[2021-06-28 09:03] sara-georgy commented on #669
I'll close this issue as the scenario is not reproducible anymore.

[2021-06-28 09:03] #669 closed, assigned to nobody

[2021-06-28 09:20] derhuerst commented on #691
[The fix for this](https://github.com/stadtnavi/fares-service/commit/c1fdba58211fc2751dadd8c823c2738f89396cc0) should be deployed now.

On `dev.stadtnavi.eu`, retrieving fares currently fails for a different reason (CORS headers). ~~Please re-open if this doesn't work.~~

[2021-06-28 09:24] ahmed-nawar commented on #709
I cannot reproduce the issue. Can you walk me through it?

[2021-06-28 09:25] leonardehrenfried commented on #606
No, there isn't. Can you create a PR - no need for a ticket.

[2021-06-28 09:26] leonardehrenfried commented on #715
These are all good points, @MartinH-open and @ahmed-nawar .

I was not quite precise enough: we consider a route "to door delivery" if there is less than two minutes walking at the end of the route. That's why - if you are at the border of one of those 300m zones - you might see the result (or not) if you change the walking speed. If this continues to be a source for confusion we can change the ch

[2021-06-28 09:41] nghanem-poet-egypt commented on #693
@leonardehrenfried Ahmed's last comment has the scenario that I was telling you about today in the morning. When I click on P+R nothing changes, only transit routes are shown.

[2021-06-28 10:14] ahmed-nawar commented on #681
Related to https://github.com/stadtnavi/digitransit-ui/issues/693#issuecomment-869537178

[2021-06-28 10:21] ahmed-nawar commented on #667
The Ruftaxi tile doesn't show. I think it is fixed.

[2021-06-28 10:21] #667 closed, assigned to nobody

[2021-06-28 10:51] leonardehrenfried commented on #709
The fix is on beta since last night.

[2021-06-28 10:53] leonardehrenfried commented on #691
Tickets are now again on all environments although i did find quite a few cases where no prices is returned: https://github.com/stadtnavi/fares-service/issues

[2021-06-28 10:54] leonardehrenfried commented on #352
Tickets are now again on all environments although i did find quite a few cases where no prices is returned: https://github.com/stadtnavi/fares-service/issues

[2021-06-28 10:56] ahmed-nawar commented on #352
Should we close the issue or leave it until all the cases are fixed?

[2021-06-28 10:57] leonardehrenfried commented on #352
I would close it.

[2021-06-28 10:58] #606 closed, assigned to andreashelms

[2021-06-28 12:05] MartinH-open commented on #709
On the beta at this time I can still get into the error situation:
![image](https://user-images.githubusercontent.com/1383111/123632788-a1c83780-d818-11eb-9a82-b54f82bb4c1b.png)

After this the click on the "RufTaxi" tab does not change anything.
And then click on the "walking tab" and you see this
Ein Fehler ist aufgetreten
Nochmal versuchen
There was an error
Try again
![image](https://user-imag

[2021-06-28 12:11] nghanem-poet-egypt commented on #597
@leonardehrenfried Can you please merge it as we discussed and tell us when it's merged?

[2021-06-28 12:13] leonardehrenfried commented on #597
@andreashelms will

[2021-06-28 12:20] MartinH-open commented on #709
As of now I can get into same error case on https://herrenberg.stadtnavi.eu/ (with a few more clicks)

[2021-06-28 12:24] #352 closed

[2021-06-28 13:07] Denis306 opened #720 "Remove "(Beta)" from the Live Bus Location Layer name"
Please remove the "(Beta)" part of the live bus location map layer name.

[2021-06-28 13:55] Denis306 opened #722 "Change the style of the road works lines to dotted red"
currently the road works lines are red like the bus lines. please make the road works lines dotted red like already discussed and done in the following issue from the mobile app:
https://github.com/stadtnavi/stadtnavi_app/issues/184

[2021-06-28 13:57] #720 closed, assigned to andreashelms

[2021-06-28 14:08] #659 closed, assigned to andreashelms

[2021-06-28 14:25] nghanem-poet-egypt opened #724 "Reset origin and destination fields"
This issue has the following triggers- after I have entered Origin and Destination and a certain route is shown I can:
- [x] **1. click on Stadtnavi Logo**
-- Current behavior: the route disapears but the user inputs stay the same
-- Expected behavior: both origin and destination should be deleted and the initial state of the map should be loaded
- [x] **2.  click on Startseite in Menu**
-- Curren

[2021-06-28 14:33] nghanem-poet-egypt opened #726 "Carpool is not working / should be removed if not fixed"
As discussed currently no routes are shown with the mode "Carpool/Fahrgemeinschaft". There is a problem with the Carpool service and it's waiting feedback.

- We suggest that the option is removed from the settings until the problem is fixed because it will be confusing for the user if the user keeps looking for carpool routes and nothing appears.
- Also offering carpool button should be removed u

[2021-06-28 14:44] MartinH-open commented on #724
in general the map focus is reset to Herrenberg city far to often.
It should be reset only for some above few exceptions (Home button, Startpage).
Else if you are defining the origin and destination the map should just continue to show the current map portion instead of zooming back to home position Herrenberg. Eg. If you plan a route from Kuppingen to Gärtringen you don't want to focus the map to

[2021-06-28 14:44] #722 closed, assigned to andreashelms

[2021-06-28 15:24] andreashelms commented on #618
Now works on dev, too. Can't reproduce anymore.

[2021-06-28 15:54] Denis306 commented on #586
I will check If this is implemented like this upstream. If yes, we will create an issue there.

[2021-06-28 15:58] #618 closed, assigned to andreashelms

[2021-06-28 15:59] #698 closed, assigned to andreashelms

[2021-06-28 16:04] #646 closed, assigned to andreashelms

[2021-06-28 16:07] #696 closed, assigned to andreashelms

[2021-06-28 16:32] #678 closed, assigned to andreashelms

[2021-06-28 16:55] ahmed-nawar commented on #618
I confirm that I cannot reproduce on dev. But there is a warning message which I think is unnecessary.
[code]

[2021-06-28 19:03] leonardehrenfried commented on #552
It's gone on beta.

[2021-06-28 19:03] leonardehrenfried commented on #555
It's on beta.

[2021-06-28 19:04] leonardehrenfried commented on #659
It's on beta.

[2021-06-28 20:56] nghanem-poet-egypt commented on #574
Issue was fixed

[2021-06-28 20:56] #574 closed, assigned to nobody

[2021-06-28 21:09] nghanem-poet-egypt commented on #680
Can we add "Taxi" to the line that says "Car, Bike, Cargo bine sharing" so that it's more clear?

[2021-06-29 09:22] leonardehrenfried opened #730 "Remaining bus position issues"
- [ ] Departure time in popup is hard to understand for users
- [x] a bus should dissappear from the map once it reached it's final destination
- [x] busses seem to constantly show "niedrige Auslastung", even if in prod they show "mittlere Auslastung" and even if they have no sensor on board (no planned bus could have this info, no?)
- [x] When selecting "route information" in popup, all busses on

[2021-06-29 09:48] MartinH-open commented on #730
If would agree with "a bus should disappear from the map once it reached it's final destination" - but you might want to keep it displayed for some minimum time (~2 minutes?) after it reached the final destination with that fixed position (instead of real position - in case bus is moving on to somewhere else)

[2021-06-29 10:19] leonardehrenfried commented on #730
Just had a chat with Joel from Helsinki and he said that he doesn't think that this feature exists upstream. I will implement this a send a PR upstream.

[2021-06-29 10:21] nghanem-poet-egypt opened #731 "Clicking on Ruftaxi tile causes an error"
Try this route https://herrenberg.beta.stadtnavi.eu/reiseplan/Stuttgart-Mitte%2C%20%20Stuttgart%3A%3A48.7759%2C9.1798/Kuppingen%2C%2071083%20Herrenberg%3A%3A48.610752%2C8.8431229/onDemandTaxi?time=1625000400

Also happens here: https://herrenberg.beta.stadtnavi.eu/reiseplan/Seestra%C3%9Fe%2025%2C%2071083%20Herrenberg%3A%3A48.59759981451169%2C8.86927127838135/GWW%2C%20Adlerstra%C3%9Fe%203%2C%207108

[2021-06-29 10:28] Denis306 opened #732 "Change "Jetzt Buchen" to "Buchen" in the Cargo bike box detail info panel"
Please change "Jetzt Buchen" to "Buchen" in the cargo bike station panel.
https://herrenberg.stadtnavi.de/fahrradstationen/cargobike-herrenberg

[2021-06-29 10:29] sara-georgy opened #733 "Feedback User: route suggestion"
origin: Seniorenzentrum Wiedenhöfer-Stift
destination: Volksbank Herrenberg-Nagold-Rottenburg, Hindenburgstraße 14-18
current behavior: the system shows walking and cycling routes only
expected behavior: a bus route should also be included as one can take the bus 782 from Seniorenzentrum to the Hindenburgstr. (VVS offers this route, see screenshot)
![image](https://user-images.githubusercontent.co

[2021-06-29 10:55] hbruch commented on #733
Might be a data issue, as stop Seniorenzentrum appears only as outward stop in the map:

<img width="1071" alt="image" src="https://user-images.githubusercontent.com/2187389/123785792-38f4c400-d8d9-11eb-85be-7481dae5aac9.png">

I'll look into this...

[2021-06-29 11:32] hbruch commented on #733
Not a data issue, both Seniorenzentrum stops have exactly the same coordinate in the GTFS data. There is also a trip. When walking speed is reduced or avoid walking is enabled, transit connections are shown, so transit Is filtered as it is slower than walking here.

https://herrenberg.stadtnavi.de/reiseplan/G.-F.-H%C3%A4ndel-Stra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.595499519513524%2C8.879098892

[2021-06-29 12:12] leonardehrenfried commented on #733
This is missing from the Routing Spec document. I will add that.

It's also good to see that Avoid walking does have a purpose.

[2021-06-29 12:14] leonardehrenfried commented on #731
@andreashelms This runs into a timeout in the backend. Whilst it ultimately needs to be fixed there, can we hide the tile if this happens?

[2021-06-29 12:32] Denis306 opened #734 "Change decimal seperator of the ticket prices from "." to ",""
Please transform the "." (Period) into a "," (Comma) in the ticket prices. The backend currently sends it with a period but we would like to have it with a comma.

[2021-06-29 12:56] MartinH-open commented on #734
This display of numbers and prices is a question of the selected front end language settings. That layer should decide how to present this objects to the user.
e.g. for German language setting display "," (Comma) for other languages this might be different.

[2021-06-29 13:41] #692 closed, assigned to andreashelms

[2021-06-29 14:13] andreashelms commented on #724
Actually implementing the clear origin/destination fields feature when clicking the [x] button (Point 3) isn't that easy, because the code of two sub-packages within repository (`digitransit-component-autosuggest` and `digitransit-component-autosuggest-panel`) needs to be changed. I spend some time on investigating how to implement that, but decided two leave that feature out for now because the e

[2021-06-29 14:34] andreashelms commented on #731
Not needed, I can fix this quickly.

[2021-06-29 21:21] #731 closed, assigned to andreashelms

[2021-06-30 07:48] andreashelms commented on #685
@leonardehrenfried The name "Bicycle Parking" of the bike park comes from the backend. Will you change that or how should we deal with that?

[2021-06-30 08:09] #666 closed, assigned to andreashelms

[2021-06-30 08:10] #734 closed, assigned to andreashelms

[2021-06-30 09:53] #599 closed, assigned to andreashelms

[2021-06-30 11:28] #732 closed, assigned to andreashelms

[2021-06-30 11:28] #724 closed, assigned to andreashelms

[2021-07-07 13:17] leonardehrenfried opened #746 "Investigate display of delay information in digitransit-ui"
@hbruch has reported that a delayed train's departure time is displayed with a green font. Lets gather the necessary data here.

So there is the config `delayThreshold`: https://github.com/HSLdevcom/digitransit-ui/blob/716bc61734c78ccf3d8b5527324aa81a8e3c80c3/app/configurations/config.default.js#L180

It's currently set to 180s but we override to 60s in Herrenberg.

However, there is also code tha

[2021-07-07 14:09] leonardehrenfried commented on #746
Herrenberg's config reduces this to 60s but it seems that the leg's `departureDelay` is never requested from the server. It's the same for upstream.

[2021-07-13 08:03] #350 closed

[2021-07-13 08:03] #597 closed, assigned to nobody

[2021-07-13 08:10] #654 closed, assigned to Beck-berry

[2021-07-13 09:09] #674 closed, assigned to Beck-berry

[2021-07-13 09:23] #550 closed, assigned to Beck-berry

[2021-07-13 09:23] #653 closed, assigned to jpidelatorre, Denis306

[2021-07-13 09:51] leonardehrenfried commented on #681
Duplicate of #693

[2021-07-13 09:51] #681 closed, assigned to leonardehrenfried

[2021-07-13 18:28] Beck-berry commented on #746
You were right, the query in the ItineraryTab component missed the `departureDelay` field.

It should be orange as I remember... Is it correct?
![image](https://user-images.githubusercontent.com/46535522/125506211-bceca2cd-4c78-419c-a00d-a1a133f95b96.png) or ![image](https://user-images.githubusercontent.com/46535522/125506384-0a8bc77e-3c06-4163-8589-ae31cbbf85fa.png)

We used to have another opti

[2021-07-13 18:42] Beck-berry commented on #746
Found another bug:
![image](https://user-images.githubusercontent.com/46535522/125507558-7efdf3db-d155-4190-8aac-45a00f18b727.png)
Occurs when the transit leg is realtime but the delay is 0.

Fixed this one :tada:

[2021-07-14 09:36] leonardehrenfried commented on #746
Yes, please restore the DT1 style again:

- A delayed train is displayed in red with the original time displayed but crossed out
- Realtime is green
- Too early is shown as green with the original time crossed out
- Also apply this style to arrival time

Also apply the red/green style to the overview page:

![Screenshot from 2021-07-14 11-36-26](https://user-images.githubusercontent.com/151346/125

[2021-07-14 10:12] leonardehrenfried opened #747 "Exclude non-P+R lots from P+R results"
In the city of Herrenberg we have a lot more detailed information about parking lots.

This means however that lots are used for P+R when they should not, like the one near the train station where you are only allowed to park for a short amount of time.

For this reason we should add the following request parameters to the P+R request:

[code]

Here is a route with an unwanted parking lot.
![Scree

[2021-07-14 10:30] hbruch commented on #747
Please do not bann Park-Carpool, as this would disallow switching to a carpool passing by this parking.

[2021-07-14 11:03] leonardehrenfried commented on #747
Ticket corrected.

[2021-07-14 12:17] leonardehrenfried commented on #747
After the change it looks like this.

![Screenshot from 2021-07-14 14-15-46](https://user-images.githubusercontent.com/151346/125620410-9bbdeba6-5bd1-4233-9ae6-c27709e4eef8.png)

What is a little strange though is that the parking lot on Bahnhofstr. isn't used in this case (it is in others, so it's not banned). My guess is that because it's complicated to drive there (one-way) and more walking, it

[2021-07-14 16:31] #747 closed, assigned to nobody

[2021-07-17 12:56] Beck-berry commented on #746
As on the ItineraryTab only the departure times are shown (each time represents the departure time of the corresponding leg), how do you expect this to function? If there is a delay, the start of the next leg (for example if it's walk or ride) is calculated with the delayed time already.

![image](https://user-images.githubusercontent.com/46535522/126037553-d015bb34-9c97-4473-95e6-4061459abcf3.png

[2021-07-21 07:19] leonardehrenfried commented on #746
Ah, the time at the bottom doesn't represent the arrival of the train but the start of the bike leg? Hmm, hmm, @hbruch do you have an opinion here?

Yes, I meant the time at the bottom, not at the top.

[2021-07-21 07:49] leonardehrenfried commented on #746
I know that it has been done this way by upstream, but I _do_ find it confusing that it shows the start of the next leg at the bottom.

![Screenshot from 2021-07-21 09-43-09](https://user-images.githubusercontent.com/151346/126451565-1dd25f84-7179-4386-9817-0beb6a242f38.png)

@hbruch Should we try to coordinate with upstream or have they been adamant that they don't want to change it? I can't reme

[2021-07-21 08:19] leonardehrenfried commented on #746
@Beck-berry Can you investigate how much work it is to put the arrival time of the public transport leg, including the delay info, there?

[2021-07-21 09:22] hbruch commented on #746
Yes, please contact upstream. Probably a feature toggle to activate this behavior makes sense.

[2021-07-23 21:55] leonardehrenfried opened #750 "Add booking information about bike lockers to bike parking layer"
There is a new fake bicycle parking station that is a bike locker for demo purposes.

We would like to add booking information to it.

You can see the parking facility by visiting the following URL: http://localhost:8080/fahrradparkplaetze?lat=48.59368009500008&lng=8.862429969012737&name=OpenBikeBox+am+Bahnhof+Herrenberg&maxCapacity=4

![Screenshot from 2021-07-23 23-59-02](https://user-images.git

[2021-07-23 22:03] leonardehrenfried commented on #750
@hbruch Do we also want to add an image here?

Also, which booking page should be link to?

[2021-07-23 22:06] leonardehrenfried opened #751 "Add booking information about bike locker to itinerary view"
Read #750 first, please.

Please also add the booking button to the itinerary view, too.

![Screenshot from 2021-07-23 23-56-44](https://user-images.githubusercontent.com/151346/126846054-134063ff-50e8-4f65-bce3-cf460d91bf4f.png)

Again, check if the ID of the bike park starts with `open-bike-box`.

A route which uses this parking lot is this: A route which uses this bike parking lot is this: http

[2021-07-24 08:18] Beck-berry commented on #746
It wasn't really hard:

![image](https://user-images.githubusercontent.com/46535522/126862373-940574c7-7b3e-4249-a7c3-8e8513100ea7.png)

I added a new component and use it for all the non-transit legs "start time" to display the previous leg's arrival time.

[2021-07-24 20:40] #751 closed, assigned to nobody

[2021-07-24 20:40] #750 closed, assigned to nobody

[2021-07-30 07:58] #226 closed

[2021-07-30 08:50] #746 closed, assigned to Beck-berry

[2021-07-30 09:15] leonardehrenfried opened #752 "Display red/crossed out delay information also on route view"
In #749 we changed the display of delay information in the itinerary view.

However, on the view showing the entire route the delay is still shown in green.

The following shows a view where a train is actually delayed.

![Screenshot from 2021-07-30 10-47-17](https://user-images.githubusercontent.com/151346/127630554-24bc6fd6-d1eb-49b2-9cf3-a2b83d4e6011.png)

The green text suggests that everythin

[2021-08-02 18:21] Beck-berry commented on #752
You did not mention the original time but I put it there anyway:
![image](https://user-images.githubusercontent.com/46535522/127904106-41ea6510-25c1-4901-acf6-bdf4938f4ce8.png)

What do you think?

By the way, I could not use the newly created component. Luckily, the one used here needed only a little modification, so I hope this solution will be ok too.

[2021-08-03 09:26] leonardehrenfried commented on #752
Yes, this is exactly what we need

[2021-08-19 14:33] dancesWithCycles opened #754 "Error with 'Start development version'"
Hi folks,
Thank you so much for this awesome repository. I am following the [Installation](https://github.com/Stefan-Begerad/digitransit-ui/blob/next/docs/Installation.md) instructions. The instruction ```CONFIG=huejavbn yarn run dev``` comes back to me with the following error. I appreciate any hint pointing me in the right direction. Cheers!

[code]

[2021-08-19 14:52] leonardehrenfried commented on #754
Are you on node 10? It's the only version supported.

Have you installed watchman?

[2021-08-19 15:38] dancesWithCycles commented on #754
What a classic! I am sorry for bothering anyone. Yes, my terminal was set to the wrong node version. Everything is fine with node version v10.24.1. Thanks! Cheers!

[2021-08-20 09:20] #754 closed, assigned to nobody

[2021-08-20 10:10] dancesWithCycles opened #755 "Error with 'Installation: Start production version'"
Hi folks,
I managed to run this repository in development mode with your help in issue #754.

Now I would like to run it in production mode. According to the installation [doc](https://github.com/stadtnavi/digitransit-ui/blob/next/docs/Installation.md) in the `next` branch, I invoked these instructions.

[code]

This time I checked the node version in advance.

[code]

However, I only receive the

[2021-08-20 19:16] leonardehrenfried commented on #755
Check this out:   # setting a non-empty default value for NODE_OPTS

[2021-08-20 19:16] leonardehrenfried commented on #755
Check this out: https://github.com/stadtnavi/digitransit-ui/blob/f867ec91b3be022bf61de3bb7cfae37ea8fd54d7/Dockerfile#L22

[2021-08-21 05:07] dancesWithCycles commented on #755
Cheers @leonardehrenfried !

[2021-08-21 05:07] #755 closed, assigned to nobody

[2021-08-24 14:07] dancesWithCycles opened #756 "Question: Where is file stadtnavi-social-media-card.png?"
Hi folks,
How is it going? I am studying this repository and came across a file called `stadtnavi-social-media-card.png` that is used in line 115 of the file [config.hbnext.js](https://github.com/stadtnavi/digitransit-ui/blob/next/app/configurations/config.hbnext.js). However, I do not find a so called file. Who can help? Cheers!

[2021-08-24 21:21] dancesWithCycles opened #757 "Question: Interested in 'config.*.js' documentation?"
Hi folks,
for people new to [digitransit-ui](https://github.com/HSLdevcom/digitransit-ui), learning the `config.*.js` files might have a steep learning curve. That is why I started a [branch/PR](https://github.com/dancesWithCycles/digitransit-ui/blob/config/docs/Configuration.md) describing the variables in those `config.*.js` files.

Please let me know if I shall make those commits also available

[2021-08-25 08:11] leonardehrenfried commented on #756
It's on a different branch: https://github.com/stadtnavi/digitransit-ui/blob/master/static/img/stadtnavi-social-media-card.png

Seems like we neglected to move it when we upgraded to the new version of DT.

[2021-08-30 10:35] hbruch commented on #757
Hi @dancesWithCycles!

Thanks for your input and questions. We are always happy with additional documentation. Most helpful would be to have it upstream with HSLdevcom/digitransit-ui (if they do not relate to specific stadtnavi extensions). Would you like to request a merge there?

Regarding your questions above:
searchParams are used by [geocoding queries](https://github.com/stadtnavi/digitransit

[2021-08-30 17:22] dancesWithCycles commented on #757
Hi @hbruch ,
Thank you so much for your answer. I would be happy to request a merge upstream. Cheers!

[2021-08-30 17:22] #757 closed, assigned to nobody

[2021-08-30 17:28] dancesWithCycles commented on #756
Hi @leonardehrenfried ,
Thank you so much for your reply. Are you doing anything else then [stadtnavi](https://github.com/stadtnavi). I have the feeling you are more or less waiting to interact with contributors and I am almost always get a prompt reply to everything I am active in this repository. ;-) Appreciate!

Would you say this file should be part of the next branch? If so, shall I help to m

[2021-08-30 19:44] leonardehrenfried commented on #756
Thanks for being appreciative.

Besides stadtnavi I also work on other projects but I try to be as encouraging to potential contributors as I can. I'm glad that it shows.

Yes, I'd love to have this file on the next branch.

[2021-09-01 01:07] dancesWithCycles commented on #756
You find the respective pull request in #758.

[2021-09-01 01:07] #756 closed, assigned to nobody

[2021-09-08 08:43] leonardehrenfried opened #759 "Create lollipop icons for bike sharing and scooters"
For the map marker of the sharing mobility providers we need to create the so so-called lollipop icons.

These come in a few different sizes and badge colours. Some examples:

![Screenshot from 2021-09-08 10-18-42](https://user-images.githubusercontent.com/151346/132473153-6a0cf87d-8b02-4f01-b1de-ee0b262b6f11.png)
![Screenshot from 2021-09-08 10-18-46](https://user-images.githubusercontent.com/151

[2021-09-08 10:58] leonardehrenfried opened #760 "Use fallback for bike sharing popup when name is empty"
When running with the following config:

[code]

you can see that the rental bikes (actually scooters) popups are empty:

![Screenshot from 2021-09-08 12-42-56](https://user-images.githubusercontent.com/151346/132497648-f154ff83-88ff-4bea-b90d-3c639b6ade65.png)

This is because DT assumes that these are stations that have a name. These individual scooters have no names.

**Acceptance criteria**

W

[2021-09-08 11:14] leonardehrenfried opened #761 "Configure new icons for tier-reutlingen"
Depends on #759 .

After having created the lollipop icons, please configure them so that

- on the map view the various round icons are being shown
- on the side panel the square icon with the scooter is shown
![Screenshot from 2021-09-08 13-13-45](https://user-images.githubusercontent.com/151346/132499715-ce674983-96c9-4f3b-9bcc-bbbbb0a4f9c8.png)

[2021-09-08 11:16] leonardehrenfried opened #762 "Fix name and icon in selector popup"
Depends on #761

When there is no name right now we use the id as a fallback, but in the TIER case this is ugly as well.

![Screenshot from 2021-09-08 13-15-03](https://user-images.githubusercontent.com/151346/132499934-f524b526-f633-4e0c-bc0d-a66a0b3c0cee.png)

Again just use the translation for `{network}-station-no-id` as the fallback.

Please also make sure that the popup shows the square scoo

[2021-09-08 11:28] leonardehrenfried opened #763 "Harmonise styling in selector popup"
In DT1 we replaced "Haltestelle auswählen" mit "Option auswählen". Can you restore that?

Also, please harmonise the styling in the various rows of the selector:

![image](https://user-images.githubusercontent.com/151346/132501471-8d27c1a7-739f-4737-9a00-ad295a688790.png)

The top row is the correct styling for DT-2.

[2021-09-08 12:32] leonardehrenfried opened #764 "Allow configuration of initial zoom level"
When opening up https://muensingen.dev.landstadtmobil.de/ the map is too far zoomed out to realise which is the relevant part.

Please allow setting the inital zoom level in the config.

[2021-09-10 14:53] #759 closed, assigned to Beck-berry

[2021-09-10 14:54] leonardehrenfried commented on #761
Closed by #765.

[2021-09-10 14:54] #761 closed, assigned to Beck-berry

[2021-09-10 15:04] leonardehrenfried opened #766 "Take bike-only charging station into account"
The following charging station https://landstadtmobil.de/ladestationen?lat=48.41251072575901&lng=9.534502029418947&name=ChargerCube+E-Bike+Ladestation+Biosph%C3%A4renzentrum+Auingen&stationId=3172

![Screenshot from 2021-09-10 16-56-06](https://user-images.githubusercontent.com/151346/132873881-89e8b74e-3d61-4b41-83d8-4bd0b4f5eba9.png)

is actually not a car charging one but just for e-bikes.

We

[2021-09-29 07:38] hbruch opened #771 "park/bike & ride itinineray in map should display (bicycle) parking icon"
For citybike legs, the citybike station's icons of the leg are rendered on the map (regardless if the map layer is activated or not).

For (bicycle or car) parking facilities on park-legs, this should be the case as well, but currently is not, as can be seen e.g. [in this trip](https://herrenberg.stadtnavi.de/reiseplan/Thingstra%C3%9Fe%2C%2070565%20Stuttgart%3A%3A48.7181674%2C9.0973286/Augustenstr

[2021-10-19 11:14] hbruch commented on #771
Fixed via upstream merge

[2021-10-19 11:14] #771 closed, assigned to Beck-berry

[2021-10-19 20:59] Beck-berry commented on #766
Just to clear things here, since I got confused:
`c` stands for car capacity
`ca` is the available capacity
`cb` means bike capacity
and `cu` represents the unknown capacity.
If ever I forget about it again, I'll remember this ticket! :D

[2021-11-07 07:04] hbruch opened #776 "Screen reader messages not rendered localized"
A couple of `sr_only`elements are not rendered as localized messages.

How to reproduce:
1. open https://herrenberg.stadtnavi.de/
2. open browser developer tools
3. inspect origin address field
4. in html inspector, search for `There are 0 suggestions available`

<img width="636" alt="grafik" src="https://user-images.githubusercontent.com/2187389/140635741-c4592e87-736f-40d7-95e3-983b1e2f765e.png"

[2022-03-07 17:42] hbruch opened #782 "Disabled floating vehicles should not be drawn on map"
Current behavior:
In case a free floating vehicle has `is_disabled: true` set, it is rendered with `icon-icon_xxx_station_closed_xxx`:

<img width="221" alt="grafik" src="https://user-images.githubusercontent.com/2187389/157088340-9111b436-2e61-4430-a7cf-a4f60eec8f71.png">

Expected behavior:
In case a free floating vehicle has `is_disabled: true` set, it should not be rendered on the map.

[2022-03-07 18:14] hbruch commented on #782
Commit https://github.com/mfdz/OpenTripPlanner/commit/71c791041962949aa419d011d5f367fd4b3b2358 returns disabled floating vehiceles with state "Station off". The API currently does not return, if the rental place is a station or a vehicle. While it makes sense to show a closed station in the map, disabled vehicles probably should not be rendered.

IMHO, either, for free floating vehicles state shou