[2021-04-26 15:40] leonardehrenfried commented on #358
@patrickbeck1337 Can you have a look if the ticket is now understandable and concrete enough?

[2021-04-26 15:47] derhuerst commented on #369
https://github.com/TheTransitClock/transitclockDocker/issues/12

[2021-04-26 17:53] Denis306 commented on #365
Which logo is too small?

[2021-04-26 18:44] leonardehrenfried commented on #365
Updated

[2021-04-26 19:40] aaronyamil commented on #365
Thanks @leonardehrenfried

[2021-04-28 09:12] leonardehrenfried opened #373 "Prettify popups (again)"
Since I merged with upstream again many popups look broken. Presumably this is because some CSS changed upstream.

## Cycle infrastructure

![Screenshot from 2021-04-28 13-14-57](https://user-images.githubusercontent.com/151346/116394928-c78a8d80-a823-11eb-871d-96f0ae8785b1.png)
![Screenshot from 2021-04-28 13-14-31](https://user-images.githubusercontent.com/151346/116394932-c8232400-a823-11eb-837

[2021-04-28 10:04] leonardehrenfried commented on #352
@patrickbeck1337 can you please re-read the ticket, check if it is clear and actionable now and remove the label "needs clarification" if that is true?

[2021-04-28 15:13] leonardehrenfried opened #374 "Investigate why clicking on a bike rental station fails"
![Screenshot from 2021-04-28 17-12-44](https://user-images.githubusercontent.com/151346/116428301-1268cd00-a845-11eb-926f-101fe523787e.png)

When clicking on a bike rental station (from the sharing layer) an error occurs.

This is very likely down to the GraphQL API having changed slightly from OTP1 to 2.

Please investigate why the detail view fails and document which property is missing.

[2021-04-28 18:22] patrickbeck1337 commented on #352
Yeah at least for displaying the fares everything should be clear now. So this ticket is just about displaying the fares/ prices right @leonardehrenfried ?

[2021-04-29 14:50] leonardehrenfried opened #378 "Fix background layer switcher"
The background layer switcher looks a little broken.

![Screenshot from 2021-04-29 16-41-07](https://user-images.githubusercontent.com/151346/116570647-b8cad600-a90a-11eb-9dff-54537dc4e365.png)

Acceptance criteria
- Display dot in the radio button (maybe another icon is missing)
- Add margin to the heading
- Line up the radio buttons with the checkboxes in the section above

[2021-04-29 14:51] #365 closed

[2021-04-30 07:51] leonardehrenfried opened #379 "Add missing small icon for car sharing provider"
When you activate the map layer "Sharing", you can see that the small version of the car sharing provider icon is missing.

When you zoom in you can see the larger one.
![Screenshot from 2021-04-30 09-41-22](https://user-images.githubusercontent.com/151346/116664360-a39c8880-a998-11eb-85b0-3009465f938d.png)

But when you zoom out, it's gone. You can see in the console log what the name of the miss

[2021-04-30 08:04] leonardehrenfried opened #380 "Make top bar green again"
![Screenshot from 2021-04-30 10-02-04](https://user-images.githubusercontent.com/151346/116666517-50780500-a99b-11eb-802d-411085d75d73.png)

During the latest upstream merge the CSS for the top bar has changed and now it is blue instead of the Herrenberg green.

Please fix this.

[2021-04-30 13:40] #380 closed

[2021-04-30 15:48] optionsome commented on #374
https://github.com/HSLdevcom/OpenTripPlanner/pull/356 might fix this issue

[2021-05-02 04:46] aaronyamil commented on #379
Hi @leonardehrenfried  I can see the icon:
![image](https://user-images.githubusercontent.com/8564142/116802295-b1a8f100-aadf-11eb-938d-a8ec4380e071.png)

I'm wrong?

[2021-05-02 07:40] leonardehrenfried commented on #379
I'm talking about this one:

![116664360-a39c8880-a998-11eb-85b0-3009465f938d](https://user-images.githubusercontent.com/151346/116805969-61a34c00-ab2a-11eb-9390-6e71936b8817.png)

I disappears depending on the zoom level. Check the console for an error about a missing icon.

[2021-05-02 07:42] leonardehrenfried commented on #379
And please work against the dev backend:

[code]

[2021-05-03 09:28] #368 closed

[2021-05-03 12:33] aaronyamil commented on #373
Hi @Denis306, Leonard comment the following in the pull request: https://github.com/stadtnavi/digitransit-ui/pull/382#issuecomment-831071812

I think we need of Sandra, because the popups will be prettify. this ticket is not just fix the styles, needs a new design more nice.

[2021-05-03 12:43] #374 closed

[2021-05-03 12:44] leonardehrenfried commented on #374
Fixed via https://github.com/opentripplanner/OpenTripPlanner/pull/3450

[2021-05-03 12:52] Denis306 commented on #373
Hi @aaronyamil yes, we are aware of this. Sandra is already working on the proposal for the design changes. Depending on the decision/priorization we will do work on the pop-ups or panels so that it is consistent in mobile and web view.

[2021-05-03 12:57] leonardehrenfried commented on #373
Would I nevertheless be possible to fix the margins in the meantime so the app looks less broken?

[2021-05-03 13:30] aaronyamil commented on #373
Sure!.. I will review my changes and fix the margins. Meanwhile Sandra works in the new design.

[2021-05-03 19:36] derhuerst commented on #350
from the Zulip chat:

[2021-05-04 12:54] the-infinity commented on #366
You will get every information which is shown at your mockup - and even images from the chargestation, if you want.

[2021-05-04 12:56] leonardehrenfried commented on #366
Great. We're not sure if we need the photo but please add it to the API call (not the vector tiles) anyway.

For opening hours: can you output the OSM opening hours spec? https://wiki.openstreetmap.org/wiki/Key:opening_hours

[2021-05-04 13:15] the-infinity commented on #366
This will be a bit complicated because we have exceptions. The source data model is like this: https://github.com/e-clearing-net/OCHP/blob/master/OCHP.md#hourstype-class (XML bug in example included :D )

Result is like this: https://github.com/ocpi/ocpi/blob/master/mod_locations.asciidoc#1414-hours-class .

I can try to create OSM based opening times, as far as I can see exceptions are not suppor

[2021-05-04 13:22] leonardehrenfried commented on #366
Exceptions _are_ supported. You can write something like this:

[code]

However our frontend parser would not understand that anyway so I would not spend too much time on it. An 80% solution is good enough.

[2021-05-05 07:25] leonardehrenfried commented on #370
I neglected to link the PR that implements this in DT1: https://github.com/stadtnavi/digitransit-ui/pull/340

Sorry!

[2021-05-05 11:19] samia-roubaa opened #395 "Changing transport modes results in showing no routings"
Scenario:
Chosen data:
1. Origin: Bahnhof Herrenberg, Bahnhofstraße 14, 71083 Herrenberg
2. To: Grundschule, Nelkenstraße 5, 71083 Herrenberg
3. With the following settings:
![image](https://user-images.githubusercontent.com/83356918/117133110-1a27f480-ada4-11eb-88bb-946106b0f0d1.png)

When I add the transport modes: Carpool and Sharing, the system showed the following message
![image](https://use

[2021-05-05 11:25] samia-roubaa opened #396 "No route shown when choosing the transport mode "car""
Scenario:
inserted data:
Origin: Herrenberg
To: Gäufelden
The system shows the following available modes:
![image](https://user-images.githubusercontent.com/83356918/117133965-3ed09c00-ada5-11eb-85fc-0e738fe99a91.png)

When selecting the car mode, the system does not show any routing details
![image](https://user-images.githubusercontent.com/83356918/117134052-5d369780-ada5-11eb-9b33-e3bda2a3ce9e.

[2021-05-05 14:28] leonardehrenfried opened #385 "Migrate roadworks map layer from master to next branch"
https://herrenberg.stadtnavi.de/ (master branch) has a feature were roadworks are shown on the map. To enable it, use the map layer selector at the bottom left.

![Screenshot from 2021-05-05 16-16-17](https://user-images.githubusercontent.com/151346/117155716-4a2fc180-adbd-11eb-8238-c85cc5ffd401.png)

Please migrate this map layer to the `next` branch.

This feature has been reworked a bunch of ti

[2021-05-05 17:16] #369 closed

[2021-05-05 21:23] hbruch opened #386 "Missing translations"
There are a couple of German translations missing

<img width="442" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117210861-8896a200-adf8-11eb-8188-26476a4f13e0.png">

<img width="463" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117210906-9c420880-adf8-11eb-94bd-02607b39e575.png">

<img width="402" alt="grafik" src="https://user-images.githubuserconten

[2021-05-05 21:24] hbruch commented on #386
And English translations as well

<img width="452" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117211263-0f4b7f00-adf9-11eb-9e72-f7db32760376.png">

[2021-05-05 21:28] hbruch opened #387 "Missing icons in the "Nearby stops" list"
Icons for nearby Tram and Carpools are missing. Before fixing this, we should discuss the UX: do we want this list as is?

<img width="142" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117211644-939e0200-adf9-11eb-8e6b-1d28c485f2cd.png">

[2021-05-05 21:33] hbruch opened #388 "Nearby carpool stops and sharing locations fail to load"
After selecting nearby carpool stops or sharing locations, none is displayed but they seem to load infinetly, even though server sends a response. On the console, a couple of error messages are logged:
<img width="850" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117212316-7b7ab280-adfa-11eb-89b6-d33b351547b5.png">

<img width="754" alt="grafik" src="https://user-images.gith

[2021-05-05 21:36] hbruch opened #389 "Hamburger menu's color should be white"
<img width="147" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117212472-aebd4180-adfa-11eb-82a9-06bd8cfdc2b7.png">

[2021-05-05 21:41] hbruch opened #390 "Bicycle stations display issues"
When selecting a bicycle station in the map, the internal id is shown and a potential capacity of 101 (a magic number we use to indicate that there bikes may be dropped off, even if all stands are in use)

<img width="457" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117212994-55a1dd80-adfb-11eb-9d1e-e7e4b4c84a08.png">

[2021-05-05 21:46] hbruch opened #391 "Imprint, GDPR hint,"
Imprint an GDPR hint should show up in the menu. "Feedback senden" leads to the github repo (we don't want this, as we have a Feedback link linking a feedback form above). Copyright should be changed like in DT-1 (herrenberg.stadtnavi.de)

<img width="251" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117213447-e8db1300-adfb-11eb-9a34-3533e73b4e6a.png">

[2021-05-06 07:56] leonardehrenfried commented on #386
These translations should be contributed upstream.

[2021-05-06 08:11] #379 closed

[2021-05-06 08:20] patrickbeck1337 commented on #391
@hbruch  whats the difference between those to options?

The "Feedback" options is already linking to https://stadtnavi.de/feedback/

Should "Feedback senden" option route to the same form/ url?

![image](https://user-images.githubusercontent.com/23075804/117265548-a1cd3c00-ae54-11eb-813b-0157b4da603a.png)

[2021-05-06 09:44] #391 closed

[2021-05-06 12:13] samia-roubaa opened #394 "Differences between Stadtnavi and VVS found"
The following Scenario was executed:
Data inserted:
1. Start: Grundschule, Keltenstraße 8, 71083 Herrenberg
2. To: Waldfriedhof Herrenberg, Alte Steige, 71083 Herrenberg
3. Departure 27.04.2021, 14:15

![image](https://user-images.githubusercontent.com/83356918/117129343-da124300-ad9e-11eb-91d9-2bbab275b315.png)

The same data were inserted in VVS and the following differences were found:
- real-t

[2021-05-06 12:36] samia-roubaa opened #397 "Transportation icon is not shown"
Scenario:
Data:
- Start point: Gültstein
- End point: Herrenberg ZOB, ZOB Bahnhofstraße, 71083 Herrenberg
The following routes appeared, as you can notice in the first routing option the transportation icon is not shown
![image](https://user-images.githubusercontent.com/83356918/117298819-16fe3880-ae78-11eb-9704-bf51c0f14aaa.png)

also in the routing details the icon is missing
![image](https://us

[2021-05-06 12:48] hbruch opened #398 "Symbol colors don't match stadtnavi colors"
When zoomed out, bus stop/train/tram station icon colors don't match stadtnavi's icons colors:

<img width="612" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117300133-8b85a700-ae79-11eb-8547-2d0a68598c56.png">

Expected colors as in DT-1 (herrenberg.stadtnavi.de):
<img width="748" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117300623-0949b280-ae7a-11

[2021-05-06 13:16] leonardehrenfried commented on #395
I think the reason for this was that we had not implemented Carpool on the backend. This has been fixed by https://github.com/mfdz/OpenTripPlanner/pull/67

[2021-05-06 13:21] leonardehrenfried commented on #397
The problem is that some regional trains have a white colour. The text is also white so you cannot see it.

This will be fixed with this PR: https://github.com/mfdz/gtfs-hub/pull/9

[2021-05-06 13:25] leonardehrenfried commented on #396
@samia-roubaa could you paste the link from your URL bar, please?

[2021-05-06 13:27] #389 closed

[2021-05-06 13:54] Denis306 commented on #343
@hbruch : Do we want a pop up for the mobile start view that prompts the user to download the map?
Something like: "You can download the Stadtnavi App!"
And if you dont want to you can simply close it.

[2021-05-06 14:16] leonardehrenfried commented on #395
@samia-roubaa Can you try again on https://dev.stadtnavi.eu/ ?

[2021-05-06 14:45] samia-roubaa opened #400 "User Feedback: different routing suggestions"
https://herrenberg.stadtnavi.de/reiseplan/Marktplatz%2C%2071083%20Herrenberg%3A%3A48.5964113%2C8.869932/T%C3%BCbingen%20Hbf%2C%20Hegelstra%C3%9Fe%2C%2072072%20T%C3%BCbingen%3A%3A48.5155801%2C9.0552876?modes=BUS%2CRAIL%2CSUBWAY%2CPUBLIC_TRANSPORT&optimize=TRIANGLE&safetyFactor=0.4&slopeFactor=0.3&time=1619706432&timeFactor=0.3

I get two different routing suggestions, if I click on the Bike-Sharing

[2021-05-06 14:48] leonardehrenfried commented on #400
Could you explain why you're testing on herrenberg.stadtnavi.de rather than the QA system?

[2021-05-06 14:51] samia-roubaa commented on #400
I did not test on herrenberg.stadtnavi.de. This is a bug provided by Ansgar through the support mailbox.

[2021-05-06 14:53] leonardehrenfried commented on #400
Ah I see. Thanks for the clarification.

[2021-05-06 15:01] samia-roubaa opened #401 "User Feedback: Error or empty results when choosing any of the options "... and nearby .. on maps ""
User: I got a bug for the search „Herrenberg Markplatz“ – i clicked „Bushaltestellen in der Nähe“
![image](https://user-images.githubusercontent.com/83356918/117320417-80884200-ae8c-11eb-90f6-95cbcad13427.png)

When I tried reproducing the bug also with the other options, I got an empty screen
![image](https://user-images.githubusercontent.com/83356918/117320553-a31a5b00-ae8c-11eb-8c70-adc006a71ac

[2021-05-07 03:43] aaronyamil commented on #373
@leonardehrenfried  I created another pullrequest more clean: https://github.com/stadtnavi/digitransit-ui/pull/402

For this reason I closed this.

[2021-05-07 08:29] leonardehrenfried commented on #401
I think this has been fixed on dev: https://dev.stadtnavi.eu/inderhaehe/BUS/POS/Herrenberg%20Marktplatz%2C%20Rathausstaffel%2C%2071083%20Herrenberg::48.5964033,8.8704836

[2021-05-07 08:31] hbruch commented on #401
Could you fix the text "in der haehe" should read "in der naehe", no?

[2021-05-07 08:40] hbruch opened #404 "Deeplinks currently will break when switching to DT-2"
The city of Herrenberg (and probably some users as well) uses deeplinks, e.g. to link a timetable at bus stops  (via 2D-code) or at an information point.

Currently, they seem to have changed in DT-next, which would break those use cases.

Example:
https://herrenberg.stadtnavi.de/POS/-/indernaehe vs
https://herrenberg.qa.stadtnavi.eu/POS/-/indernaehe

https://herrenberg.stadtnavi.de/haltestellen/h

[2021-05-07 08:51] leonardehrenfried commented on #352
Yes, just the fares. We might add a deeplink to another system where you can buy a ticket but that's still up in the air.

[2021-05-07 09:10] #378 closed

[2021-05-07 09:19] leonardehrenfried commented on #385
I looked up how one-way/full closure in the CIFS standard works.

https://developers.google.com/waze/data-feed/road-closure-information#closure-elements

It should be `direction:ONE_DIRECTION` or `direction:BOTH_DIRECTIONS`. Depending on that, please change the icon.

[2021-05-07 09:20] leonardehrenfried commented on #385
Sadly, we don't have an example of this yet so we might have to revisit this.

[2021-05-07 09:38] leonardehrenfried commented on #388
The carpool stops are fixed...

![Screenshot from 2021-05-07 11-36-59](https://user-images.githubusercontent.com/151346/117430656-9c412600-af28-11eb-8ce4-de10b0912e0b.png)

https://dev.stadtnavi.eu/inderhaehe/CARPOOL/POS/Herrenberg::48.595557,8.8674715

... but the sharing ones are not.

I will get @flaktack and team on the case.

[2021-05-07 14:06] hbruch commented on #390
The bar and the capacity should not be shown

[2021-05-07 14:33] samia-roubaa commented on #401
No, unfortunately the problem still exists on the dev.
![image](https://user-images.githubusercontent.com/83356918/117465337-e2f74600-af51-11eb-93bc-95ebd229a1bc.png)

[2021-05-07 20:08] samia-roubaa opened #405 "Long loading resulted in not showing the location details"
Scenario:
Data:
- Start: Kreiskrankenhaus, Marienstraße 25, 71083 Herrenberg
After the application showed the location on the map I clicked on the location pin to see its details.
The loading took longer than usual and then no details appeared (see screenshot)
![image](https://user-images.githubusercontent.com/83356918/117503010-a5f67800-af80-11eb-80e1-496d3ce5069d.png)

QA version:
 image: mfdz/o

[2021-05-07 20:31] samia-roubaa opened #406 "The "back" button doesn't navigate back to the previous state"
Scenario:
1. First search:
- Start: Gültstein
- End: Herrenberg ZOB, ZOB Bahnhofstraße, 71083 Herrenberg

![image](https://user-images.githubusercontent.com/83356918/117505041-b4925e80-af83-11eb-8373-2b922ce1e8a4.png)

2. I newly typed the URL: https://herrenberg.qa.stadtnavi.eu/ and performed my second search:
- Start: DRK Rettungswache 3, Marienstraße 25/1, 71083 Herrenberg
Then, I viewed the de

[2021-05-07 20:37] samia-roubaa opened #407 "Not all zoom levels are present"
The following zoom levels are missing:
50km, 30km and 3km

QA:
 image: mfdz/opentripplanner:otp2-3a2df966e9c9651305968ba22c6f2ea7fb98e255
 image: stadtnavi/digitransit-ui:35b607d8bcb728fb7ad701964375b024dbcb478b
 image: stadtnavi/hsl-map-server:755d5aa0e00d9970ada283f5c4db75bd77982cfa

[2021-05-07 20:55] samia-roubaa opened #408 "UI issue: Öffnungszeiten are not shown in a unified way for all locations"
When you view the Öffnungszeiten of a parking place for example, the following popup is shown:
![image](https://user-images.githubusercontent.com/83356918/117507148-fd97e200-af86-11eb-92d2-0c21d9f42efe.png)

- The Öffnungszeiten are listed
- There is a proper left and right margin
- The text is aligned

However, when you view the Öffnungszeiten of a nette Toilette for example, the following popup

[2021-05-08 04:50] samia-roubaa opened #409 "Issue with changing the language when no search is made"
Scenario:
1. Open https://herrenberg.qa.stadtnavi.eu/
2. Change the language to English
![image](https://user-images.githubusercontent.com/83356918/117527062-699b3a00-afc9-11eb-8111-e62004d5fffb.png)

3. Change the language back to German
4. The application will still have https://herrenberg.qa.stadtnavi.eu/**?locale=en** in the url AND a "de" will be written in the "Startort" (see screenshot)
![i

[2021-05-08 04:54] samia-roubaa opened #410 "Issue when changing the language and a search is made"
Scenario:
1. Go to https://herrenberg.qa.stadtnavi.eu/
2. Start: Kreiskrankenhaus, Marienstraße 25, 71083 Herrenberg
3. Change language to English
4. Then change it back to German
5. The application will still have "https://herrenberg.qa.stadtnavi.eu/de/Kreiskrankenhaus%2C%20Marienstra%C3%9Fe%2025%2C%2071083%20Herrenberg%3A%3A48.59177235%2C8.875281170394544/-**?locale=en**"
AND the an error will a

[2021-05-08 06:05] hbruch commented on #410
Confirmed on dev. @Denis306, could your team look into this, please

[2021-05-08 06:06] hbruch commented on #409
Confirmed on dev.

[2021-05-08 06:12] hbruch commented on #407
I suppose this was an upstream change. I'd stay with the currently implemented scales, unless there is explicit demand for them.

[2021-05-08 06:12] #407 closed

[2021-05-08 06:23] hbruch opened #411 "Feature: Suppress car only suggestions for trips to inner Herrenberg"
Current behavior:
When requesting trips to Herrenberg city/ Herrenberg station, we should not propose (overoptimistic) car-only suggestions, but P&R only.

<img width="507" alt="image" src="https://user-images.githubusercontent.com/2187389/117529119-0e237900-afd6-11eb-85db-21dbaecb752b.png">

Expected behavior:
Suggest only P&R.

This might be implemented by OTP2 e.g. by checking against pre-defin

[2021-05-08 06:31] hbruch opened #412 "Black mode colors in settings"
Current behavior:
When opening the settings panel, the Bus and Train mode symbols appear in black.

<img width="587" alt="image" src="https://user-images.githubusercontent.com/2187389/117529395-a2421000-afd7-11eb-869d-3bfad5d20ab4.png">

Expected behavior:
Like in Herrenberg.stadtnavi.de, they should appear in red and green
<img width="381" alt="image" src="https://user-images.githubusercontent.co

[2021-05-08 07:06] #385 closed

[2021-05-08 07:16] patrickbeck1337 commented on #390
@hbruch I would suggest that we introduce a template for bug descriptions. It's quite hard to understand what's the expected vs. the actual behaviour, when you do not know the application very well.

My suggest would be following template.
[code]

What do you think?

[2021-05-08 07:59] patrickbeck1337 opened #413 "Haltestellen page has no styling applied on reload"
**How to reproduce**

1. Open [Stadtnavi](https://dev.stadtnavi.eu/) and enter a route
2. Select a proposed route
3. Click on one of the station to navigate to the "Haltestellen" page
4. Reload the page

**Actual behaviour**
The HTML is rendered without styling

**Expected behaviour**
The page is rendered a soon as the styling is applied to the HTML

[2021-05-08 08:14] patrickbeck1337 commented on #349
I accidentally pushed my changes directly to next. But since this was just adding a locale I think a revert would be even too much.

[2021-05-08 08:14] #349 closed

[2021-05-08 08:29] patrickbeck1337 commented on #388
So this is a backend issue then?

[2021-05-08 08:47] patrickbeck1337 commented on #390
I just adapted the displaying according to what we have in DT1. Please check the PR for the screenshot @hbruch if this is what the expected behaviour should be.

[2021-05-08 19:25] MartinH-open commented on #390
yes, definitely a good idea to avoid misunderstanding

[2021-05-08 19:30] MartinH-open commented on #412
Are these colors based on some international standards for different modes of transportation ?
Or just a matter of personal preferences ?  For the later colors an other attributes should be some customizable somewhere.
---
here - bit strange the dark green background of the S-Bahn / Zug logo does not match the background green. For the red bus it matches well.

[2021-05-08 19:36] MartinH-open commented on #411
@hbruch - that's a very interesting general topic. Something I'd like to discuss with you offline: How can cities define policies about preferred modes of transport for certain areas at certain times for certain groups of people?

[2021-05-08 19:48] MartinH-open commented on #401
Sure - i noticed this artifact too.
But anyhow - why translating URL pathnames like "nearby" to some language specific term ?
Better stay with the standard unique pathname and use the locale parameter to specify the language

[2021-05-08 19:59] MartinH-open commented on #404
@hbruch - you mean kind of QR Codes that use direct deep links to some application link ???
( Beat them !   DO NOT do this. )
If QR Codes need to reference some point of information then first a permanent mapping service from ID to deep link URL should be introduced that can handle all kinds of app URL changes in all future!
Anyhow the ID strings for points of interest (or service of interest) cou

[2021-05-08 22:11] MartinH-open commented on #352
I assume these prices just apply to the busses and trains on the route, right ?
There might be other additional costs for bike rental, Taxi, Carpooling etc. Not sure how these will be displayed.

[2021-05-09 10:12] samia-roubaa opened #416 "POIs layout issues"
In comparison to https://herrenberg.stadtnavi.de/, there are several differences regarding the POIs

Missing POI:
- Baustellen

Different naming for a POI:
- Fahrradparkplätze is named differently (Fahrrad-Abstellanlagen)

Different grouping for the POIs
https://herrenberg.stadtnavi.de/
![image](https://user-images.githubusercontent.com/83356918/117568257-9fbae580-b0bf-11eb-999c-10c518cfc991.png)

[2021-05-09 12:20] samia-roubaa opened #417 "No metro stations shown"
Stuttgart city centre has metro stations but they are not shown on the map, when you activate the layer:

![Screenshot from 2021-05-10 15-24-40](https://user-images.githubusercontent.com/151346/117666175-e1bd5780-b1a3-11eb-83ec-ae32303853a3.png)

When viewing nearby metro stations you can definitely see that they are there:

![Screenshot from 2021-05-10 15-24-18](https://user-images.githubusercont

[2021-05-09 12:29] samia-roubaa opened #418 "UI: Page title gets trimmed"
Scenario:
- Choose to show "Bahnhöfe"
- Choose the Haltstelle with S1 trains
- The system will display the schedule of the S1 trains and the title will be trimmed
![image](https://user-images.githubusercontent.com/83356918/117572334-bf0f3e00-b0d2-11eb-9d1d-dc66f42f1cb6.png)

Also when you open the details of any train, the title will still be trimmed
![image](https://user-images.githubusercontent.

[2021-05-09 12:39] samia-roubaa opened #419 "UI: Layout issue when choosing a Sharing-Angebot"
Scenario:
- Choose to show "Sharing-Angebote" on the map
- Click on the Sharing-Angebot spot on the map to see its details
- The system shows an unaligned black circle around the location
![image](https://user-images.githubusercontent.com/83356918/117572630-0a761c00-b0d4-11eb-8f82-96ba8919d806.png)
![image](https://user-images.githubusercontent.com/83356918/117572636-0cd87600-b0d4-11eb-9528-dcc543

[2021-05-09 12:44] samia-roubaa opened #420 "Missing translations for Sharing-Angebote"
Scenario:
- Choose to show "Sharing-Angebote"
- Click on a Sharing-Angebot on the map
- The system will show you its details on the left
- Next to the title "Leihrad-Station" you will find that the content is not clearly defined and needs to be translated
![image](https://user-images.githubusercontent.com/83356918/117572819-fbdc3480-b0d4-11eb-816e-46562ccec8f0.png)
![image](https://user-images.git

[2021-05-09 12:51] samia-roubaa commented on #396
https://herrenberg.qa.stadtnavi.eu/reiseplan/Herrenberg%3A%3A48.595557%2C8.8674715/G%C3%A4ufelden%3A%3A48.5534259%2C8.8229748/car?time=1620213251

[2021-05-09 13:02] samia-roubaa opened #421 ""Fahrräder verfügbar" is showing the value "-1""
Scenario:
- Choose to show the "Sharing-Angebote"
- Choose Mariengarage Herrenberg (https://herrenberg.qa.stadtnavi.eu/fahrradstationen/car-sharing-3)
- The system showed that the available bicycles is -1
![image](https://user-images.githubusercontent.com/83356918/117573337-9473b400-b0d7-11eb-898c-04c108714539.png)

[2021-05-10 03:50] aaronyamil commented on #386
@leonardehrenfried The translations have many inconsistencies.
We have 7 languages, do I need to update all 7 languages or only German and English?

[2021-05-10 04:06] aaronyamil commented on #373
Status:
I removed the middle button.
I fixed the margins problems.
I am working with the icon parking.

[2021-05-10 08:12] #398 closed

[2021-05-10 09:05] #390 closed

[2021-05-10 09:08] leonardehrenfried commented on #388
Yes, it's a backend issue.

[2021-05-10 09:08] leonardehrenfried commented on #388
https://github.com/mfdz/OpenTripPlanner/issues/70

[2021-05-10 09:39] hbruch opened #422 "Title of layer switcher is not shown"
Current behavior:
The title of the layer switcher disappears behind the header bar:

<img width="412" alt="image" src="https://user-images.githubusercontent.com/2187389/117639451-3650da80-b184-11eb-96ad-73e9fc80b333.png">

Expected behavior:
The layer-Switcher is not partially hidden by the header bar, especially the title "Show on map" is visible

[2021-05-10 09:43] leonardehrenfried commented on #422
#418 is currently at the top of the board and will be pulled next.

[2021-05-10 10:14] hbruch commented on #418
Will close #422 as duplicate of this issue. So be aware that clipping not only happens on the left pane but as well on the right pane. Does this happen upstream as well? If yes, we should propose a PR there as well.

[2021-05-10 10:14] hbruch commented on #422
Closing as duplicate of #418

[2021-05-10 10:14] #422 closed

[2021-05-10 10:24] leonardehrenfried commented on #417
There are not many Mitfahrpunkte, but there is one near the Autobahn.

![Screenshot from 2021-05-10 12-23-34](https://user-images.githubusercontent.com/151346/117645181-98acd980-b18a-11eb-9ee2-1c1375bcde6f.png)

But you're right: in central Stuttgart there should be metro stations, but none are displayed.

[2021-05-10 10:37] derhuerst commented on #352
Yes, so far, we only have fares for the public transport parts of an itinerary.

[2021-05-10 10:38] aaronyamil commented on #386
Ok thanks!. I am going to work in both languages.

[2021-05-10 12:07] hbruch opened #424 "Roadworks layer: For ONE_DIRECTION, symbol should only appear at origin of the line"
Current behavior:
For roadworks with `"direction": "ONE_DIRECTION"`, the roadwork/no through smybol is displayed at the start and end of the linear roadwork, e.g. like K6769 Hundersingen:
<img width="439" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117656388-96ea1280-b198-11eb-8a09-6dac0364fcc8.png">

Expected behavior:
For roadworks with `"direction": "ONE_DIRECTION"`, the

[2021-05-10 12:28] leonardehrenfried commented on #412
![Screenshot from 2021-05-10 14-27-38](https://user-images.githubusercontent.com/151346/117659154-e2ea8680-b19b-11eb-80ad-6f0a0591b4f7.png)

I'm seeing the colourful icons, @hbruch. We had this problem before but I cannot remember how we solved it. Can you?

What happens when you force-reload the page?

[2021-05-10 12:49] hbruch opened #425 "Roadworks layer: Roadworks partly disappear, depending on zoom level"
Current behavior:
For some (possibly long distance) roadworks, parts of the display disappear, e.g. for [this one close to Grabenstetten](https://dev.stadtnavi.eu/Grabenstetten%3A%3A48.5244177%2C9.4612632/-)
<img width="424" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117661533-c6038280-b19e-11eb-85b5-a249c4952b6f.png">

<img width="581" alt="grafik" src="https://user-image

[2021-05-10 12:53] hbruch commented on #425
Might this be a tilelive issue then?

[2021-05-10 12:54] hbruch commented on #425
But looks like a tiling issue, yes. Like in this case near by as well

<img width="217" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117662258-a6208e80-b19f-11eb-950e-6b6ccb8991b8.png">

[2021-05-10 17:06] patrickbeck1337 commented on #418
Yes I fixed that with the direct commit on the next branch. Should start doing that. Will never do it again sorry.

I added a custom overwrite we had which was removed due to the hsl/next merge => https://github.com/stadtnavi/digitransit-ui/commit/b4324c4c2e112aadc7e4620d9ac133e890efb1fb

[2021-05-10 19:52] samia-roubaa opened #427 "UI: Button names layout issue"
When you click on a location and this location can be a "Zwischenstopp", the button names "Route von hier" and "Route hierher" gets shifted
![image](https://user-images.githubusercontent.com/83356918/117716422-ddac2c80-b1d9-11eb-9bf5-26070ba597f0.png)

Unlike any other location that just has the 2 options "Route von hier" and "Route hierher", the name's alignment is correct:
![image](https://user-

[2021-05-10 19:57] samia-roubaa opened #428 "Parkplatz free places are not calculated"
I opened the details of the Parkplatz "Stuttgarter Straße - Parkplatz für Menschen mit Behinderung"
The free places were not calculated and the following appeared: {total} Stellplätze
![image](https://user-images.githubusercontent.com/83356918/117717144-b9048480-b1da-11eb-8b52-ad17ee8203aa.png)

QA version:
 image: mfdz/opentripplanner:otp2-3bcf0f41606d3b70f681b2f355064f71d3ace246
 image: stadtnav

[2021-05-10 20:10] samia-roubaa opened #429 "Missing details when viewing the details of a bicycle parking, Ladestationen and Nette Toiletten"
Scenario:
- Choose the POI "Fahrrad-Abstellanlagen"
- Open the details of any parking place
The following appears:
- A general title
- missing info for the Tarifzone
- the text "Stellplätze x" is not aligned
![image](https://user-images.githubusercontent.com/83356918/117718464-63c97280-b1dc-11eb-878f-042ee5bbbf35.png)
![image](https://user-images.githubusercontent.com/83356918/117718490-6d52da80-b

[2021-05-10 20:25] samia-roubaa opened #430 "An error occurs when clicking randomly on "Rund um's Fahrrad" locations and dragging the map"
Scenario:
- Choose the POI "Rund um's Fahrrad"
- Zoom to the scale of "100 m"
- Open the details of random "Rund um's Fahrrad" locations
- While keeping the details window open drag the map randomly
- Suddenly the following error will appear
![image](https://user-images.githubusercontent.com/83356918/117720111-8b213f00-b1de-11eb-936f-c46f1637556f.png)
![image](https://user-images.githubusercontent

[2021-05-10 20:34] samia-roubaa opened #431 "Missing information when choosing "LoRaWan Gateways""
Scenario:
- Choose the POI "LoRaWan Gateways"
- Open the details of any "LoRaWan Gateway"
- The system won't show meaningful details of this Gateway (only tags are shown)
![image](https://user-images.githubusercontent.com/83356918/117721126-c2dcb680-b1df-11eb-91f3-de705cbde70d.png)
![image](https://user-images.githubusercontent.com/83356918/117721151-ca9c5b00-b1df-11eb-8ae4-6afd24f3bdbb.png)

[2021-05-10 22:18] MartinH-open commented on #431
My 2ct comment:
Well, what is the real end-user value for StadtNavi users to know the exact position of the LoRaWAN Gateways and their attributes?
I think it would we enough to just render these locations as icons into the map tiles. No need to interact with the Gateways in StadtNavi

[2021-05-10 22:28] MartinH-open commented on #429
Question: Is the info about the "Tarifzone" anything useful at all for such POIs?

Instead of "Gebührenpflichtig: Nein" or "Gebührenpflichtig: Ja" I prefer
"Gebühren: keine" or "Gebühren: Ja" or even "Gebühren: 1€" or whatever ..

[2021-05-11 02:51] aaronyamil commented on #386
Hi @leonardehrenfried , I created a PR with the fix : https://github.com/stadtnavi/digitransit-ui/pull/432

Before the update:
1. German: 577 records
2. English: 621 records

After the update:
1. 644 records in both German and English. I compared one by one and translated the missing ones. I use google translate.
2. Both are arranged alphabetically.
3. I formatted all file this way:  "field": "val

[2021-05-11 03:01] aaronyamil commented on #409
Hi @samia-roubaa
I can't reproduce this bug, I used this link https://herrenberg.qa.stadtnavi.eu/  and my local environment. I both environment can not reproduce this bevarior.

[2021-05-11 03:02] aaronyamil commented on #410
Hi @samia-roubaa
I can't reproduce this bug, I used this link https://herrenberg.qa.stadtnavi.eu/  and my dev local environment. In both environment can not reproduce this bevarior.

[2021-05-11 07:29] leonardehrenfried commented on #418
Not a problem. Thanks for the fix.

[2021-05-11 07:33] leonardehrenfried commented on #425
Over night I also had another idea what could be the problem: maybe my code always assumed that it's always a single polyline per tile but in the example above there are several.

[2021-05-11 12:18] samia-roubaa opened #433 "Remove sharing offer booking URL when it's empty"
Scenario:
- Go to https://herrenberg.qa.stadtnavi.eu/
- Choose to show "Sharing-Angebote"
- When you choose "BHF. HERRENBERG / KALKOFENSTRASSE" and click on "Kaufen", the system opens the website "https://www.regioradstuttgart.de/de"
![image](https://user-images.githubusercontent.com/83356918/117813542-7cc93680-b263-11eb-8ff3-17814331a8c9.png)
![image](https://user-images.githubusercontent.com/833

[2021-05-11 12:26] samia-roubaa opened #434 "UI: Text Alignment issue when viewing the "Öffnungszeiten""
Scenario:
- Go to https://herrenberg.qa.stadtnavi.eu/
- Search for parking places (ex. Unterer Graben)
- Open the details of any parking place with a list of "Öffnungszeiten"
- When the list of Öffnungszeiten includes a day with multiple Öffnungszeiten (marked red in the screenshot), the text alignment of the day after will get messy (marked blue in the screenshot).
![image](https://user-images.gi

[2021-05-11 13:11] #424 closed

[2021-05-11 13:31] leonardehrenfried commented on #428
Fixed via https://github.com/stadtnavi/digitransit-ui/commit/4eacf8b2d52e6ee9f94d871244095fafad2460f1

[2021-05-11 13:40] hbruch opened #437 "Parking details: Missing notes"
Current behavior:
In next branch, the parking details don't show additional notes.

<img width="308" alt="grafik" src="https://user-images.githubusercontent.com/2187389/117824959-31b52080-b26f-11eb-8a07-0521f63d7ade.png">

Expected behavior:
Like in ol digitransit, the (language dependent) notes should be displayed
<img width="324" alt="grafik" src="https://user-images.githubusercontent.com/218738

[2021-05-11 13:57] leonardehrenfried opened #438 "Availablity icon is missing from car parking layer"
In DT1 we had green ticks for parking lots with plenty of free spaces:

![Screenshot from 2021-05-11 15-50-52](https://user-images.githubusercontent.com/151346/117826784-b9e7f580-b270-11eb-8ccd-f4a2f310c32c.png)

In DT2 they are gone:
![Screenshot from 2021-05-11 15-56-54](https://user-images.githubusercontent.com/151346/117827784-94a7b700-b271-11eb-8691-cd520297ec06.png)

The console says
[code]

[2021-05-11 17:10] leonardehrenfried commented on #418
I will keep the ones reported by the QA team open, so that they can close them themselves.

[2021-05-11 22:48] aaronyamil commented on #437
Hi Leonard,
I created this PR https://github.com/stadtnavi/digitransit-ui/pull/444 for this ticket. Thanks.

[2021-05-12 05:17] hbruch commented on #412
On firefox, I see colors too, but not on Safari (MacOS). Might be related to the following exceptions in the browser console log:
![grafik](https://user-images.githubusercontent.com/2187389/117922056-26570900-b2f2-11eb-86ba-e9f9d0c5ec02.png)

[2021-05-12 06:07] hbruch opened #445 "Park-Ride routing uses bicycle parking"
I request https://herrenberg.qa.stadtnavi.eu/reiseplan/Anemonenstra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.60536163356004%2C8.858585357666017/Horber%20Stra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.58586258738469%2C8.86502265930176/parkAndRide/?time=1620794120

Current behavior:
Journey guides to a bicycle parking:
<img width="1023" alt="grafik" src="https://user-images.githubusercontent.com/2187389/

[2021-05-12 06:17] flaktack commented on #445
It seems to use the existing P+R within OSM:
https://www.openstreetmap.org/way/182241750

Is the problem here that:
 * parking data from OSM is used?
 * or that there is no icon for the parking data from OSM?

[2021-05-12 06:22] hbruch commented on #445
Ah, you are right. Parking data from OSM is fine, because otherwise we'd not have park_ride options outside of Herrenberg. We might need to figure out how to avoid static park_ride from OSM in Hbg city, though.

If the parking layer is not yet switched to OTP vector tiles, OSM parkings won't be displayed yet. If yes, it should be displayed, but might be the parking-type is not set accordingly

[2021-05-12 06:25] flaktack commented on #445
Vector tiles from OTP2 are not yet implemented -- so this should work differently once that is done.

[2021-05-12 07:23] #438 closed

[2021-05-12 07:23] #417 closed

[2021-05-12 07:24] #437 closed

[2021-05-12 07:24] #425 closed

[2021-05-12 07:24] #386 closed

[2021-05-12 07:41] leonardehrenfried opened #446 "Fix styling and colours of bike rental legs"
Since yesterday we have bike rentals back in DT2, however the styling doesn't match DT1.

![Screenshot from 2021-05-12 09-33-42](https://user-images.githubusercontent.com/151346/117936572-4c39d900-b305-11eb-8685-8c2f23a16ca2.png)

Note: in order to have a bike rental leg you need to plan a search from Ehningen to Kuppingen (for example), deactivate the bus and activate bikr rental in the settings

[2021-05-12 07:46] leonardehrenfried commented on #434
Acceptance criteria: add a bit of margin to each table cell so it's easier to see what belongs to what day.

[2021-05-12 08:34] andreashelms commented on #413
@patrickbeck1337 I cloud no reproduce that issue. Can you please provide some more information or screenshots? Thanks!

[2021-05-12 10:14] samia-roubaa opened #450 "Bahnhof-Haltestelle: "Störungen" tab returns an error"
Scenario:
- Go to https://herrenberg.qa.stadtnavi.eu/
- Show the "Bahnhöfe"
- Choose any Haltestelle
- Click on the tab "Störungen"
- The system will show that an error occured
![image](https://user-images.githubusercontent.com/83356918/117958674-8ca45180-b31b-11eb-9102-fe99d11911ec.png)
![image](https://user-images.githubusercontent.com/83356918/117958683-8dd57e80-b31b-11eb-844c-f152e818a431.png)

[2021-05-12 10:25] samia-roubaa opened #451 "Parking places: Missing availability indicator"
It is written in the user stories, that the parking places will have a badge that the indicates the availability:
- green tick: if it has empty slots
- red cross symbol: if it's occupied

Current behavior:
These indicators are missing
![image](https://user-images.githubusercontent.com/83356918/117960175-0852ce00-b31d-11eb-9c12-7d781a3259a0.png)
![image](https://user-images.githubusercontent.com/83

[2021-05-12 11:01] MartinH-open commented on #451
"Oberer Graben"  - what a great table of opening hours.
Basically this location is open 24h all year.
So, for such cases a text like "always open" oder "immer geöffnet" would be better instead of long table.
If exceptions happen you can list them: like "but closed on Easter Monday 14. April 202X"

[2021-05-12 11:56] #412 closed

[2021-05-12 11:56] #370 closed

[2021-05-12 12:47] hbruch opened #452 "No transit routes returned in safari"
Requesting the following journey returns no transit results in Safari (MacOS):
https://dev.stadtnavi.eu/reiseplan/Holzapfel%2C%20Römerweg%2C%2071083%20Herrenberg%3A%3A48.613789022229%2C8.847341537475588/ASID%20BONZ%20GmbH%2C%20Hertzstraße%203%2C%2071083%20Herrenberg%3A%3A48.576720706024986%2C8.891372680664064?time=1620823379

<img width="1150" alt="image" src="https://user-images.githubusercontent

[2021-05-12 13:22] leonardehrenfried commented on #452
My gut feeling is that there is an incorrect list of modes sent to the backen.

[2021-05-12 14:16] leonardehrenfried opened #453 "WIP: Add defect reporter"

[2021-05-12 17:05] hbruch opened #454 "Naming of long distance trains in journey details"
When searching for e.g. https://dev.stadtnavi.eu/reiseplan/Stuttgart%20Hauptbahnhof%2C%20Baustra%C3%9Fe%20Stuttgart%2021%2C%2070173%20Stuttgart%3A%3A48.7856099%2C9.1833959/Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.59399520051186%2C8.862125873565676/?time=1620795624

the long distance train (retrieved from DELFI eV GTFS) is labeled as T04 RE4:
<img width="428" alt="grafik" src="https://u

[2021-05-12 17:46] hbruch commented on #452
Seems like this was caused by having enabled wheelchair routing in Safari, so closing this.

[2021-05-12 17:46] #452 closed

[2021-05-12 18:02] hbruch opened #455 "allowedBikeRentalNetworks not taken into account"
How to reproduce:
1. in Settings panel, enable sharing, but disable regiorad
2. Search for e.g. https://dev.stadtnavi.eu/reiseplan/Holzapfel%2C%20R%C3%B6merweg%2C%2071083%20Herrenberg%3A%3A48.613789022229%2C8.847341537475588/ASID%20BONZ%20GmbH%2C%20Hertzstra%C3%9Fe%203%2C%2071083%20Herrenberg%3A%3A48.576720706024986%2C8.891372680664064?time=1620823379

Current behavior:
A journey including regiora

[2021-05-13 03:39] aaronyamil commented on #446
Status:

1. make polyline blue even when combined with train **(inprogress)**
2. remove the station id ("7bd6d9cb-509b-4378-83db-cebb44ee1f6f") from the left hand panel when viewing an individual itinerary  **(done)**
3. make the bike leg (after train) also blue and add the badge about how many bikes are available when viewing the list of routes in the left hand panel.   **(todo)**

[2021-05-13 11:50] leonardehrenfried commented on #454
RE4 seems the correct thing to display and not sure if T04 is useful for anyone.

Are NVBW likely to make a change or does this call for another processing step in gtfs-hub?

[2021-05-13 16:10] hbruch commented on #454
I'll check with NVBW next week. Interestingly, DB calls the same train RE 87, so there seem to be some more issues than just wrong route_short_name

[2021-05-14 08:02] flaktack commented on #455
It doesn't seem to be handled by the API, I will look into it.

[2021-05-14 14:12] leonardehrenfried commented on #353
@Denis306 Here is the PR for the master branch: https://github.com/stadtnavi/digitransit-ui/pull/335

[2021-05-14 14:46] aaronyamil commented on #446
Hi @leonardehrenfried

[2021-05-14 14:51] aaronyamil commented on #446
Hi @leonardehrenfried

This ticket has 3 subtasks:

1. make polyline blue even when combined with train _**(It is a backend issue because the rentedBike arrives FALSE )**_
2. remove the station id ("7bd6d9cb-509b-4378-83db-cebb44ee1f6f") from the left hand panel when viewing an individual itinerary _**( I fixed this, I removed the station Id. Can i upload this change? )**_
3. make the bike leg (af

[2021-05-14 14:54] leonardehrenfried commented on #446
Yes, both are backend issues. It's being tracked here: https://github.com/mfdz/OpenTripPlanner/issues/72

Lets keep this ticket open until that one is resolved and re-evaluate.

[2021-05-14 14:55] aaronyamil commented on #446
Sure, no problem.
thanks

[2021-05-14 19:20] Denis306 opened #456 "Apply new Panel UI to eCharging Station info"
Once ticket #353, #500 & #344 are implemented we will be chaning the UI for the eCharging station info.
Design:
![image](https://user-images.githubusercontent.com/23075804/119534184-ec244780-bd86-11eb-9756-506ac66a4850.png)

[2021-05-14 19:33] Denis306 commented on #353
Thanks @leonardehrenfried !

@patrickbeck1337 As discussed earlier today, I created a second ticket to split this one up into two issues. As Leonard already described, this one will be about using the current UI from the master branch and integrating it with the data that @the-infinity is providing.

In a second step (#456) we will then apply the new UI.

[2021-05-14 19:47] Denis306 opened #457 "Add "Report defect" Feature"
On DT1 (https://herrenberg.stadtnavi.de/) if you click anywhere on the map that is not a POI it opens up a popup that shows three actionable buttons.
![image](https://user-images.githubusercontent.com/63004289/118329018-cf764d00-b506-11eb-97d2-c84a64f093eb.png)

This is not available on next branch right now
![image](https://user-images.githubusercontent.com/63004289/118329372-3431a780-b507-11eb-9

[2021-05-15 03:40] aaronyamil commented on #451
Hi @samia-roubaa and @leonardehrenfried
I can see these indicators in dev environment:
![image](https://user-images.githubusercontent.com/8564142/118346561-89bb8380-b50a-11eb-8f31-b85036d89d9c.png)
What is the rule for this indicators? What is the expected?
Because in some Parking places there is not the indicator:
![image](https://user-images.githubusercontent.com/8564142/118346619-d30bd300-b50a-

[2021-05-15 05:51] hbruch commented on #451
Please compare https://github.com/stadtnavi/digitransit-ui/blob/next/app/component/map/tile-layer/DynamicParkingLots.js in master and next branch. You will see that some state is currently not taken into account in next.

[2021-05-16 04:39] aaronyamil commented on #451
Thanks for the help @hbruch
I compared this file between two branches. In the next branch the parking place only have badge if inside the properties has **free** field. But we have another Parking places without **free** field, please see the following:
- with free field
![image](https://user-images.githubusercontent.com/8564142/118385569-eb98ed80-b5dd-11eb-8cd2-8507d86ecbfd.png)
- without free fi

[2021-05-17 07:26] flaktack commented on #455
I've created an upstream issue to track this, since there currently isn't any support for it: https://github.com/opentripplanner/OpenTripPlanner/issues/3487

Merging https://github.com/opentripplanner/OpenTripPlanner/pull/3190/commits/40dd56101ff9423165202efcab5f1c532083ed01 beforehand would be useful, since it contains corrections for the handling of `BikeRentationStation#networks`.

[2021-05-17 07:32] leonardehrenfried commented on #455
Is https://github.com/opentripplanner/OpenTripPlanner/commit/40dd56101ff9423165202efcab5f1c532083ed01 part of a PR?

[2021-05-17 07:39] flaktack commented on #455
Yes, but github markup eats the link :-( - https://github.com/opentripplanner/OpenTripPlanner/pull/3190

[2021-05-17 10:10] leonardehrenfried opened #460 "Origin and destination buttons are not wired up correctly"
![Screenshot from 2021-05-17 12-05-50](https://user-images.githubusercontent.com/151346/118471615-3c0c6a00-b708-11eb-8fe3-3afd720aa1cd.png)

In the car park and bike park popups clicking on the "Origin" and "Destination" buttons does nothing. This is presumably because the `onSelectLocation` callback is not correctly wired up: https://github.com/stadtnavi/digitransit-ui/blob/next/app/component/map

[2021-05-17 10:15] hbruch opened #461 "Sharing vehicle popup strings should be vehicle type specific"
The [new car-sharing data](https://github.com/stadtnavi/static-gbfs-feeds/pull/6) feed provides deep links for a couple of stations, especially in Stuttgart. The popup handles them, but displayed messages cover only the vehicle type bicycle:

<img width="353" alt="image" src="https://user-images.githubusercontent.com/2187389/118472136-ca80eb80-b708-11eb-9abb-960580296d63.png">

OTP reply should re

[2021-05-17 11:13] patrickbeck1337 opened #462 "Migrate charging stations"
With this ticket we should migrate the charging stations.

[2021-05-17 11:53] hbruch commented on #461
As adding form_factor (= supporting GBFS 2.1) in OTP is a larger feature, please handle that on client side for now by mapping e.g. network to vehicle type car.

[2021-05-17 17:37] #462 closed

[2021-05-18 08:02] the-infinity commented on #456
For displaying the connectors you can use these icons: https://github.com/binary-butterfly/charging-station-connector-icons .

[2021-05-18 08:56] the-infinity commented on #456
... after some testing: here will be another revision of the icons without fonts dependencies.

[2021-05-18 10:02] hbruch commented on #451
Wohnmobilhafen is closed according to popup, but has no indicator
<img width="349" alt="grafik" src="https://user-images.githubusercontent.com/2187389/118632598-dfc14d00-b7d0-11eb-98d4-2881b7cd54c8.png">

[2021-05-18 10:04] leonardehrenfried commented on #451
Where are you seeing this?

![Uploading Screenshot from 2021-05-18 12-04-12.png…]()

[2021-05-18 11:08] hbruch commented on #451
Could not reproduce, my fault

[2021-05-18 12:30] #453 closed

[2021-05-18 12:36] leonardehrenfried opened #464 "Remove stop and route search"
![Screenshot from 2021-05-18 14-33-00](https://user-images.githubusercontent.com/151346/118651622-0b9afd80-b7e6-11eb-9f33-d54b92057b12.png)

Since the it does not work, please remove the "Search stops and lines" search from the start page.

# Acceptance criteria
- Introduce a config variable for enabling/disabling, much like https://github.com/stadtnavi/digitransit-ui/commit/1c2792dd4577fc2e7d3c2a

[2021-05-18 15:07] #387 closed

[2021-05-18 15:07] leonardehrenfried commented on #387
![Screenshot from 2021-05-18 17-07-16](https://user-images.githubusercontent.com/151346/118676213-81f62a80-b7fb-11eb-8778-efbe38324e78.png)

I disabled the nearby view.

[2021-05-18 15:15] leonardehrenfried opened #465 "Adjust UI to display bike rental warnings"
![115232399-ee0b4300-a116-11eb-9df2-7ae0198b2e41](https://user-images.githubusercontent.com/151346/118677764-cafaae80-b7fc-11eb-8e88-e316610195ee.png)

OTP1 has a feature to allow you to drop a bike anywhere even when you're supposed to bring it back to a station. The UI should display a warning though (see above screenshots).

We added the feature to OTP2 but the API response looks a little diffe

[2021-05-18 16:18] flaktack commented on #465
The following plans a trip where the bicycle is kept on arrival using https://api.dev.stadtnavi.eu/otp/routers/default/index/graphql
[code]

Response:
[code]

[2021-05-19 06:10] samia-roubaa commented on #396
Bug validation on QA system: successful

[2021-05-19 06:10] #396 closed

[2021-05-19 06:14] samia-roubaa commented on #416
Bug validation on QA system: successful

[2021-05-19 06:14] #416 closed

[2021-05-19 06:18] samia-roubaa commented on #418
Bug validation on QA system: successful

[2021-05-19 06:18] #418 closed

[2021-05-19 06:29] samia-roubaa commented on #395
Bug validation on QA system: failed

Scenario:
follow the same steps described in the main issue.
Without changing the settings, the app showed the following route suggestion:
![image](https://user-images.githubusercontent.com/83356918/118765975-1b652100-b87c-11eb-9ac3-e8d3fb8317ef.png)

After changing the settings, the app showed another routing suggestion without returning the one that has been

[2021-05-19 06:33] samia-roubaa commented on #421
Bug validation on QA system: failed

The -1 still appears and the layout also changed.
![image](https://user-images.githubusercontent.com/83356918/118766575-e5746c80-b87c-11eb-928c-4a5276d65c99.png)

[2021-05-19 06:39] samia-roubaa opened #467 "Some parking places show the information in English while the chosen language is German"
Scenario:
1. Open the details of the parking place "Marktplatz - Parkplatz für Menschen mit Behinderung"
2. The details are shown in English, while the language chosen is German
![image](https://user-images.githubusercontent.com/83356918/118767151-ad215e00-b87d-11eb-9143-54bfdd048f07.png)

Expected behavior:
The information needs to be translated

QA system version:
 image: mfdz/opentripplanner:ot

[2021-05-19 06:40] samia-roubaa commented on #428
Bug validation on QA system: successful

Another issue rose: #467

[2021-05-19 06:40] #428 closed

[2021-05-19 06:54] samia-roubaa commented on #429
Bug validation on QA system: partially failed

1. Fahrradparkplätze:
There is a parking place near Kalkofenstraße that does not show any information about the available parking slots
![image](https://user-images.githubusercontent.com/83356918/118768228-0b9b0c00-b87f-11eb-851b-ec7fc6187f6d.png)

2. Ladestationen:
The Elektroauto-Ladestation shows a weird message stating that "2 out 1 slots are free

[2021-05-19 07:09] samia-roubaa commented on #430
Bug validation on QA system: successful

[2021-05-19 07:09] #430 closed

[2021-05-19 07:12] samia-roubaa commented on #433
Bug validation on QA system: successful

[2021-05-19 07:12] #433 closed

[2021-05-19 07:15] samia-roubaa opened #468 "When clicking on a Sharing-Angebot location the icon disappears"
Scenario:
1. Go to https://herrenberg.qa.stadtnavi.eu/
2. Choose to show Sharing-Angebote
3. Click on any Sharing-Angebot location
4. The icon will disappear
![image](https://user-images.githubusercontent.com/83356918/118771142-7b5ec600-b882-11eb-9bc0-1722001cde5d.png)
5. To be able to show the icon again, you will have to zoom out
![image](https://user-images.githubusercontent.com/83356918/118771

[2021-05-19 07:23] samia-roubaa commented on #434
Bug validation on QA system: partially failed

The alignment is much better, but there is still a slight misalignment between the "day" and the timing (they are not on the same line).
![image](https://user-images.githubusercontent.com/83356918/118772172-b9a8b500-b883-11eb-99bd-0fda69d54be7.png)

QA system version:
 image: mfdz/opentripplanner:otp2-15fd09f6e08683d05cfe96e1400a33356d17afa9
 image: s

[2021-05-19 07:33] samia-roubaa opened #469 "A missing unified view for the Öffnungszeiten"
The view of the Öffnungszeiten varies a lot between several POIs.
The view should be unified.

ex. POI: Parking place
![image](https://user-images.githubusercontent.com/83356918/118772504-1d32e280-b884-11eb-8efe-ba592f3daa7c.png)

ex. POI: Rund um's Fahrrad
![image](https://user-images.githubusercontent.com/83356918/118773437-1f497100-b885-11eb-99c7-db9f356f194f.png)

ex. POI: Nette Toilette
![ima

[2021-05-19 08:11] leonardehrenfried commented on #395
Unfortunately this is not how the routing backend works.

Changing this will be a major undertaking and is definitely outside the scope of the project.

Is the originally reported problem resolved?

[2021-05-19 08:35] samia-roubaa commented on #395
The original problem is solved, but could you please explain to me how the routing backend works. As I don't quite understand why not both suggestions can not be shown.

[2021-05-19 08:46] leonardehrenfried commented on #395
When you select bike rental it forces the use of a bike rental leg but in Herrenberg there is only a single station. If you would want to combine it with bus you would have to go in a circle back to the train station and take the bike.

It would of course be ideal if you could show both bus and bike rental but we would have to change quite a bit to make this work.

[2021-05-19 09:08] samia-roubaa commented on #395
Thanks a lot for the clarification.
I will close the issue.

[2021-05-19 09:08] #395 closed

[2021-05-19 09:20] samia-roubaa commented on #451
Some parking places have the indicator and others don't
![image](https://user-images.githubusercontent.com/83356918/118788621-3f346100-b894-11eb-838b-89908f60c482.png)

[2021-05-19 09:24] hbruch commented on #451
That's ok as not for all parkings we have real time information available. These are shown without indicator

[2021-05-19 09:24] leonardehrenfried commented on #451
This is because only some parking lots have the parking sensors.

[2021-05-19 09:33] samia-roubaa opened #471 "Missing translation for special routes dropdown"
Scenario:
1. Go to https://herrenberg.qa.stadtnavi.eu/
2. Select any Bahnhof Haltestelle
3. Choose any shown train (ex. S1 Plochingen)
4. Open the routings dropdown
5. The dropdown includes the following title "route-page.special-routes"

Expected behavior:
The title needs to be translated

![image](https://user-images.githubusercontent.com/83356918/118790287-e796f500-b895-11eb-8703-ed96150cb705.p

[2021-05-19 09:44] #457 closed

[2021-05-19 09:44] #464 closed

[2021-05-19 10:00] samia-roubaa commented on #451
Thank you for the clarification.
Issue will be closed.

[2021-05-19 10:00] #451 closed

[2021-05-19 10:09] leonardehrenfried opened #472 "Sharing icons broken in Chrome"
## Steps to reproduce

1. Visit http://localhost:8080/fahrradstationen/80104?locale=de
2. Zoom in and out a bit
3. See error on console

![Screenshot from 2021-05-19 12-07-18](https://user-images.githubusercontent.com/151346/118795411-d7cddf80-b89a-11eb-9ad3-aa103a00aac1.png)
![Screenshot from 2021-05-19 12-07-09](https://user-images.githubusercontent.com/151346/118795421-d997a300-b89a-11eb-8a1e-e

[2021-05-19 10:59] MartinH-open commented on #451
The StadtNavi User might not know about this (whether parking sensors are available or related to the indicator).
Either have some other indicator (grey = unknown) or in the detail screen explain that the green indicator information is based on parking sensors for that location

[2021-05-19 11:23] samia-roubaa opened #474 ""Suche nach Haltestellen oder Linien" is not working"
Scenario:
1. Go to https://herrenberg.qa.stadtnavi.eu/
![image](https://user-images.githubusercontent.com/83356918/118804314-d86b7380-b8a4-11eb-9bbe-5c8a8e321a93.png)

2. Try to search for the Bushaltestelle "Herrenberg Reinhold-Schick-Platz in the search field "Suche nach Haltestellen oder Linien"
![image](https://user-images.githubusercontent.com/83356918/118804484-0b156c00-b8a5-11eb-868d-a93ff3

[2021-05-19 11:31] #413 closed

[2021-05-19 11:41] #388 closed

[2021-05-19 12:39] leonardehrenfried commented on #353
This feature is on hold until we have data in Herrenberg.

[2021-05-19 12:47] leonardehrenfried commented on #429
1. Sometimes we just don't know how many spaces are available.
2. This is a bug that I just fixed. Embarrassing.
3. Duplicate of #469

[2021-05-19 12:50] samia-roubaa opened #475 "Bus info - missing translation in Fahrplan"
Scenario:
1. Go to "herrenberg.qa.stadtnavi.eu"
2. Search for
    Start: Kreiskrankenhaus, Marienstraße
    Ziel: Grundschule, Nelkenstraße
![image](https://user-images.githubusercontent.com/83356918/118814940-fdfe7a00-b8b0-11eb-808d-ee3b6f6d4f44.png)

3. Click on the first routing suggestion, the system will open the details of the routing suggestion
![image](https://user-images.githubusercontent

[2021-05-19 13:01] samia-roubaa opened #476 "Routing dropdown does not close"
Scenario:

1. Go to "herrenberg.qa.stadtnavi.eu"

2. Search for
Start: Kreiskrankenhaus, Marienstraße
Ziel: Grundschule, Nelkenstraße
![image](https://user-images.githubusercontent.com/83356918/118816393-6c900780-b8b2-11eb-8b67-93d5f7a312b5.png)

3. Click on the first routing suggestion, the system will open the details of the routing suggestion
![image](https://user-images.githubusercontent.com/8

[2021-05-19 13:11] samia-roubaa opened #477 "Translation missing when changing the Abfahrt from the mobile"
Scenario:
1. Open the URL "https://herrenberg.qa.stadtnavi.eu/" from a mobile phone's browser
2. Click on "Abfahrt" to change the Abfahrt time
3. A popup window will be opened.
4. The popup title and the Save button are in Finnish
![image](https://user-images.githubusercontent.com/83356918/118818156-4bc8b180-b8b4-11eb-9a2e-df181a4e20c5.png)

Expected behavior:
These elements should be translated a

[2021-05-19 13:52] samia-roubaa opened #478 "Fahrplan printing issues"
**From the desktop web app:**
Scenario:
1. Go to https://herrenberg.qa.stadtnavi.eu/routen/hbg:31-773-j21-4/fahrplan/hbg:31-773-j21-4:0:01
2. Click on the button "Drucken" to print the Fahrplan
3. The system will open the print preview
4. The print preview shows that the to be printed layout is too messed up; the map is trimmed, the title is not aligned, etc.
![image](https://user-images.githubuse

[2021-05-19 13:53] leonardehrenfried commented on #474
It looks like it has something to do with the paths, which I fixed upstream: https://github.com/HSLdevcom/digitransit-ui/pull/3747

[2021-05-19 13:57] leonardehrenfried commented on #474
This search box has been completely removed.

[2021-05-19 14:42] leonardehrenfried commented on #475
This also happens upstream: https://reittiopas.hsl.fi/linjat/HSL:2200/aikataulu/HSL:2200:1:01?locale=en

[2021-05-19 14:51] leonardehrenfried commented on #475
Upstream ticket: https://github.com/HSLdevcom/digitransit-ui/issues/4173

[2021-05-19 15:27] leonardehrenfried commented on #475
Upstream Jira: https://digitransit.atlassian.net/browse/DT-4689

[2021-05-19 15:33] derhuerst opened #479 "UI should use route_color & route_text_color from the GTFS data"
https://dev.stadtnavi.eu/reiseplan/Heidelberg%3A%3A49.4093582%2C8.694724/Friedrichshafen%3A%3A47.6505715%2C9.4797531/0?time=1621428478

<img width="423" alt="Screenshot 2021-05-19 at 16 33 09" src="https://user-images.githubusercontent.com/5072613/118841101-e975ae00-b8bf-11eb-9e17-40f5252b32c5.png">

The itinerary shows e.g. the "T10-A"/"RE10a" leg as all-while (foreground and background), even th

[2021-05-20 06:27] hbruch opened #480 "Buttons of popup unreadable"
How to reproduce:
Select a  POI "Nette Toilette".

Current behavior:
Buttons are not readable, font sizes of heading and content are inapprobiate:
<img width="288" alt="grafik" src="https://user-images.githubusercontent.com/2187389/118929631-0d2f0780-b945-11eb-8477-7f7b4676fd6f.png">

Expected behavior:
Buttons are readable (if Mangel melden takes to much place, we should display it only for addre

[2021-05-20 06:31] hbruch opened #481 "Can't store bus stop as favorite"
How to reproduce:
1. Select a bus stop in map
2. In stop panel, press the star to store a favorite

Current behavior:
A (half untranslated) error message pops up:
<img width="522" alt="grafik" src="https://user-images.githubusercontent.com/2187389/118930037-8b8ba980-b945-11eb-99ab-f9fea780c344.png">

Reason:
This is caused by a currently not supported geocoder api request:
<img width="1063" alt="g

[2021-05-20 07:39] andreashelms commented on #472
@leonardehrenfried Actually I don't see any differences between Firefox and Chrome. What icon should be visible there?

[2021-05-20 07:42] leonardehrenfried commented on #472
In firefox if you zoom in an out again, you can see the icon coming back.

![Screenshot from 2021-05-20 09-42-07](https://user-images.githubusercontent.com/151346/118939181-b1b64700-b94f-11eb-942d-d627083d58bb.png)

[2021-05-20 07:43] leonardehrenfried commented on #472
So there are two issue with these icons: this one and this https://github.com/stadtnavi/digitransit-ui/issues/468

[2021-05-20 07:46] leonardehrenfried opened #482 "Wrong itinerary shown on detail map"
## Steps to reproduce

1. Plan any route, for example [Herrenberg to Nufringen](https://dev.stadtnavi.eu/reiseplan/Herrenberg%3A%3A48.595557%2C8.8674715/Nufringen%3A%3A48.6224388%2C8.8881021?time=1621496688)
2. Click on one of the first route to open the detail view
3. Observe that the cycling-only route is displayed on the map
![Screenshot from 2021-05-20 09-45-41](https://user-images.githubuserc

[2021-05-20 07:51] andreashelms commented on #469
I don't think this is a bug, but a feature request. At the moment opening hours are formatted this this in data source `bicycleinfrastructure.geojson` and have to be changed everywhere inside of it:

`        "popupContent_de": "Telefon: +49 7073 852520, \u00d6ffnungszeiten: Mo-Di 17:00-20:00, Do-Fr 17:00-20:00, Sa 10:00-14:00;Barrierefrei: nein",`

@Denis306 Should we do this with priority, thoug

[2021-05-20 07:54] leonardehrenfried commented on #469
No, this is a low priority ticket.

[2021-05-20 07:56] leonardehrenfried commented on #482
My feeling is that routes are put into a joined array in `SummaryPage.js` and therefore the index refers to the wrong one.

[2021-05-20 10:08] Denis306 commented on #479
For now we are not going to work on this issue. But if this happens we will filter it out and change the color to black.

[2021-05-20 10:08] #479 closed

[2021-05-20 10:31] leonardehrenfried commented on #475
![Screenshot from 2021-05-20 12-31-36](https://user-images.githubusercontent.com/151346/118963990-54c68b00-b967-11eb-9f8b-9955cb0f1edc.png)

[2021-05-20 10:42] sara-georgy opened #483 "User Feeback: remove map layer "Straßenwetter""
The temperature sensor is not working correctly, therefore, the "Straßenwetter" has to be removed from the system until the sensor gets fixed.
![image](https://user-images.githubusercontent.com/84382750/118965333-dec32380-b968-11eb-97e4-d63beab68c0a.png)

[2021-05-20 10:49] leonardehrenfried commented on #483
What is your time zone?

For me it looks like this:

![Screenshot from 2021-05-20 12-49-15](https://user-images.githubusercontent.com/151346/118966281-dfa88500-b969-11eb-9920-dc5b1fa24347.png)

[2021-05-20 10:52] leonardehrenfried commented on #483
Or hang on, is it the precipitation that is the problem?

[2021-05-20 10:55] sara-georgy commented on #483
This issue was reported on monday at 01:57am.
Regardless of the time zone, TUG confirmed that there is a problem in the sensor itself. So until the problem gets fixed from their side we want to remove the Straßenwetter temporarily from the map.

[2021-05-20 11:16] hbruch opened #485 "Popup not shown"
In firefox, open dev system, press "+" (zoom in) three times and select the car sharing station at the main station.

The popup is not displayed, only the close buttton "x" and bulb arrow are rendered

<img width="305" alt="grafik" src="https://user-images.githubusercontent.com/2187389/118968972-d2d96080-b96c-11eb-8dec-f6882c4b24e8.png">

[2021-05-20 12:18] leonardehrenfried commented on #483
The weather sensor at Enzstrasse has been removed.

[2021-05-20 12:18] #483 closed

[2021-05-20 12:51] sara-georgy commented on #483
validated

[2021-05-20 14:03] andreashelms commented on #480
Duplicate of #469

@Denis306 Can be closed?

[2021-05-20 14:11] Denis306 commented on #480
I think this one is more regarding the buttons and not the content of the pop up. I talked with @leonardehrenfried about this yesterday. Since we added the "Mangel melden" Button in the middle the others get squeezed out. Maybe we need to make the popups a bit bigger.

[2021-05-20 14:45] jpidelatorre commented on #480
@andreashelms  BTW, I added the Report defect (Mangel Melden) button and fixed the problem with the width of the popup in #457 . I'm not sure if this is a regression or if I missed the type of popup. The way I solved this is in PR #459 (app/component/map/tile-layer/TileLayerContainer.js:430). Hope that helps.

[2021-05-20 15:18] leonardehrenfried commented on #480
Yes, simply make the popup wider.

[2021-05-20 15:32] andreashelms commented on #480
Somehow your changes have no effect on the popups build on geojson layers. They had a fixed width, I now changed it to min-width with #488.

[2021-05-20 20:14] MartinH-open commented on #480
Hi - any chance to change the UI implementation in general?
Instead of squeezing the "Report defect (Mangel Melden)" button in the middle of two routing buttons - better add a separate button row above with just this button if function is available for the POI.

[2021-05-21 06:11] jpidelatorre commented on #472
The last commit in #489 fixes the error that appears in the console. But, the problem with the icons persists.

The problem here is that `drawCitybikeIcon` is not being called during the first rendering. I've been trying to figure out the reason. But the flow is too complicated to figure out within this timeframe.

[2021-05-21 06:46] jpidelatorre commented on #469
Actually, the component `OSMOpeningHours` already deals with strings in that format. I added the component to the popup that appears out of GeoJSON markers.

[2021-05-21 06:54] jpidelatorre commented on #485
Can't reproduce the error. Clicking on a Car Sharing marker re-renders the map and the popup appears complete.

[2021-05-21 07:38] leonardehrenfried commented on #465
Not sure if I said it in a dev meeting before: `allowKeepingRentedBicycleAtDestination: true` is already set by the backend and the frontend doesn't need to set it.

What you need to do is add the property `arrivedAtDestinationWithRentedBicycle` to the query and then process it when you get a response from the server.

[2021-05-21 07:41] leonardehrenfried commented on #465
If I remember correctly then in the old API we returned the translated messages. In the new one we don't do that anymore and you will have to add the messages to the frontend.

[2021-05-21 07:50] leonardehrenfried commented on #465
The texts are:

de: Ziel ist keine Rückgabestation. Ausleihe kann hier nicht abgeschlossen werden. Anbieterabhängig fallen weiter Gebühren bis zur Rückgabe an einer Station an.

en: Rental cannot be completed here. Please check terms & conditions for additional fees.

[2021-05-21 08:33] leonardehrenfried opened #491 "Future route is navigated to with incorrect path"
## Steps to reproduce

- Plan a route from Herrenberg to Stuttgart starting tomorrow
- Go back to start page
- Plan the same route again but select the previously store route from the second drop down like highlighted here
![Screenshot from 2021-05-21 10-28-54](https://user-images.githubusercontent.com/151346/119107459-89961900-ba1f-11eb-830a-3361affcde15.png)
- Notice the the path navigated to co

[2021-05-21 08:38] leonardehrenfried commented on #491
Strangely, when you inspect your localstorage you can clearly see that the future route is stored with the correct URL starting with "/reiseplan".

[2021-05-21 08:39] patrickbeck1337 commented on #468
Fix it, but there is apparently a new issue with the map layer settings. Due to some reasons the hsl default options are all true.
@leonardehrenfried should/ can we open a new ticket for this one?

[2021-05-21 09:00] leonardehrenfried commented on #468
Yes please.

[2021-05-21 09:02] leonardehrenfried commented on #468
In fact we can ask Joell today if this is a bug or a feature.

[2021-05-23 08:38] samia-roubaa opened #494 "Routing suggestion "walking" does not appear on the web app unlike the mobile app"
Scenario:

1. Go to 'https://herrenberg.beta.stadtnavi.eu/'
2. Type in Start: Marktplatz Herrenberg
3. Type in Ziel: CAP-Markt Herrenberg
4. The web app will show the "on wheel" options
5. Open the IOS app
6. Search for the same route (Step 2 & 3)
7. The app will only show the option "walking"

Expected behavior:
The "walking" option should also be shown on the web app

![image](https://user-image

[2021-05-23 08:55] samia-roubaa opened #495 "When you click on "Mangel melden", the webapp shows an irrelevant error"
Scenario:
1. Go to https://herrenberg.beta.stadtnavi.eu/
2. Search for Start: Neubau ALDI und Wohnungen
3. Click on the location pin on the map
4. Click on the option "Mangel melden"
5. The app will open a new tab, sets the Ziel will null and shows the following error: "Wir konnten leider keine Reisevorschläge für diese Strecke finden. Bitte versuchen Sie den Abfahrts- oder Zielort zu ändern."
![i

[2021-05-23 13:24] sara-georgy opened #496 "User Feedback 191: location icon does not land in the center of "Oberjesingen""
When the user chooses the location "Oberjesingen, Herrenberg" in his route, the location icon lands in the middle of the fields and not in the center. (See Screenshot)

![image](https://user-images.githubusercontent.com/84382750/119262279-f0136680-bbda-11eb-942a-c15bb8812e78.png)

[2021-05-25 11:00] leonardehrenfried commented on #456
Is it clear what we want to show here? Does Sandra need to be involved?

[2021-05-25 11:06] the-infinity commented on #456
Here you have the npm package: https://www.npmjs.com/package/react-charging-station-connector-icons

[2021-05-25 12:24] andreashelms commented on #343
![image](https://user-images.githubusercontent.com/21622725/119496757-1c0e2380-bd64-11eb-8850-1d1275d53c57.png)
![image](https://user-images.githubusercontent.com/21622725/119496799-26302200-bd64-11eb-835e-8e153ab43818.png)

@leonardehrenfried There is a built-in option to enable map on mobile. It shows the map on top of the start/destination input fields. The input fields can even be swiped down

[2021-05-25 12:28] leonardehrenfried commented on #343
What a fantastic find!

Please enable this and we deploy it - we can then evaluate if is good enough.

[2021-05-25 12:37] leonardehrenfried commented on #343
And with this in place we can concentrate on the panels: https://github.com/stadtnavi/digitransit-ui/issues/344

[2021-05-25 12:51] leonardehrenfried commented on #344
Does it make sense to create a PR per layer?

[2021-05-25 13:03] andreashelms commented on #344
Maybe that would make sense. I will decide based on how much changes are needed for moving one layer's popup content to sidebar.

[2021-05-25 15:13] leonardehrenfried commented on #366
Closed as it's superseded by #366.

[2021-05-25 16:25] patrickbeck1337 opened #500 "Add detail informations to eCharging pop up"
As we agreed in todays web dev meeting we first will add all the new detail informations to the pop up. And as follow up apply the new UI design as side panel in #456

The pop up should include following information:

- Name of the station
- Opening time
- Connector max amperage and power type
- Number of free slots
- Number of total slots
- Accepted payment types
- Address
- Phone number
- Deep l

[2021-05-25 20:58] Denis306 commented on #494
I checked in HSL and the routing also shows both "walking" and "Bike" options.
![image](https://user-images.githubusercontent.com/63004289/119567474-a8443900-bdac-11eb-957d-b18905b8992e.png)

[2021-05-26 07:31] nghanem-poet-egypt opened #501 "Same Source and Destination adresses still show a route"
if the exact same From and To adresses are entered, the webapp still shows a route (it's a very long route, like going in a circle and then getting back to the same point). I think this should not be the case, the webapp should show a message that the "from" and "to" are the same and the user should enter another destination.
See screenshots for some examples.

Also I tried the same thing in digit

[2021-05-26 07:34] nghanem-poet-egypt commented on #501
![20210526 09_27_58-Window](https://user-images.githubusercontent.com/84389152/119620490-554aa000-be05-11eb-940d-3d6b28801244.png)
![Same From and to digitransit](https://user-images.githubusercontent.com/84389152/119620656-85923e80-be05-11eb-82cb-ad04e9b09291.png)
![Same From and to Stadtnavi](https://user-images.githubusercontent.com/84389152/119620657-86c36b80-be05-11eb-8b79-555aef9c88be.png)

[2021-05-26 07:46] nghanem-poet-egypt opened #502 "On Mobile browser: wrong time is shown in pop-up"
1. Open Stadtnavi webapp form a mobile device
2. Enter any From and To adresses
3. The time of departure is shown correctly like the local time
4. Open the pop-up to set another time for the journey and click on "leaving now" and then on "Ready"
5. Open the pop-up again --> The time **preset** in the pop-up is wrong, it is one hour after the actual time

On a PC this is not the case, the time is s

[2021-05-26 08:02] leonardehrenfried commented on #502
This is very likely because an incorrect timezone is being passed to the component.

I fixed this [for a few components a while ago](https://github.com/HSLdevcom/digitransit-ui/pull/3751) but there is still a problem with the mobile time picker.

Please investigate and pass the timezone.

[2021-05-26 11:18] nghanem-poet-egypt opened #503 "Wrong message displayed although routes were found"
Try the following URL:
https://herrenberg.qa.stadtnavi.eu/reiseplan/Kreiskrankenhaus%2C%20Marienstra%C3%9Fe%2025%2C%2071083%20Herrenberg%3A%3A48.59177235%2C8.875281170394544/Fahrradparkplatz%20Bahnhof%20Herrenberg%2C%20Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.5942784%2C8.86228425?time=1622027411

From: Kreiskrankenhaus
To: Fahrradparkplatz Bahnhof Herrenberg
--> this is only an example

[2021-05-26 12:45] leonardehrenfried opened #504 "DT1: Fix wording in car sharing popups"
This ticket is about the `master` branch, not `next`.

We have added new car sharing stations containing booking links in Stuttgart to the map.

Location: https://herrenberg.stadtnavi.de/Katzenbachstra%C3%9Fe%2C%2070563%20Stuttgart%3A%3A48.73262967867374%2C9.10571336746216/-/indernaehe?locale=en&time=1622032450

The problem is that the text still talks about booking a rental bike.
![Screenshot fro

[2021-05-26 13:44] derhuerst commented on #350
https://github.com/derhuerst/generate-herrenberg-gtfs-flex/pull/1#issuecomment-848781374

[2021-05-27 10:44] nghanem-poet-egypt opened #508 "Not logical park and ride route"
https://herrenberg.beta.stadtnavi.eu/reiseplan/T%C3%BCbingen%20Hbf%2C%20Hegelstra%C3%9Fe%2C%2072072%20T%C3%BCbingen%3A%3A48.5155801%2C9.0552876/Herrenberg%2C%20Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.594059%2C8.8629217/parkAndRide?time=1621928242

Please check this park and ride option it doesn't make sense because there is two times park and ride, please check it.
Expected: it should

[2021-05-27 10:54] leonardehrenfried commented on #508
This is duplicate of https://github.com/mfdz/OpenTripPlanner/issues/73

[2021-05-27 12:12] leonardehrenfried opened #509 "Weather popup is not translated to German"
Steps to reproduce

- Plan a route
- Click on the weather icon next to the mode tiles

![Screenshot from 2021-05-27 14-11-19](https://user-images.githubusercontent.com/151346/119823766-7985aa00-bef5-11eb-8e94-733ff8b50d82.png)

[2021-05-27 17:08] hbruch commented on #496
Additional examples:
[Kuppingen]( https://herrenberg.stadtnavi.de/Kuppingen%2C%20%20Herrenberg%3A%3A48.611011149999996%2C8.832897832205557/-/indernaehe?time=1622130897)
[Oberjesingen](https://herrenberg.stadtnavi.de/Oberjesingen%2C%20%20Herrenberg%3A%3A48.628435249999995%2C8.822483166151349/-/indernaehe?time=1622130897)
[Haslach](https://herrenberg.stadtnavi.de/Haslach%2C%20%20Herrenberg%3A%3A48.5

[2021-05-28 06:14] Denis306 commented on #456
This issue is resolved in ticket #344.

[2021-05-28 06:14] #456 closed

[2021-05-28 06:57] #504 closed

[2021-05-28 07:00] the-infinity commented on #351
This will be based on the openbikebox backend: https://backend.openbikebox.de/documentation . The basic API ist complete, there will be a few extensions:

- location.resource.description
- location.resource.photo
- location.resource.type

[code]

[2021-05-28 07:49] #363 closed

[2021-05-28 08:14] leonardehrenfried opened #512 "Charge stations icons have the incorrect colour when zoomed out"
![Screenshot from 2021-05-28 10-12-39](https://user-images.githubusercontent.com/151346/119952450-51ea1c80-bf9d-11eb-80e9-e8eda048899c.png)

When zoomed out the dots are black but they should be same turquoise as the icons.

![Screenshot from 2021-05-28 10-13-54](https://user-images.githubusercontent.com/151346/119952542-6af2cd80-bf9d-11eb-9f56-da833be20f36.png)

[2021-05-28 10:45] leonardehrenfried opened #513 "Clicking on "Origin" or "Destination" button in echarging panel sets incorrect longitude"
Steps to reproduce

- Visit https://dev.stadtnavi.eu/ladestationen?lat=48.59410518761695&lng=8.865510821342468&stationId=2953&capacity=1&available=1
- Click on the "Origin" button
- Observe that URL is `https://dev.stadtnavi.eu/Hasenplatz%206%3A%3A48.59410518761695%2Cundefined/-` (note undefined at the end)
- Do a routing search and observe that it produces an error

I'm pretty sure that it's beca

[2021-05-28 14:29] andreashelms commented on #513
@jpidelatorre I already fixed this with my last PR. Issue can be closed.

[2021-05-28 14:48] #513 closed, assigned to nobody

[2021-05-28 18:10] MartinH-open opened #518 "Bus with realtime location tracking and occupancy indicator should display specific bus line and route information"
![image](https://user-images.githubusercontent.com/1383111/120024448-838bd380-bfef-11eb-9860-daa218446188.png)

https://dev.stadtnavi.eu/ as of now : 28.5.2021 20:05 MESZ
As displayed some buses in Herrenberg offer realtime location tracking and occupancy indicator. That is great! 👍
But the bus icon and detail screen do not display any specific bus line and route information.
Without such informat

[2021-05-29 05:58] hbruch opened #519 "Bicycle-transit mode pushes bike at destination"
Observation:

Requesting a bike&transit returns trip suggestions where the egress mode is walking (=pushing):
https://herrenberg.beta.stadtnavi.eu/reiseplan/Herrenberg%3A%3A48.595557%2C8.8674715/Thingstraße%2C%2070565%20Stuttgart%3A%3A48.7160064%2C9.0982223/bikeAndVehicle/?mapMode=bicycle&time=1622266328

<img width="496" alt="image" src="https://user-images.githubusercontent.com/2187389/120059339

[2021-05-29 06:10] hbruch commented on #518
Hi @MartinH-open , thanks for your feedback. We are already working on this feature. As the PAX counters/GPS sensors are attached to vehicles, which service different routes, this involves trip matching. We plan to have this information added by end of June.

[2021-05-29 09:10] MartinH-open commented on #518
Thanks for commenting. Not sure what digital infrastructure is available in buses.  But somehow vehicles (bus) should carry some "id tag" (Wifi id, BT id, ..) to allow bus (and trip) identification with sensors nearby (like the PAX counters) and for customers wait for their specific bus (eg. blind customers would receive notification (from their smartphone) that their bus is approaching the bus st

[2021-05-29 11:09] samia-roubaa commented on #474
QA validation: search was temporarily removed

[2021-05-29 11:29] samia-roubaa commented on #481
QA validation: the star is disabled

[2021-05-29 11:40] samia-roubaa commented on #480
QA validation; Button only exists for addresses

[2021-05-29 11:51] samia-roubaa opened #521 "Weird line is shown in the details of a "Ladestation""
Scenario:
1. Go to https://herrenberg.beta.stadtnavi.eu/
2. Show the Ladestationen
3. Click on any Ladestation to see its details
4. The web app will open in the left panel the details of the Ladestation, you will see a weird line between the details
![image](https://user-images.githubusercontent.com/83356918/120069186-d19ee680-c084-11eb-93cd-84c4b6016e0a.png)
![image](https://user-images.githubus

[2021-05-29 11:57] samia-roubaa opened #522 "Unselected POIs appear upon clicking on a Sharing-Angebot"
Scenario:
1. Go https://herrenberg.beta.stadtnavi.eu/
2. Choose to only show the "Sharing-Angebote" by unmarking all other POIs from the POIs list
![image](https://user-images.githubusercontent.com/83356918/120069282-60136800-c085-11eb-9026-e7734fb1dca7.png)
3. Click on any "Sharing-Angebot" to see its details
4. The web app will suddenly show other POIs on the map (bus stops, train stations, etc.

[2021-05-29 15:42] hbruch opened #523 "Roadworks start/endtime wrong"
Current behavior:
For any selected roadwork, start/enddate are rendered as current dates:
<img width="673" alt="grafik" src="https://user-images.githubusercontent.com/2187389/120076278-13d82000-c0a5-11eb-98d5-3eb7ae64ccec.png">

Expected behavior:
The start/end date/time of the roadwork are displayed as specified in the data source.

[2021-05-30 13:41] nghanem-poet-egypt opened #524 "User Feedback: "Tübingen Bahnhof" should be synonym to "Tübingen Hbf""
If the word "Tübingen Bahnhof" is entered it is expected that the search displays "Tübingen Hbf" in the result list at the beginning
Current behavior: it doesn't show "Tübingen Hbf"

![grafik](https://user-images.githubusercontent.com/84389152/120106469-52c9ac80-c15d-11eb-943f-1cc7e48f1bb8.png)

[2021-05-30 21:02] hbruch opened #525 "DT-next bicycle priorities use QUICK mode instead of DT-1 weights"
While [DT-1 uses safety-oriented routing preferences](https://herrenberg.stadtnavi.de/reiseplan/Reinhold-Schick-Platz%2C%20Reinhold-Schick-Platz%2C%2071083%20Herrenberg%3A%3A48.5956515%2C8.8673058/G%C3%A4ufelden%3A%3A48.5534259%2C8.8229748?mapMode=bicycle&modes=BICYCLE&time=1622407878) for bicycle routing, DT-Next optimizes for [QUICK mode](https://herrenberg.beta.stadtnavi.eu/reiseplan/Reinhold-S

[2021-05-31 03:55] hbruch commented on #351
Please note that OBB should not be integrated via it's own interface but using GBFS via OTP2 as a standard interface

[2021-05-31 05:34] the-infinity commented on #351
That's why we now support GBFS: https://backend.openbikebox.next-site.de/api/gbfs/2.2/2/gbfs.json in a first version :)

[2021-05-31 07:16] #475 closed

[2021-05-31 07:16] #474 closed

[2021-05-31 07:16] #429 closed

[2021-05-31 07:16] #421 closed

[2021-05-31 07:16] #477 closed

[2021-05-31 07:16] #471 closed

[2021-05-31 07:16] #450 closed

[2021-05-31 07:17] #481 closed

[2021-05-31 07:17] #482 closed

[2021-05-31 07:17] #480 closed

[2021-05-31 07:17] #468 closed

[2021-05-31 08:20] leonardehrenfried commented on #350
I've updated the ticket and would be grateful if the participants could take a look and spot any mistakes.

[2021-05-31 08:39] leonardehrenfried commented on #351
Nice to have: display a picture of the bike.

[2021-05-31 08:41] the-infinity commented on #351
@leonardehrenfried ... but this is not covered by GBFS, is it?

[2021-05-31 09:26] leonardehrenfried commented on #525
![Screenshot from 2021-05-31 11-26-08](https://user-images.githubusercontent.com/151346/120172112-0173f880-c203-11eb-844e-93f5e91f1b33.png)

DT-1 behaviour restored with ba92a78d610dbbf2f9b5c7510b2cf41a0be4358c

[2021-05-31 10:25] nghanem-poet-egypt opened #528 "User Feedback: question/error about Bike routes"
From: Reinhold Schick Platz
To: Gäufelden
By BIKE

 (L1184) Current behavior: displayed are main streets

Expected from the user is that the bike roads are shown instead of the main roads
![b_5dd35c13-933f-48d3-b924-2c7b8eca839a_1622398347](https://user-images.githubusercontent.com/84389152/120178930-4baca800-c20a-11eb-9812-0eba1e545358.png)

[2021-05-31 10:28] hbruch commented on #528
This is a duplicate of #525 and is already fixed, not yet deployed. Closing here

[2021-05-31 10:28] #528 closed, assigned to nobody

[2021-05-31 11:08] leonardehrenfried commented on #519
![Screenshot from 2021-05-31 13-07-44](https://user-images.githubusercontent.com/151346/120184380-34bd8400-c211-11eb-8fa3-31f9d630faf3.png)

It was indeed a backend problem, but not what I thought. The bike parking stations where not resolved correctly. I have a fix but would like to test it a little more before rolling it out.

[2021-05-31 11:09] leonardehrenfried commented on #519
What you saw in your original screenshot was the bike + park option which was awkwardly phrased. What you you think about "Fahrrad abstellen und weiterfahren"?

[2021-05-31 11:10] leonardehrenfried commented on #519
I'm now investigating why you cannot take the bike onto the train.

[2021-05-31 12:24] leonardehrenfried commented on #523
![Screenshot from 2021-05-31 14-21-55](https://user-images.githubusercontent.com/151346/120192775-e661b280-c21b-11eb-8c42-2aa49ec3b4ad.png)

Fixed by 55cf55e3c01e08fef8f023c54415969998197dc9

[2021-05-31 12:51] leonardehrenfried commented on #519
It seems that VVS doesn't contain any `bikes_allowed` information in their GTFS feed. Can you confirm this @hbruch?

[2021-05-31 12:58] leonardehrenfried commented on #519
Bike park URL on dev: https://dev.stadtnavi.eu/reiseplan/Lange%20Stra%C3%9Fe%2C%2071126%20G%C3%A4ufelden-Nebringen%3A%3A48.56206753526866%2C8.846569061279299/Stuttgart%3A%3A48.7784485%2C9.1800132/bikeAndVehicle/?mapMode=bicycle&time=1622465325

[2021-05-31 13:00] hbruch commented on #519
No, VVS does not contain bikes_allowed. OTP1 had an option to allow bikes per default. Does this relate to the push mode at destination?

[2021-05-31 13:02] leonardehrenfried commented on #519
No, however, since you ask for the "take the bike on transit" option, I think the reason it's missing is that `bikes_allowed` is missing.

[2021-05-31 13:03] leonardehrenfried commented on #519
Do we want to allow bikes on transit by default?

[2021-05-31 13:12] #523 closed, assigned to leonardehrenfried

[2021-05-31 13:12] #525 closed, assigned to leonardehrenfried

[2021-05-31 13:12] #519 closed, assigned to leonardehrenfried

[2021-05-31 13:54] nghanem-poet-egypt opened #529 "User Feedback: sharing and train only fails for long cycling legs in Stuttgart"
Feedback numbers: 209, 210

**Feedback number 209 from Ansgar**
From: Herrenberg, Bahnhof Herrenberg
To: Erwin-Bälz-Straße, 70597
Settings: U-Bahn and Bus are disabled in the settings, Sharing is enabled
Current behavior: 133 minutes with the shared bike are shown
Expected result: better route would be a combination of S-Bahn and Sharing as fist option or also as second option

Current:
![grafik](

[2021-05-31 17:21] derhuerst commented on #350
As Leonard mentioned in the Zulip chat, the latest changes (https://github.com/derhuerst/generate-herrenberg-gtfs-flex/pull/2) seem to work in OTP2, so I merged it.

[2021-05-31 22:21] nghanem-poet-egypt opened #530 "User Feedback: Navigation to other modes disappears when mode is changed"
Feedback number 211

https://herrenberg.beta.stadtnavi.eu/reiseplan/Kuppingen%2C%2071083%20Herrenberg%3A%3A48.610752%2C8.8431229/Stuttgart%3A%3A48.7784485%2C9.1800132?time=1622555100

1. At first public transportation is shown for this route.
2. If I change to Park and ride or to Bike the button next to the weather that goes back to public transport disappears and I have to navigate back through t

[2021-05-31 22:51] nghanem-poet-egypt opened #531 "User Feedback: Sharing offer not useful in selected route - walking is better for this leg"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Herrenberg%2C%20Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.594059%2C8.8629217/Stuttgart%20Hauptbahnhof%2C%20Baustra%C3%9Fe%20Stuttgart%2021%2C%2070173%20Stuttgart%3A%3A48.7856099%2C9.1833959/?time=1622637960

Settings: turn on the Sharing
Current behavior: the last 5 minutes are shown as a sharing offer which is divided in two further legs (

[2021-06-01 00:17] nghanem-poet-egypt opened #532 "Minor UI issues"
- [x] 1. The abbreviation of the day should start with a capital letter like in the drop-down list

- [x] 2. The words "Früher" and "Später" don't have same font size or color

- [x] 3. Is it really "Fährt **ab um** 11:22..." in German? or only ab

~4. Viewing webapp in mobile: When writing in the search drop-down the suggestion of the last search has the day in English although I chose German as

[2021-06-01 05:06] hbruch opened #533 "Replace Park&Ride symbol"
The current symbol for park and ride suggestions is not very meaningfull, as it only displays a "P" and a car:
<img width="133" alt="grafik" src="https://user-images.githubusercontent.com/2187389/120269109-78fb6380-c2a7-11eb-9eeb-7c2f672698cd.png">

HSL's symbology (showing a bicycle and small transit symbol in the background for bike & ride, would be car & transit for P&R) seems much more intuiti

[2021-06-01 05:13] hbruch opened #534 "Missing symbols in leg overview/details"
The symbols for "waiting" and "carpool" are not displayed in the journey overview/details.

How to reproduce:
https://herrenberg.qa.stadtnavi.eu/reiseplan/Peter-Rosegger-Weg%2C%2071116%20Gärtringen%3A%3A48.6401687181191%2C8.899354934692385/EvoBus%20GmbH%20BusWorldHome%20Stuttgart%2C%20Hertzstraße%205%2C%2071083%20Herrenberg%3A%3A48.577061426916785%2C8.893947601318361?time=1622524062

<img width="4

[2021-06-01 05:20] hbruch opened #535 "Missing carpool leg"
How to repoduce:
1. enable carpools in settings
2. search for connections from Affstätt to Tübingen at 6:00am e.g. https://herrenberg.qa.stadtnavi.eu/reiseplan/Affst%C3%A4tt%2C%20%20Herrenberg%3A%3A48.6059715%2C8.8583072/T%C3%BCbingen%20Hbf%2C%20Hegelstra%C3%9Fe%2C%2072072%20T%C3%BCbingen%3A%3A48.5155801%2C9.0552876/?time=1622520000

Current behavior:
Carpool leg is only displayed in overview, but

[2021-06-01 05:46] hbruch opened #537 "Enable static messages"
Digitransit-1 supported static messages displayed on startup. They can be used to display the cookie consent, imported alerts or notifications like advertisement for new stadtnavi features or mobility options. In the config, it used to be configured via `staticMessagesUrl: STATIC_MESSAGE_URL`

These should be reactivated in DT-2, example content:

[code]

(Fot format details, a look into [MessageS

[2021-06-01 09:20] leonardehrenfried commented on #531
Yesterday I changed the settings so that even if you activate sharing, it's not taken when there is a really short rental part.

The route you sent now looks like this:

![Screenshot from 2021-06-01 11-19-34](https://user-images.githubusercontent.com/151346/120299463-4d8a7000-c2cb-11eb-8dc2-0671ca47db48.png)

[2021-06-01 09:33] Denis306 commented on #533
Talked to Joel and he will provide the Icons they use for P+R today.

[2021-06-01 09:39] leonardehrenfried commented on #531
I also fixed the issue in the UI.

@nghanem-poet-egypt Can you try again?

[2021-06-01 09:54] leonardehrenfried commented on #478
Sorry, printing is not a priority.

[2021-06-01 10:28] hbruch commented on #533
And regarding flex/transit?

[2021-06-01 10:29] leonardehrenfried commented on #530
Although I do find it weird myself, this is exactly how it was implemented in Helsinki. It's not a bug.

How is going to make the decision about deviating from how Helsinki does it?

[2021-06-01 10:34] nghanem-poet-egypt commented on #530
Do you think it's a bug in Helsinki? Can we report it there?

[2021-06-01 10:36] leonardehrenfried commented on #530
I'm pretty sure that it's on purpose.

[2021-06-01 10:45] Denis306 commented on #530
I will check in the meeting with the HSL Designer tomorrow and give an input after that.

[2021-06-01 10:53] leonardehrenfried commented on #496
Implemented in https://github.com/mfdz/photon-pelias-adapter/commit/38e4bf56e11f146f58b97dcdebbf94ac34e10c6d.

[2021-06-01 10:53] leonardehrenfried commented on #496
Also deployed to all environments.

[2021-06-01 11:07] Denis306 commented on #533
Flex/Transit is supposed to be "On demand Taxi" and as mentioned yesterday in this [Conversation](https://chat.stadtnavi.eu/#narrow/stream/27-digitransit-ui/topic/cargo.20bike.20booking/near/10455) Ansgar/Agentur Kraus was going to provide those.

[2021-06-01 11:56] nghanem-poet-egypt opened #538 "User Feedback: Route with Bike Share is not logical"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Sch%C3%B6nbuchturm%2C%2071083%20Herrenberg%3A%3A48.6039231%2C8.909352661789013/Kuppingen%2C%20%20Herrenberg%3A%3A48.611011149999996%2C8.832897832205557/0?time=1622542469

Settings: activate sharing options
Result: the first route shows 59 min of walking and then getting a bike which is too long of a walk. Better to show no long walking in that case an

[2021-06-01 12:34] nghanem-poet-egypt opened #539 "User Feedback: Bike speed from settings is not considered correctly in calculation of trip time"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Herrenberg%2C%20Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.594059%2C8.8629217/Sindelfingen%3A%3A48.7084162%2C9.0035455?time=1622542469

Choose the bike route
The distance is 20 km
Bike speed is 20 km/h
Expected trip duration is 1 hour
Current shown trip duration is 1 h 20 min

When I change the bike speed to 25km/h the trip duration changes

[2021-06-01 13:08] Denis306 commented on #533
This is how HSL uses the Icons for Park & Ride: https://www.figma.com/file/wCkiYqAczNjmf9Gl1B1u4J/Park-%26-Ride-%E2%80%93-Car?node-id=0%3A1

For the P&R Tiles in the suggestions they simply combine the Car Icon with whatever Transportation type icon used in that itinerary.
![image](https://user-images.githubusercontent.com/63004289/120328179-de247880-c2ea-11eb-86cd-791030e8179c.png)

These are the

[2021-06-01 15:02] nghanem-poet-egypt opened #541 "User Feedback: Car should be parked in a nearer parking and then transit"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Kuppingen%2C%2071083%20Herrenberg%3A%3A48.610752%2C8.8431229/Universit%C3%A4t%20Stuttgart%2C%20Schlo%C3%9Fstra%C3%9Fe%2C%2070176%20Stuttgart%3A%3A48.7453828%2C9.103267538773398/parkAndRide/?time=1622558694

Go to the route Park and ride
Current behavior: first route shown is Car + Park + Walk (47 min)
Feedback came from Julian, he thinks that the car

[2021-06-01 16:30] nghanem-poet-egypt opened #542 "Wrong message shown although routes were found"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Steinerner%20Weg%2C%2071134%20Aidlingen%3A%3A48.6580831%2C8.8873906/Eisenbahnstra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.5932927%2C8.8635394?locale=en&time=1622548800

The message says that there are no routes found in this area although there are Bike, Bike+Ride, Park+Ride and Car options found!
I think the message is misleading. It should either be

[2021-06-01 17:00] nghanem-poet-egypt commented on #531
@leonardehrenfried I tested it on the webapp and everything is working fine. However it is wrong in the mobile app, should I create it in the other project stadtnavi_app as well or should it have been fixed by default?

[2021-06-01 17:01] Beck-berry commented on #352
@derhuerst, as I sent the curl request, I see that there are only two types of tickets: `regular` and `youth`.

Part of the response:
[code]

As @leonardehrenfried asked for only the single adult tickets, I believe that those are the `type: regular` ones. Could you please reassure me about that?

[2021-06-01 17:02] hbruch commented on #352
`regular` is equivalent to adult, yes. We should use the term `regular`.

[2021-06-01 18:52] samia-roubaa commented on #496
QA: user will be informed that problem is solved

[2021-06-01 18:52] #496 closed

[2021-06-01 18:56] leonardehrenfried commented on #541
Since this has already been reported at #529 I had already worked on this.

It's fixed on dev: https://dev.stadtnavi.eu/reiseplan/Kuppingen%2C%2071083%20Herrenberg%3A%3A48.610752%2C8.8431229/Universit%C3%A4t%20Stuttgart%2C%20Schlo%C3%9Fstra%C3%9Fe%2C%2070176%20Stuttgart%3A%3A48.7453828%2C9.103267538773398/parkAndRide/?time=1622568319

I will roll it out to beta soon.

[2021-06-01 18:57] samia-roubaa commented on #495
QA validation successful

[2021-06-01 18:57] #495 closed

[2021-06-01 18:59] samia-roubaa commented on #502
QA validation successful

[2021-06-01 18:59] #502 closed

[2021-06-01 19:03] samia-roubaa commented on #469
QA validation failed.

The layout of the opening hours of the bicycle infrastructure and public toilets is still not fixed
![image](https://user-images.githubusercontent.com/83356918/120376929-c1a13400-c31c-11eb-9e7e-57d587b9d8b8.png)
![image](https://user-images.githubusercontent.com/83356918/120376941-c36af780-c31c-11eb-8f23-b9ab0f37c055.png)

[2021-06-01 19:56] Denis306 commented on #344
@leonardehrenfried @andreashelms  did we miss the "Nette Toilette", the "Bicycle Repair Station" and "Radlager" Layer in this ticket? Or are those not wanted in the side panel? Just asking because we could ignore this issue https://github.com/stadtnavi/digitransit-ui/issues/469 for now then.

[2021-06-01 21:30] MartinH-open commented on #542
I very much confirm this kind of "error" or wrong indicator.
Living in that town Aidlingen I see this error all the time.
For the user it is totally unclear what is meant by "außerhalb des abgedeckten Gebietes". In StadtNavi there is no such display of the "supported area". And is supported area the same for all kinds of mobile services - like bus, train, carpooling, bike rental, car sharing, and

[2021-06-02 07:19] leonardehrenfried commented on #538
Is the desired result that you shouldn't see the long walk + bike rental at all or at the bottom?

[2021-06-02 07:27] leonardehrenfried commented on #531
It should be fixed in the app as well. Are you using the app from the app store or a custom version?

[2021-06-02 07:27] leonardehrenfried commented on #529
I'm going to remove the second part of this ticket since there is a separate one for it #541.

[2021-06-02 07:49] leonardehrenfried commented on #469
@samia-roubaa O'm going to close this as the it has been like this on the production site for a long time and the client isn't too unhappy with it. It could use improvement, sure, but it's not a priority at the moment.

[2021-06-02 07:49] #469 closed

[2021-06-02 08:17] nghanem-poet-egypt commented on #538
There was nothing specified by Julian as he sent this feedback. My opinion is it should depend on the flag "Avoid walking" whether to show it at the end or do completely hide this route. What do you think?

[2021-06-02 09:33] MartinH-open commented on #538
Not sure what determines the sorting of the modal options today. It appears like "sorted by price". I think an order "sorted by time of travel" should be default. I see no option to define the preference.
I assume in the background there are a number of criteria and factors that influence the preference of the displayed options. Some can be defined by the presented "Einstellungen" (settings) but (

[2021-06-02 09:53] Denis306 opened #547 "Change the Park & Ride Icon"

[2021-06-02 09:54] #547 closed, assigned to nobody

[2021-06-02 10:15] leonardehrenfried commented on #344
I spoke to Holger about it and he would like to move them as well. They are all GeoJSON-based so I think it would with a single code change.

However, I don't think it's necessary to define a URL for them.

[2021-06-02 10:25] Denis306 commented on #344
Alright, I updated the ticket and will put it back in the In Progress column until @andreashelms fixes it.

[2021-06-02 10:42] samia-roubaa opened #548 "UI issue when the description of the favorited place is too long"
Scenario:
1. Go to https://herrenberg.beta.stadtnavi.eu/
2. Add a new favorite place
3. Type a very long description (more than 50 characters)
4. Save this place
5. Click then on delete and choose to delete this favorited place
![image](https://user-images.githubusercontent.com/83356918/120466748-b5aa8600-c39f-11eb-8bcc-671bfe046758.png)
6. Because the name is too long, it will appear outside the

[2021-06-02 10:45] leonardehrenfried commented on #548
Good find, but I will treat it as a low priority issue.

[2021-06-02 10:50] samia-roubaa opened #549 "Text is hidden when button is highlighted"
Scenario:
1. Go to https://herrenberg.beta.stadtnavi.eu/
2. Origin: CAP-Markt, Mozartstraße 2-4, 71083 Herrenberg
3. Destination: Marktplatz, 71083 Herrenberg
4. The app will show only one routing suggestion
![image](https://user-images.githubusercontent.com/83356918/120467630-a8da6200-c3a0-11eb-818d-a13ca5c480c8.png)
5. Click on this suggestion
6. The route details will be shown and the button "F

[2021-06-02 10:55] nghanem-poet-egypt opened #550 "Map view doesn't change and is not selected correctly in settings"
From: Bahnhof Herrenberg, Bahnhofstraße 14, 71083 Herrenberg
To: Hauptbahnhof, Lautenschlagerstraße, 70173 Stuttgart
1. the system shows me the map background as "Streets"  --> which is correct
2. Change to bike and ride mode, the system shows the map backgroud to "Bike" --> which is correct but in the map layers the radio button stays on "Streets"
3. Change the To address to "Stuttgart Schwabstra

[2021-06-02 10:58] samia-roubaa commented on #343
QA cycle done

[2021-06-02 10:59] #343 closed

[2021-06-02 11:08] samia-roubaa opened #551 "Related to issue #465: text alignment issue"
The text of bike rental warnings is now aligned as "justified"
![image](https://user-images.githubusercontent.com/83356918/120470124-7c741500-c3a3-11eb-9d66-790b655d9a18.png)

Due to this alignment there are many spaces between the text.
It is better to align it "left" to avoid these spaces.

Beta version:
 image: mfdz/opentripplanner:otp2-3621b1e591409b23d96b6253472d6f4bac88057e
 image: stadtnavi

[2021-06-02 11:10] samia-roubaa commented on #465
QA cycle done.
Related bug created: #551

[2021-06-02 11:10] #465 closed

[2021-06-02 11:11] nghanem-poet-egypt opened #552 "Via Stops / Zwischenstopp do not work"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Herrenberg%2C%20Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.594059%2C8.8629217/Stuttgart%20Universit%C3%A4t%2C%20Pfaffenwaldring%2053%2C%2070569%20Stuttgart%3A%3A48.7452713%2C9.105765?intermediatePlaces=&time=1622631961

now try to add a "Zwischenstopp" -> nothing happens and the drop down and the extra field disappear (tested on firefox and

[2021-06-02 11:17] samia-roubaa opened #553 "Search for "later" trips freezed"
Scenario:
1. Go to https://herrenberg.beta.stadtnavi.eu/
2. plan a search from Nufringen to Kuppingen, deactivate the bus and activate bike rental in the settings panel.
3. The following suggestions will be shown
![image](https://user-images.githubusercontent.com/83356918/120471180-af6ad880-c3a4-11eb-9144-ac18f06abb15.png)
4. Click on "Later" to show later trips
5. The loop will keep loading and n

[2021-06-02 11:22] samia-roubaa opened #554 "Search freezed: no results are being shown"
Scenario:
1. Go to https://herrenberg.beta.stadtnavi.eu/
2. Plan a trip from Ehringen to Kuppingen (in the settings: bus is disabled and bike rental is activated)
3. The search will keep loading and no results will be shown
![image](https://user-images.githubusercontent.com/83356918/120471887-8e56b780-c3a5-11eb-9cb7-70d29f2f1a04.png)

Beta version:
 image: mfdz/opentripplanner:otp2-3621b1e591409b2

[2021-06-02 11:22] leonardehrenfried opened #555 "Style carpool offer"
Can can find the carpool offer by viewing a car leg and clicking "Offer carpool".

![Screenshot from 2021-06-02 13-20-55](https://user-images.githubusercontent.com/151346/120471764-66ffea80-c3a5-11eb-8b85-82f61905d477.png)

Things to improve

- When selecting regular and then one of the days the checkboxes look broken
- Style the telephone number field

[2021-06-02 11:40] samia-roubaa commented on #446
QA cycle done.

[2021-06-02 11:40] #446 closed

[2021-06-02 11:47] samia-roubaa opened #556 "When selecting a "Fahrradabstellanlage" as "Route hierher" the origin disappears"
Scenario:
1. Go to https://herrenberg.beta.stadtnavi.eu/
2. Select Feldbergstraße from the map
![image](https://user-images.githubusercontent.com/83356918/120474417-7af91b80-c3a8-11eb-9308-d12939f9cc8f.png)
3. Choose it as "Route von hier"
![image](https://user-images.githubusercontent.com/83356918/120474495-919f7280-c3a8-11eb-9874-b58686a2e7da.png)
4. It will be shown in the origin field in the s

[2021-06-02 11:52] samia-roubaa commented on #353
QA cycle done.
Some information are still missing:
- payment types
- occupancy status
- details URL

[2021-06-02 11:53] samia-roubaa commented on #500
Please check #353.
There are still some information missing.

[2021-06-02 12:04] samia-roubaa commented on #461
QA cycle done

[2021-06-02 12:04] #461 closed

[2021-06-02 12:08] Denis306 commented on #353
@samia-roubaa
- What exactly do you mean by details URL?
- Occupancy status is missing apparently yes.
- Payment Types are displayed. ![image](https://user-images.githubusercontent.com/63004289/120476269-ad0b7d00-c3aa-11eb-8b51-366dedeabe63.png)

[2021-06-02 12:10] samia-roubaa opened #557 "Count of available rental bikes in the details differs from the count shown in a routing suggestion"
Scenario:
1. Go to herrenberg.beta.stadtnavi.eu
2. Plan a trip from Nufringen to Kuppingen (bus disabled in settings and bike rental is enabled)
3. The route suggested shows that the available rental bikes is 10
![image](https://user-images.githubusercontent.com/83356918/120477365-fa3c1e80-c3ab-11eb-8feb-9a6e32a08247.png)
4. Remove all the search critiera and open the details of the bike rental st

[2021-06-02 12:15] samia-roubaa commented on #353
@Denis306

It is written up in the description:
![image](https://user-images.githubusercontent.com/83356918/120478123-cdd4d200-c3ac-11eb-9ab9-ad6b1ae70088.png)

I couldn't find any URL to see more details of the eCharging Station as stated in the specs here.

[2021-06-02 12:18] leonardehrenfried commented on #353
The stations in Herrenberg don't have URLs but the one for example in Echterdingen does: https://herrenberg.beta.stadtnavi.eu/ladestationen?lat=48.688517816135004&lng=9.16763886809349&stationId=1183&capacity=2&available=1

[2021-06-02 12:31] Denis306 commented on #353
@samia-roubaa  Yes I was just trying to see if we are talking about the same link.
As @leonardehrenfried mentioned we don't always have Links. But besides from that we don't have any "detail URL".

I am already coordinating regarding the Occupancy status.

[2021-06-02 12:33] nghanem-poet-egypt opened #558 "Triangle factors are missing from earlier/later queries"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Stuttgart%20Hauptbahnhof%2C%20Baustra%C3%9Fe%20Stuttgart%2021%2C%2070173%20Stuttgart%3A%3A48.7856099%2C9.1833959/Herrenberg%2C%20Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.594059%2C8.8629217?time=1622637006

Click on earlier or later departures --> nothing happens it keeps loading and nothing is shown
![grafik](https://user-images.githubuser

[2021-06-02 12:44] samia-roubaa commented on #472
QA validation successful

[2021-06-02 12:44] #472 closed

[2021-06-02 12:48] leonardehrenfried commented on #558
Thanks for reporting. I already rolled out a fix to dev. Will be on beta tomorrow.

[2021-06-02 13:00] nghanem-poet-egypt opened #559 "Webapp keeps loading in certain case very long"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Herrenberg%20Benzstra%C3%9Fe%2C%20Seestra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.599033073809274%2C8.871459960937502/Seelesplatz%3A%3A48.59741400223771%2C8.86926993727684?arriveBy=true&time=1622630738

At first the route is shown
Open settings and enable all Sharing and Carpool options
--> the system keeps loading and nothing happens
also the Settings

[2021-06-02 13:17] samia-roubaa commented on #491
QA validation successful

[2021-06-02 13:17] #491 closed

[2021-06-02 13:24] samia-roubaa commented on #553
@leonardehrenfried
Nada created a similar issue #558. Could you please check if this one addresses the same problem, so we can close one of them as a duplicate.

[2021-06-02 13:30] leonardehrenfried commented on #553
Yes, it's the same issue. Closing in favour of #558.

[2021-06-02 13:30] #553 closed, assigned to nobody

[2021-06-02 13:40] leonardehrenfried commented on #554
Tracked in the backend: https://github.com/mfdz/OpenTripPlanner/issues/78

[2021-06-02 13:42] leonardehrenfried commented on #552
Via search is not implemented in the backend. It should just be removed from the UI.

[2021-06-02 13:49] samia-roubaa opened #560 "Location bias is not working"
When you search after "Bahnhof", the first Bahnhof that appears is not in Herrenberg.
Earlier the location bias worked.
![image](https://user-images.githubusercontent.com/83356918/120492112-13e46280-c3ba-11eb-8bb0-931ff9400efe.png)

Beta version:
 image: mfdz/opentripplanner:otp2-3621b1e591409b23d96b6253472d6f4bac88057e
 image: stadtnavi/digitransit-ui:55cf55e3c01e08fef8f023c54415969998197dc9
 ima

[2021-06-02 13:50] samia-roubaa commented on #559
duplicate of #554.

[2021-06-02 13:50] #559 closed, assigned to nobody

[2021-06-02 13:54] leonardehrenfried commented on #539
I think the only realistic change that we can do here is to change the label from a numeric value to slow/medium/fast.

[2021-06-02 14:01] leonardehrenfried commented on #542
To the frontend dev: it appears that the logic to check if there is only a walking route is buggy since that is returned but not displayed.

[2021-06-02 14:07] leonardehrenfried commented on #503
In Helsinki this works as expected: https://reittiopas.hsl.fi/reitti/Ratakatu%209%2C%20Helsinki%3A%3A60.162970373419064%2C24.943857192993168/Uudenmaankatu%2023%2C%20Helsinki%3A%3A60.16376038319639%2C24.938642978668216?locale=en&time=1622642658

It shows a walk and bike tile. Perhaps this needs to be activated?

[2021-06-02 14:44] leonardehrenfried commented on #542
The area polygon defining the service area was incorrectly configured. I fixed it in ad047f4d20fcf6fc48f9e46b33753ce6bbedac2a

[2021-06-02 14:44] leonardehrenfried commented on #542
![Screenshot from 2021-06-02 16-44-23](https://user-images.githubusercontent.com/151346/120501354-d683d300-c3c1-11eb-8057-6709fed2a139.png)

[2021-06-02 14:50] leonardehrenfried commented on #542
The question is though why it cannot find a route. I will track this issue here: https://github.com/mfdz/OpenTripPlanner/issues/85

[2021-06-02 14:51] leonardehrenfried commented on #503
@jpidelatorre I fixed this already.

[2021-06-02 14:53] MartinH-open commented on #542
Thanks for the reference. It appears that the service area is hardcoded in such config file. ;)
I assume config.hb.js stands for "HerrenBerg" and not "HolgerBruch".  :)

I assume this polygon applies to all kinds of services.

[2021-06-02 15:09] samia-roubaa commented on #531
I couldn't validate the bug on the iOS app, as I got the following error
![image](https://user-images.githubusercontent.com/83356918/120505438-447dc980-c3c5-11eb-8da9-24110d0b9a94.png)

[2021-06-02 15:41] samia-roubaa opened #561 "Going to the homepage does not always reset the search results"
Scenario:
1. Go to herrenberg.beta.stadtnavi.eu
2. Search for any origin and destination using the search fields
![image](https://user-images.githubusercontent.com/83356918/120509794-1dc19200-c3c9-11eb-9c01-9bd1b450a206.png)
3. Click on the logo of Stadtnavi to return to the homepage
4. The search fields will be emptied
![image](https://user-images.githubusercontent.com/83356918/120510113-6711e180

[2021-06-02 16:06] leonardehrenfried commented on #554
![Screenshot from 2021-06-02 18-05-39](https://user-images.githubusercontent.com/151346/120514035-261bcc00-c3cd-11eb-8f21-ade4061a9994.png)

In actual fact the ticket linked above is unrelated. I managed to find the problem. I will be fixed on beta tomorrow.

[2021-06-02 16:07] leonardehrenfried commented on #554
A side effect it that the routes containing just walking and bike rentals are back but I will work on that tomorrow.

[2021-06-02 20:41] jpidelatorre commented on #503
Thanks, @leonardehrenfried !

[2021-06-03 06:32] Denis306 commented on #353
@patrickbeck1337 You can also close ticket #500 after you are done with this one.
Here is also the info regarding the statuses again:https://github.com/ocpi/ocpi/blob/master/mod_locations.asciidoc#1422-status-enum

@leonardehrenfried as there sometimes is no data available regarding occupancy and also deeplinks in Herrenberg, do we want to put something instead of the occupancy status? Like the ca

[2021-06-03 06:58] leonardehrenfried commented on #353
If we don't know, then we could say something like "2 charging slots" rather than "2 of 2 charging slots available", isn't it?

[2021-06-03 07:04] Denis306 commented on #353
@leonardehrenfried yeah that's what I meant by "Capacity".

@patrickbeck1337 Just display the Capacity then if the status about the occupancy is set to UNKNOWN.
And regarding the payments: Please display "RFID, App" if the Flag "REMOTE_START_STOP_CAPABLE" is set in the data.

[2021-06-03 07:29] leonardehrenfried commented on #554
I've deployed the fix to beta. Be aware that there is still a problem of no route appearing when you set the bike speed to 10km/h.

I'm tracking _that_ problem in https://github.com/mfdz/OpenTripPlanner/issues/86

[2021-06-03 10:35] ahmed-nawar opened #562 "UI Issues"
- [ ] 1. Bus Position Icons size on the map is not consistent with the other icons. Also, the icons never disappear when zoomed out.
![image](https://user-images.githubusercontent.com/84456072/120628789-6038ac80-c465-11eb-9d0a-c9626e33f435.png)

- [x] 2. The blocked paths (road works) on the map when active has nearly the same color as the bus routes.
![image](https://user-images.githubusercontent

[2021-06-03 10:40] ahmed-nawar opened #563 "Avoid Walking toggle is not working as expected"
https://herrenberg.beta.stadtnavi.eu/reiseplan/M%C3%BChlstra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.59598912311189%2C8.860956430435182/G.-F.-H%C3%A4ndel-Stra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.59477574898104%2C8.879871368408205?intermediatePlaces=&locale=en&time=1622628538
Toggle Avoid Walking off and check the results then toggle it on -> the returned routes are nearly the same.

[2021-06-03 10:43] ahmed-nawar opened #564 "The Offer carpool button doesn't work in park and ride mode"
1. Fill in any origin destination addresses
2. Choose a park and ride route
3. Click on offer carpool button
4. Nothing happens
5. While in the car mode, the offer carpool button works
https://herrenberg.beta.stadtnavi.eu/reiseplan/M%C3%BChlstra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.59598912311189%2C8.860956430435182/G.-F.-H%C3%A4ndel-Stra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.59477574898104%2C8

[2021-06-03 14:26] leonardehrenfried commented on #564
Good catch.

[2021-06-03 14:28] leonardehrenfried commented on #531
I pushed a fix. Can you try again?

[2021-06-03 14:31] leonardehrenfried commented on #563
Good find, however for short routes it's difficult to find better routes with less walking.

What I find more problematic is that there are so many routes suggested. It should be way fewer.

[2021-06-03 14:36] leonardehrenfried commented on #563
I;m going to track this in a backend ticket: https://github.com/mfdz/OpenTripPlanner/issues/90

[2021-06-03 14:36] #563 closed, assigned to nobody

[2021-06-03 16:12] nghanem-poet-egypt commented on #538
The reported route in this issue no longer shows a very long walking leg.
The route [Schönbuchturm - Nelkenstraße](https://herrenberg.beta.stadtnavi.eu/reiseplan/Sch%C3%B6nbuchturm%2C%2071083%20Herrenberg%3A%3A48.6039231%2C8.909352661789013/Nelkenstra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.6039585%2C8.8563013?time=1623060840)
used to show a very long walk leg but not anymore, so it's also fixed.

[2021-06-03 17:06] jpidelatorre commented on #419
This problem is also present upstream. So, as discussed with @leonardehrenfried, I'm working on a formula that consistently centers the selection circle correctly.

This is how it looks upstream at certain zoom levels:
![image](https://user-images.githubusercontent.com/104569/120683855-199a8080-c46c-11eb-92a5-7e624bb36609.png)

[2021-06-03 17:07] nghanem-poet-egypt opened #565 "User Feedback: selecting location on map by clicking (webapp on mobile browser)"
As reported by one user:
 if I'm selecting a location on the map on my mobile browser I have to keep pushing the map under the pin until I get the desired location.
Suggested: location should be selected by clicking on the desired location not by moving the map

![image](https://user-images.githubusercontent.com/84389152/120684248-c2fa6a00-c49e-11eb-9b0a-0e2443e3c9a6.png)

![MicrosoftTeams-image (

[2021-06-03 17:26] #500 closed

[2021-06-03 17:26] #353 closed

[2021-06-03 17:33] patrickbeck1337 opened #566 "eCharging side bar capacity not shown"
**How to reproduce**
1. Open [dev](https://dev.stadtnavi.eu/ladestationen?lat=48.695165343584534&lng=9.142711758613586&stationId=1184&capacity=2&available=2)

**Actual behavior**
The capacity on eCharging stations is not displayed.

![image](https://user-images.githubusercontent.com/23075804/120687744-98121500-c4a2-11eb-94a0-ebb00bd5aee6.png)

**Expected behavior**
The capacity is displayed for th

[2021-06-03 18:41] Beck-berry commented on #535
@hbruch Do you have any other requests regarding the appearance?

![Képernyőkép_2021-06-03_20-29-17](https://user-images.githubusercontent.com/46535522/120694442-7e74cb80-c4aa-11eb-9838-1edad49585c8.png)

@leonardehrenfried Did the API change? Back with DT-1 we used `leg.route.url` but I'm not sure if it's still sent. Should we use `leg.route.agency.fareUrl` instead?

![Képernyőkép_2021-06-03_20-2

[2021-06-03 19:40] hbruch commented on #535
Perhaps the route.url is not yet requested via the graphQL query? Could you check DT-1 commit history as it was surely added there, since it is non-standard.

Concerning the rendering, we should display it close to the way transit is rendered, I suggest. E.g.:
<img width="452" alt="image" src="https://user-images.githubusercontent.com/2187389/120701854-b0d6f680-c4b3-11eb-823d-f74e99674c07.png">

F

[2021-06-03 20:07] MartinH-open commented on #564
Whatever the specific problem here is/was
The map for the above URL displays strange things. There are additional dotted lines and grey path on the map.
Is that some additional debugging information or what?
Anyhow the suggested route looks strange too: Why to use a car for 1 min (250m); then walk and take a bus for one stop - where you could simply walk to the final destination better.  (Routing

[2021-06-03 20:13] MartinH-open commented on #564
BTW - there is not ONE Beta Version. But mulitple versions are being pushed in these days. Great.
But where - as a user - I can see the specific Beta Version string of the instance I'm using.
I submitted feedback from the UI - but even that email does not contain any beta version string.
You would want to know the exact version in order to decide if the feedback is still relevant or due to known p

[2021-06-03 23:35] jpidelatorre commented on #485
@leonardehrenfried I believe this can be closed, right?

[2021-06-04 07:32] jpidelatorre commented on #532
* [x]  1. The abbreviation of the day should start with a capital letter like in the drop-down list

* [x]  2. The words "Früher" and "Später" don't have same font size or color

* [x]  3. Is it really "Fährt **ab um** 11:22..." in German? or only ab
- I think `ab um` is correct. @Denis306 can you help us clarify this?

* [ ]  4. Viewing webapp in mobile: When writing in the search drop-down the s

[2021-06-04 08:13] hbruch opened #571 "On-Demand route path does not start at start stop"
Currently flex route display in DT is in developement. When requesting a flex trip form Herrenberg station, the on-demand route path starts in the north of the station, not at the bus station were it should.

<img width="374" alt="grafik" src="https://user-images.githubusercontent.com/2187389/120768745-c3d1e100-c51c-11eb-8088-b103d51f689d.png">

This might be caused either by a
* incorrect GTFS Fl

[2021-06-04 10:55] flaktack commented on #571
If I change the first stop to use the actual `Stop` this is the result:
![image](https://user-images.githubusercontent.com/58879/120790697-92b0db00-c533-11eb-97af-eaf243ca0893.png)

If the incorrect Legs are ignored, would this be the expected result? It still "cuts a corner" when boarding the bus to the nearest street.

[2021-06-04 10:57] leonardehrenfried commented on #571
I think we could accept that.

[2021-06-04 17:49] Denis306 commented on #532
@jpidelatorre @nghanem-poet-egypt "Fährt ab um 11:22..." is correct.
And I also can't seem to reproduce the bug with the dropdown in the searchbar when in mobile view. @nghanem-poet-egypt could you clarify how you got that suggestion in the dropdown?

[2021-06-04 17:52] Beck-berry commented on #535
Thank you for the tip, I fixed the url issue!

Did you think about something like this?
![image](https://user-images.githubusercontent.com/46535522/120844300-792d8480-c56f-11eb-9514-b5a5b66aa951.png)

Next to the agency logos it prints the name of the destination.
Also, I'd use 'Ride' for the English version but what shall the German translation be?

[2021-06-04 20:45] Denis306 commented on #494
@samia-roubaa I am closing this issue as it is fixed.
![image](https://user-images.githubusercontent.com/63004289/120860765-7d18d100-c586-11eb-8eec-e65420288de5.png)

[2021-06-04 20:45] #494 closed

[2021-06-04 21:23] Denis306 opened #573 "Move Icon from the side panel body to the header"
HSL currently only uses the Icon of the Transportation Type for their bike sharing side panels when you click on the map pin.
![image](https://user-images.githubusercontent.com/63004289/120864138-08e12c00-c58c-11eb-86bf-f2e0a8a91ef7.png)

Bus and Train side panels don't use the Icons at all.
![image](https://user-images.githubusercontent.com/63004289/120864130-04b50e80-c58c-11eb-8216-91c7d5d6c63d.

[2021-06-04 22:00] Denis306 commented on #557
@samia-roubaa Apparently this issue is not reproducable anymore. Could you please check again and close this issue then?

I just checked the route you provided and it says 7 bikes are available.
![image](https://user-images.githubusercontent.com/63004289/120866683-c2420080-c590-11eb-8a9a-028a79057c9b.png)

And if i delete everything and check the bike rental station it also says 7.
![image](https:

[2021-06-06 11:48] ahmed-nawar opened #574 "Toggle button without a label in the settings"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Herrenberg%2C%20Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.594059%2C8.8629217/Stuttgart%20Hauptbahnhof%2C%20Baustra%C3%9Fe%20Stuttgart%2021%2C%2070173%20Stuttgart%3A%3A48.7856099%2C9.1833959/?locale=en&time=1622637960
1) Click on the settings tab
2) Click on Sharing toggle

Current Behavior: Toggle button shown without a label
Expected Behav

[2021-06-06 11:53] ahmed-nawar commented on #531
If you activate sharing, it is taken into account when there is a really short rental part still.
The route looks like this:

![image](https://user-images.githubusercontent.com/84456072/120923337-51086780-c6ce-11eb-8a46-6093799860a0.png)

[2021-06-06 11:59] ahmed-nawar commented on #531
Keep in mind that Avoid walking toggle is on. If it is turned off the routes returned are like this
![image](https://user-images.githubusercontent.com/84456072/120923528-54e8b980-c6cf-11eb-83c8-baa0160791f9.png)

[2021-06-06 12:06] ahmed-nawar commented on #554
The origin in this screen shot is different from what was originally reported.
Issue origin reported: Ehringen vs screen shot origin: Ehningen

![image](https://user-images.githubusercontent.com/84456072/120923716-46e76880-c6d0-11eb-9f43-30e5e639e9e8.png)

[2021-06-06 12:28] #531 closed, assigned to nobody

[2021-06-06 12:40] ahmed-nawar opened #575 "There is no car route"
https://herrenberg.qa.stadtnavi.eu/reiseplan/Herrenberg%2C%20Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.594059%2C8.8629217/Stuttgart%20Main%20Station%2C%20Baustra%C3%9Fe%20Stuttgart%2021%2C%2070173%20Stuttgart%3A%3A48.7856099%2C9.1833959?locale=en&time=1622988000

Current behavior: No car route returned
Expected behavior: Return a car route when the car toggle in settings is turned on

!

[2021-06-06 12:52] #558 closed, assigned to nobody

[2021-06-06 12:57] ahmed-nawar opened #576 "Earlier and later departures return no results when clicked several times"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Stuttgart%20Hauptbahnhof%2C%20Baustra%C3%9Fe%20Stuttgart%2021%2C%2070173%20Stuttgart%3A%3A48.7856099%2C9.1833959/Herrenberg%2C%20Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.594059%2C8.8629217?time=1622637006
How to reproduce: Keep clicking the earlier departures button until no routes are returned. It occurred when I pressed the button 14 tim

[2021-06-06 13:04] ahmed-nawar commented on #542
The message is still misleading
![image](https://user-images.githubusercontent.com/84456072/120925326-6d110680-c6d8-11eb-9e09-a7314e0131af.png)

There are Bike, Bike&Ride, Park&Ride and Car options found.

[2021-06-06 13:25] #534 closed, assigned to patrickbeck1337

[2021-06-06 13:32] #509 closed

[2021-06-06 14:54] nghanem-poet-egypt commented on #537
@hbruch could you please validate if this is implemented, we cannot validate it. Please close the issue if it's ok.

[2021-06-06 15:12] ahmed-nawar commented on #503
This issue is tracked here https://github.com/stadtnavi/digitransit-ui/issues/542

[2021-06-06 15:13] ahmed-nawar commented on #542
Similar to #503

[2021-06-06 15:38] ahmed-nawar opened #577 "Origin/destination markers reset when selecting origin/destination from the sidebar"
How to reproduce:
1) Open https://herrenberg.beta.stadtnavi.eu/
2) Select an origin by clicking on the map and selecting 'origin'
![image](https://user-images.githubusercontent.com/84456072/120930419-7062bd00-c6ed-11eb-8b05-3fe0e3188a0e.png)

3) Make sure you have parking icons turned on
![image](https://user-images.githubusercontent.com/84456072/120930443-8c665e80-c6ed-11eb-8b5e-e6f637751f7c.png)

[2021-06-06 15:42] ahmed-nawar commented on #577
Also this behavior happens.
1. Select an origin and destination
2. Then select a parking icon, charging station, bike parking space … etc.
3. Then select this icon as origin or destination
4. The origin and destination will both get reset and will be cleared

Also the user cannot select one parking and choose as origin then select another parking and choose as destination. The origin will reset

[2021-06-06 21:50] Denis306 opened #579 "Apply new UI to Cargo bike booking Feature"
We want to implement the cargo bike booking pretty similar to the eCharging Stations.
![image](https://user-images.githubusercontent.com/63004289/120941283-0a445d00-c722-11eb-98b0-5c6482068bf8.png)

The Icons used in the Design proposal are just dummy icons. We are waiting for the icons that will be provided by the city of Herrenberg.

These are the Cargo Bike Icons that need to be used:
[lastenra

[2021-06-07 06:47] Denis306 commented on #557
Apparently now the bug is happening again.

[2021-06-07 09:36] jpidelatorre commented on #532
@Denis306 I was able to replicate the bug. With the help of @leonardehrenfried, I'm pushing upstream a solution that should fix number *4.*

[2021-06-07 10:29] leonardehrenfried commented on #571
Just as information for all involved. Zsombor's changes don't actually change the route starting at the incorrect side of the train station. It just moves the `from` coordinates to where the polyline starts.

![Screenshot from 2021-06-07 12-25-03](https://user-images.githubusercontent.com/151346/121001905-0c430600-c78c-11eb-9614-a2f83fe4c54a.png)

[2021-06-07 10:53] sara-georgy opened #581 "Feedback User 229: incorrect location of the parking place (P+R #2)"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Sch%C3%B6nbuchturm%2C%2071083%20Herrenberg%3A%3A48.6039231%2C8.909352661789013/Marktplatz%2C%2071083%20Herrenberg%3A%3A48.5964113%2C8.869932/parkAndRide/0?time=1622826846

The displayed parking place for the Marktplatz is incorrect (P+R #2). (see screenshot)
![image](https://user-images.githubusercontent.com/84382750/121004301-cf2c4300-c78e-11eb-9e8a-

[2021-06-07 10:55] leonardehrenfried commented on #581
I think this must have been feedback from the weekend because I activated this on beta this morning.

![Screenshot from 2021-06-07 12-55-11](https://user-images.githubusercontent.com/151346/121005053-ad7f8b80-c78f-11eb-8147-7b6e6993395a.png)

[2021-06-07 10:55] #581 closed, assigned to nobody

[2021-06-07 10:59] nghanem-poet-egypt opened #582 "Duplicated walking leg in route"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Bahnhof%20Herrenberg%2C%20Bahnhofstra%C3%9Fe%2014%2C%2071083%20Herrenberg%3A%3A48.593861700000005%2C8.86307270000001/Vorsteigstra%C3%9Fe%2C%2070193%20Stuttgart%3A%3A48.7812373%2C9.1553375/bikeAndVehicle/0?mapMode=bicycle&time=1622828190

This route shows two times walking which is not userfriendly or correct.

![grafik](https://user-images.githubuserc

[2021-06-07 11:08] sara-georgy opened #583 "User Feedback 234: street names are not readable"
The routing line of any transportation type (except for walking) is hiding the name of the streets. (See Screenshot)
![image](https://user-images.githubusercontent.com/84382750/121006595-58447980-c791-11eb-8071-7e0bde159762.png)

[2021-06-07 11:13] sara-georgy commented on #542
Reported from user feedback 231:

https://herrenberg.beta.stadtnavi.eu/reiseplan/Vorsteigstra%C3%9Fe%2C%2070193%20Stuttgart%3A%3A48.7812373%2C9.1553375/Kocherstra%C3%9Fe%2C%2071083%20Oberjesingen%3A%3A48.6254176%2C8.8381856?time=1622828190

The user disabled all transportation options except for car.
Therefore, the displayed message was misleading for the user as the system retrieved a car route.

[2021-06-07 11:14] leonardehrenfried commented on #583
Sorry to say but unless we make the line transparent this is a hard problem to solve.

[2021-06-07 11:18] sara-georgy commented on #583
Can the street name be written on top of the line? and for example in case of a care route (black line) to write the street name in white?

[2021-06-07 11:19] leonardehrenfried commented on #583
Sadly it cannot without a weeks long reworking of the map view.

[2021-06-07 11:21] leonardehrenfried commented on #542
Perhaps we could replace the message with something like: "Only routes without public transport were found."

Would you find that clearer?

[2021-06-07 11:35] sara-georgy opened #584 "Feedback from Angelika: dominance of the map views"
IOS App:
1. The map views on the IOS App is taking a big part of the screen.
2. and it makes the displayed options hard to scroll.

![image](https://user-images.githubusercontent.com/84382750/121010021-27664380-c795-11eb-951b-ac866e266c06.png)

[2021-06-07 11:38] leonardehrenfried commented on #582
Tracked in the backend: https://github.com/mfdz/OpenTripPlanner/issues/95

[2021-06-07 11:39] sara-georgy opened #585 "Feedback user 232: intermodality when choosing P+R or bike"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Bahnhof%20Herrenberg%2C%20Bahnhofstra%C3%9Fe%2014%2C%2071083%20Herrenberg%3A%3A48.593861700000005%2C8.86307270000001/Vorsteigstra%C3%9Fe%2C%2070193%20Stuttgart%3A%3A48.7812373%2C9.1553375/parkAndRide?time=1622828190

1. When the user chooses “P+R” (35km, 58min), the system shows a car ride for the first 100m of the route and the rest is a combination

[2021-06-07 11:41] nghanem-poet-egypt opened #586 "Zoom level should be persisted if I go to details of a certain POI and navigate back"
1. zoom in to 100 m or to 50 m in the map to view the details of any POI (for example charging station
2. Click on one charging station
3. Click the back button to go bach to the map
4. The zoom lever changes and goes back to the default again

It is more useful to leave the zoom level as the user set it at the beginning

Step 1:
![grafik](https://user-images.githubusercontent.com/84389152/1210105

[2021-06-07 11:41] MartinH-open commented on #583
Ok - just for future reference: Today on FOSSGIS 2021 conference I learned about this lib:
https://openlayers.org/en/latest/examples/street-labels.html

[2021-06-07 11:53] sara-georgy commented on #542
Yes, I agree it would be clearer if we changed the message.

[2021-06-07 15:54] ahmed-nawar opened #587 "Walk leg is divided to two legs"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Nagolder%20Stra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.5955763%2C8.8668147/Kindergarten%20Spatzennest%2C%20Schulweg%202%2F1%2C%2072227%20Egenhausen%3A%3A48.56311125%2C8.618277734741747/bikeAndVehicle/0?mapMode=bicycle&time=1623065671&locale=de

Wrong label on the walking leg and leg is divided to two legs

**Reproduce:**
1) Go to link
2) Check legs in

[2021-06-07 16:11] nghanem-poet-egypt commented on #587
already reported in https://github.com/stadtnavi/digitransit-ui/issues/582 so I'll close it for now

[2021-06-07 16:11] #587 closed, assigned to nobody

[2021-06-07 17:00] Denis306 commented on #350
@andreashelms Reopening and putting it to "In Review" so @leonardehrenfried can deploy on dev/QA for testing.

[2021-06-07 17:29] jpidelatorre commented on #532
@leonardehrenfried The PR was accepted upstream.

https://github.com/HSLdevcom/digitransit-ui/pull/4232

How should we proceed?

[2021-06-07 19:37] leonardehrenfried commented on #532
Does that change anything when you build locally?

[2021-06-08 00:59] jpidelatorre commented on #532
No change at all. I guess they would need to publish the last version of their package.

[2021-06-08 06:56] leonardehrenfried commented on #532
Ok, remove the last line and make another ticket for just that one problem.

[2021-06-08 09:42] leonardehrenfried commented on #351
No, but the OBB API.

[2021-06-08 10:51] leonardehrenfried commented on #351
@patrickbeck1337 I used the correct feed so you should be able to get the data by using the following API call: https://backend.openbikebox.next-site.de/api/v1/location?slug=cargo-bike-station&format=object

(I also updated the link in ticket description as the URL has changed.)

@the-infinity is there a production version available?

[2021-06-08 10:52] leonardehrenfried commented on #529
Fixed on dev: https://dev.stadtnavi.eu/reiseplan/Herrenberg%3A%3A48.595557%2C8.8674715/Erwin-B%C3%A4lz-Stra%C3%9Fe%2C%2070597%20Stuttgart%3A%3A48.748679%2C9.1749312?time=1623148964

[2021-06-08 10:54] leonardehrenfried commented on #542
The actual problem of the route to Steinerner Weg not being found is fixed on dev: https://dev.stadtnavi.eu/reiseplan/Steinerner%20Weg%2C%2071134%20Aidlingen%3A%3A48.6580831%2C8.8873906/Eisenbahnstra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.5932927%2C8.8635394?locale=de&time=1622548800

But this ticket is more about the error message when no route is being found, right?

[2021-06-08 11:49] Denis306 commented on #345
@andreashelms @SamuelRioTz I updated the Structure and names of the layers and added both the english and german texts. Let me know if anything is still unclear.

[2021-06-08 12:21] leonardehrenfried opened #590 "Use correct booking messages for on demand taxis"
An example of an on-demand taxi is here: https://dev.stadtnavi.eu/reiseplan/Nufringen%3A%3A48.6224388%2C8.8881021/G%C3%BCltstein%3A%3A48.575747449999994%2C8.878864665540831/onDemandTaxi?time=1623442026

![Screenshot from 2021-06-11 22-07-55](https://user-images.githubusercontent.com/151346/121743328-7c8db680-cb01-11eb-9659-974e757bbf78.png)

The messages to display have slightly moved in the backe

[2021-06-08 12:39] dancesWithCycles opened #591 "Map base layer error depending on host system"
Hi folks,
Thank you very much for creating and maintaining this repository. Please accept my appreciation.

I have two development environments both running Debian 10. One environment has a firewall activated allowing the following ports.

[code]

The environment behind the firewall has difficulties presenting the `street` and `satellite` map base layers.

Street base layer:

![stadtnavi_streets](

[2021-06-08 12:45] leonardehrenfried commented on #591
As we want to reduce the load on our tile servers we only allow requests from a few select domains (ie. our own) and from localhost. If you want to get your domain/project included in that list, please get in touch at support@herrenberg.stadtnavi.de.

You can also host your own tiles, buy them from a commercial provider (Mapbox, Maptiler...) or use any other free tiles.

[2021-06-08 13:11] dancesWithCycles commented on #591
Hi @leonardehrenfried ,
Thank you very much for clarification. Does that mean you are configuring dedicated tile servers for the respective base  layers? I am wondering why  some layers work and others not.

Does this mean base layers are working when I configure ```MAP_URL`` with a different tile server?

I also found ```SEMI_TRANSPARENT_MAP_URL``` in the `hb` config file. Can you please tell me

[2021-06-08 13:25] dancesWithCycles commented on #591
Ok folks,
I found the URLs for street , satellite and bicycle base layer in the `hb` config. Remains the question what `SEMI_TRANSPARENT_MAP_URL` is used for. Any hint?

[2021-06-08 13:48] leonardehrenfried commented on #591
This URL configures the sem-transparent map layer that is being put on top of the satellite layer.

[2021-06-08 13:51] dancesWithCycles commented on #591
What is the need for an extra layer on top of the satellite layer?

[2021-06-08 13:58] leonardehrenfried commented on #591
So you can see street and place names.

[2021-06-08 13:59] dancesWithCycles commented on #591
Alright. Thank you very much for clarification. Cheers!

[2021-06-08 13:59] #591 closed, assigned to nobody

[2021-06-08 15:19] leonardehrenfried commented on #585
Would you prefer to replace driving/cycling with walking in this case?

[2021-06-08 15:38] leonardehrenfried commented on #538
So the rule is: if more than 50% of the _distance_ of the route is walking then it's removed.

If we want to remove it from Kuppingen -> Gültstein, then we could increase the value to, say, 70%. This could mean that the route must consist of at least 70% cycling to be included. But any other value is also possible.

WDYT?

[2021-06-08 16:33] ahmed-nawar opened #593 "Add icons to their label in sidebar when choosing which icons to show on the map"
Add the icon of each title/label in the 'show on map' menu where the user selects which icons to be shown on the map
This might also act as a legend
![image](https://user-images.githubusercontent.com/84456072/121223522-e9961780-c887-11eb-9522-9868cc1d9382.png)

[2021-06-08 17:26] MartinH-open commented on #593
Yes, good proposal. But icons should be next to the checkbox and left of the text label

[2021-06-08 17:47] MartinH-open opened #594 "Simplify the map display options to only main categories"
Current StadtNavi offers much to many map display options.
This should be simplified to not confuse and overload the user.
In German these options should be enough: Keep it simple!
1. Bus &Bahn  (or ÖPNV = public transport)
2. Sharing (Carsharing and Carpooling, Taxi)
3. Fahrrad (bike)
4. Infrastructure (Park, Charging station, public toilets, LoRaWAN - if needed at all)

Display certain items onl

[2021-06-08 23:39] MartinH-open commented on #538
@leonardehrenfried writes:
"So the rule is: if more than 50% of the **_distance_** of the route is walking then it's removed."
What about modifying the rule to
"if more than 50% of the **_time_** of the route is walking then it's removed."
In the Kuppingen -> Gültstein the parameters are: 25min (2.5km) walking and 14min (3.0km) bike

In general I'd like to see (and modify such parameters - in an e

[2021-06-08 23:45] MartinH-open commented on #538
This particular route Kuppingen -> Gültstein is strange anyhow.
Depending on the "from position" I get very different proposals.
See examples in pictures where I slightly moved the "from position" a bit further and the I get a proposed route by bus starting at about the location where I previously was asked to take a long foot way to Herrenberg. So this is at least inconsistent.

![image](https://

[2021-06-09 00:02] MartinH-open commented on #585
Yes, there should be some minimum amount of travel (time) before offering a certain mode of transportation.
But for walking this minimum should be 0 meter.

[2021-06-09 00:10] MartinH-open commented on #585
BTW - the current beta is still full of issues - more than anyone can report in reasonable time.
See below picture with multiple issues for this case.
The bike icon is displayed for a 35km trip in 34 min (this is a speed of a car - not a regular bike).
German text reads "Leihrad ausleihen:" - but then "Fahrrad bei {station} zurückgeben" => use the same one term "Fahrrad" or "Leihrad"
The parameter

[2021-06-09 00:22] MartinH-open commented on #591
Ah, that might explain why the Reutlingen test (during Öfficon) failed to display map data - but did work with the bike map .

[2021-06-09 01:25] dancesWithCycles commented on #591
Yep. Same just happened to me. It makes sense to me, now that I found the different tile server addresses for street, satellite and bicycle layers. Looks like the load balancing is only in place for the street tile server.

[2021-06-09 03:38] jpidelatorre commented on #521
Normally, this line would separate the text that shows the capacity for the charging station.

![image](https://user-images.githubusercontent.com/104569/121288653-b1a3ca00-c8b1-11eb-9441-0f09161ebfae.png)

I'm changing it so that it hides the line when the message is empty.

[2021-06-09 06:01] jpidelatorre commented on #557
After tracking down the source of the problem, I can say with confidence that this problem is not caused by the front-end. Both quantities come from two GraphQL queries and remain unaltered through the application.

For this one:
![image](https://user-images.githubusercontent.com/104569/121299210-1156a100-c8c3-11eb-877f-e1444a505f75.png)

This is the query:

https://github.com/stadtnavi/digitransi

[2021-06-09 06:17] andreashelms commented on #557
@jpidelatorre I don't think this query can be the cause of that issue, because I added that query only two days ago with https://github.com/stadtnavi/digitransit-ui/pull/580. And most of the time it isn't executed, only for requests with departure time between 21pm and 5am.

[2021-06-09 06:47] leonardehrenfried commented on #590
Also, `route.type` is correctly set to `715` which means "On demand bus": https://developers.google.com/transit/gtfs/reference/extended-route-types

![Screenshot from 2021-06-09 08-46-47](https://user-images.githubusercontent.com/151346/121306631-60222c00-c8ff-11eb-8e14-b8a598bb92d4.png)

[2021-06-09 06:54] leonardehrenfried commented on #557
It is possible that in between querying and for the route and then looking at the bike station a little later someone just rented a bike and hence the count is lower. My feeling is that this was the case here.

Since it is not possible to reproduce anymore(?), I'd suggest to close this.

[2021-06-09 07:17] leonardehrenfried commented on #542
@Denis306 @nghanem-poet-egypt This ticket contains mostly a discussion and it would be hard for the devs to identify what they're supposed to do. Can we close this one and replace it with instructions to change the error message?

[2021-06-09 07:20] leonardehrenfried commented on #585
You're right Martin, this is a bug and we will fix it. Explanation: Helsinki's digitransit only knows about rental bikes but we also added car sharing which is poorly reflected in this UI. In actual fact, we should never offer any routes with those rental cars.

[2021-06-09 07:25] jpidelatorre opened #596 "Wrong locale for date"
When writing in the search drop-down the suggestion of the last search has the day in English although I chose German as the language.

![image](https://user-images.githubusercontent.com/151346/121312450-ac706a80-c905-11eb-9f60-33b53a651d50.png)

German Locale is missing from the component.

@jpidelatorre fixed this upstream but it seems that we need to wait for it being published on their side: h

[2021-06-09 07:26] jpidelatorre commented on #532
@leonardehrenfried The new ticket is #596

[2021-06-09 07:31] jpidelatorre commented on #557
This would also explain why the problem appears sometimes and sometimes don't.

[2021-06-09 07:33] jpidelatorre commented on #557
@andreashelms I could be wrong about the queries. The problem really is that the data goes down to the components without being altered.

[2021-06-09 07:35] leonardehrenfried commented on #596
I took the liberty to improve your ticket description since it was a little too bare.

[2021-06-09 07:46] jpidelatorre commented on #596
Thanks!

[2021-06-09 07:47] leonardehrenfried commented on #596
My hope is that with the next upstream merge this will be fixed.

[2021-06-09 07:53] jpidelatorre commented on #596
I guess it should. I think we need a solution to the module resolution problem. To test changes like this locally.

[2021-06-09 07:59] nghanem-poet-egypt commented on #542
Yes, sure I can do that. So as a summary the error message will be changed to "Only routes without public transport were found."

[2021-06-09 09:18] leonardehrenfried commented on #542
Correct.

[2021-06-09 09:18] #542 closed, assigned to nobody

[2021-06-09 09:24] leonardehrenfried commented on #585
I removed those car sharing routes. Right now only on dev but from Friday also on beta.

[2021-06-09 09:26] leonardehrenfried opened #597 "Disable via points"
This has been implemented upstream (https://github.com/HSLdevcom/digitransit-ui/pull/4231/files) but as of writing this ticket it's not merged downstream yet.

[2021-06-09 09:27] leonardehrenfried opened #598 "Compute CAR_PARK instead of CAR when destination is in Herrenberg old town"
When requesting a car route to the old town of Herrenberg, we don't want to show routes driving all the way to the destination. We would much rather see results where you drive to a parking lot and walk the rest.

For this reason when sending a request for a car route, please modify the logic as follows:

- if the destination is outside the following GeoJSON polygon https://gist.github.com/leonard

[2021-06-09 10:44] nghanem-poet-egypt opened #599 "Change message if no public tranfer routes are found"
Originally reported here https://github.com/stadtnavi/digitransit-ui/issues/542 and https://github.com/stadtnavi/digitransit-ui/issues/503

Case 1) The following message should be changed to "No route using public transport only found."
![grafik](https://user-images.githubusercontent.com/84389152/121336125-81911100-c91b-11eb-8291-cb45b067f22a.png)

Case 2) as reported in the user feedback - the fo

[2021-06-10 07:12] Denis306 opened #601 "Change Cargo Bike Icon on map"
Could you please change the cargo bike icon on the map.
[lastenrad_sharing.zip](https://github.com/stadtnavi/digitransit-ui/files/6629107/lastenrad_sharing.zip)

[2021-06-10 08:36] the-infinity commented on #351
Production URL will be https://backend.open-booking.eu . Already working:
GBFS: https://backend.open-booking.eu/api/gbfs/2.2/1/gbfs.json
ParkAPI: https://backend.open-booking.eu/api/park-api/1.0/ / https://backend.open-booking.eu/api/park-api/1.0/1
Own Detail-API: https://backend.open-booking.eu/api/v1/locations und https://backend.open-booking.eu/api/v1/location/1 und https://backend.open-booking

[2021-06-10 09:46] #557 closed, assigned to jpidelatorre

[2021-06-10 10:16] leonardehrenfried commented on #535
German is "Mitfahren"

[2021-06-11 07:57] leonardehrenfried opened #604 "Use new car and bike parking lots map layer datasource"
Right now the bike parking and car parking layers use two different sources and two different classes for fetching the data.

However, we moved and combined the data source in the backend and there is now only a single data source for both types of parking.

Just like with the stops, if one of the layers is activated in the layer switcher, you need to fetch the data for both and then filter out th

[2021-06-11 10:44] leonardehrenfried opened #606 "Park & Ride fixes"
## Icon

https://dev.stadtnavi.eu/reiseplan/Nufringen%3A%3A48.6224388%2C8.8881021/Marktplatz%2C%2071083%20Herrenberg%3A%3A48.5964113%2C8.869932/parkAndRide?time=1623402989

![121673188-ee89df80-cab0-11eb-95ce-a488cf65ca03](https://user-images.githubusercontent.com/151346/122024701-f6a39100-cdc8-11eb-8243-a40c81667cd4.png)

When the car leg is quite short the bars don't show the car anymore. I'm no

[2021-06-11 12:32] Denis306 opened #607 "Put information about the Beta Apps in the Static Message"
The static message being displayed in the web app is currently missing information about the beta apps.
![image](https://user-images.githubusercontent.com/63004289/121687025-28171680-cac2-11eb-911d-c962264acb98.png)

- [x] Please implement the following information to that static message in a new line:
„stadtnavi gibt es demnächst auch als native App für Ihr Mobiltelefon. Testen Sie bereits heute

[2021-06-12 09:22] leonardehrenfried commented on #590
Right now the check if it's an on demand taxi works by looking at the route name (should start with RT) but it's more reliable to check if the route type is 715.

[2021-06-12 09:22] leonardehrenfried commented on #590
can you also do that?

[2021-06-12 10:18] Beck-berry commented on #590
Of course!

[2021-06-12 10:48] Beck-berry commented on #590
Will the backend still send the `contactInfo` fields `infoUrl` and `bookingUrl`?

[2021-06-12 11:16] leonardehrenfried commented on #590
Yes but I think one of them is null. But you don't need to change that part

[2021-06-12 22:32] Denis306 opened #611 "No name or info showed on car pool POI when displayed in the popup list"
When the map is zoomed out and you click on the car pool POI the car pool station ID is shown in the popup list and not the actual name of the car pool station:
![image](https://user-images.githubusercontent.com/63004289/121790386-3b6bd400-cbdf-11eb-838c-c0fc93b3b8a0.png)

[2021-06-12 22:41] Denis306 opened #612 "Missing Charging stations on map"
Some charging stations are missing on the map. Like the one at the "A81" Autobahn, although it is there as per @the-infinity.

[2021-06-13 12:18] Denis306 opened #613 "Live status of charging stations"
The charging stations should also have an availability indicator like for example the parking garages.
![image](https://user-images.githubusercontent.com/63004289/121807785-ee771480-cc55-11eb-9482-f0936142d7fc.png)

This is the only chariging station in Herrenberg that can have a live status indicator right now as it is the only one sending "availavility" data:
https://herrenberg.beta.stadtnavi.eu

[2021-06-13 12:20] Denis306 opened #614 "All charging stations are named "TEST" in the popup"
Currently all the charging stations are named "TEST" in their popups when clicking on them.
![image](https://user-images.githubusercontent.com/63004289/121807034-b6220700-cc52-11eb-9130-6f2629d6dce1.png)

The actual name should be displayed here.

[2021-06-13 12:48] Denis306 commented on #613
@the-infinity could you please provide some information on how to do this though? When we discussed the topic of displaying the availability in the side panel you mentioned that there are no charging stations in Herrenberg that send data on availability. Therefore you set the status UNKNOWN. Right now all the charging stations are using that which is why the availability is also always 0. (cc. @hb

[2021-06-13 12:54] Denis306 opened #615 "Fix styling of charging side panels"
The "Route von hier" and "Route hierher" buttons are too far up and close to the "Ladevorgang starten".
![image](https://user-images.githubusercontent.com/63004289/121808078-41050080-cc57-11eb-99f1-1298424fa71e.png)

Please move both buttons a bit more to the bottom.

[2021-06-13 14:38] samia-roubaa opened #616 "Missing translations"
- When the language chosen is "English", there are many components that still appear in "German".

1. Ruftaxi message
![translation of Ruftaxi message](https://user-images.githubusercontent.com/83356918/121811578-18840300-cc65-11eb-8b60-73637c011bc2.png)

2. Details of public toilets
![translation details of public toilets](https://user-images.githubusercontent.com/83356918/121811610-305b8700-cc65

[2021-06-13 14:42] samia-roubaa opened #617 "Number of on demand taxi gets trimmed"
In the details of the route suggestion, when a Ruftaxi is dispalyed, its number is trimmed.
For example: the whole number of the Ruftaxi "RT794" is shown on the map, but in the details only "RT79" can be seen as 4 is trimmed.
![Ruftaxi number trimmed](https://user-images.githubusercontent.com/83356918/121811932-4cabf380-cc66-11eb-99fc-fc24d6c1a0ee.png)

 image: mfdz/opentripplanner:otp2-a0c0ea9082

[2021-06-13 14:49] samia-roubaa opened #618 "Transportation mode "Ruftaxi" does not show any results on the map"
Scenario:
- Origin: Schuhhaus Breitner e.K., Bronngasse 19, 71083 Herrenberg
- Destination: Sommerrain 9, 71083 Herrenberg
- Departure: 22:08
The app returned the following transportation modes
![taxi option does not show any results](https://user-images.githubusercontent.com/83356918/121812180-35213a80-cc67-11eb-9be1-906b6e5376d3.png)

When I click on the transportation mode "Taxi", the map does

[2021-06-13 14:52] samia-roubaa opened #619 "When chosing the POI type "Carpool stops" no results appear on the map"
Scenario:
- Unmark all POI types from the map
- Choose to show only Carpool stops
- The app does not show any results on the map
![image](https://user-images.githubusercontent.com/83356918/121812313-a9f47480-cc67-11eb-9363-ee15f3c290d4.png)

Beta version:
 image: mfdz/opentripplanner:otp2-a0c0ea9082ac93f3b3e62bdb23c9c8da1622e632
 image: stadtnavi/digitransit-ui:f62cb548ded409d7c02fd0744fc798ffbdfc

[2021-06-13 14:56] samia-roubaa opened #620 "Changing the language while in the tab "timetable" shows an exception"
Scenario:
- Open the details of a train station
- Go the tab "timetable"
- Choose the current language
- The app returns the exception "Internal Server Error"
![image](https://user-images.githubusercontent.com/83356918/121812486-2dae6100-cc68-11eb-9510-73265c739606.png)

Beta version:
 image: mfdz/opentripplanner:otp2-a0c0ea9082ac93f3b3e62bdb23c9c8da1622e632
 image: stadtnavi/digitransit-ui:f62cb5

[2021-06-13 14:59] samia-roubaa opened #621 "Calendar icon in the tab "timetable" is not clickable"
One you click on the calendar icon in the tab "timetable" it highlights the date but does not open the calendar.
The calendar should be opened when clicking this icon button.
![calendar icon not clickable](https://user-images.githubusercontent.com/83356918/121812607-b927f200-cc68-11eb-9bd0-b48488bda36a.png)

Beta version:
 image: mfdz/opentripplanner:otp2-a0c0ea9082ac93f3b3e62bdb23c9c8da1622e632

[2021-06-13 15:07] samia-roubaa opened #622 "Issue with showing the icon of the train station"
Scenario:
- Choose to show all "Public Transportations" POIs on the map
- The app will show the icons of all the public transportations on the map (Zoom level: 300m)
![image](https://user-images.githubusercontent.com/83356918/121812748-6569d880-cc69-11eb-953f-a9ec815af5a7.png)
- Unmark the other public transportations leaving only the "train stations"
![image](https://user-images.githubusercontent

[2021-06-13 15:09] samia-roubaa opened #623 "The timetable of a metro station in Stuttgart returns an error"
Scenario:
- Open the details of the metro station: Schlossplatz in Stuttgart
- Go to the tab "timetable"
- The app will return an error
![metrostation_Schlossplatz_error timetable](https://user-images.githubusercontent.com/83356918/121812910-1ec8ae00-cc6a-11eb-955f-13ca5865b898.png)

Beta version:
 image: mfdz/opentripplanner:otp2-a0c0ea9082ac93f3b3e62bdb23c9c8da1622e632
 image: stadtnavi/digitran

[2021-06-13 16:05] MartinH-open commented on #619
Unfortunately - there are not that many Carpool stops close to Herrenberg. I know of just one at the intersection of A81 and B296 east of Herrenberg.
This icon displays only at zoom level of 100 m scale - instead of all zoom levels. (This should be changed)
![image](https://user-images.githubusercontent.com/1383111/121814536-e1681e80-cc71-11eb-8050-06a8f75b6128.png)

[2021-06-13 19:22] Denis306 commented on #593
Closing this issue as this is currently being solved in #345 and the implementation of a new map layer switcher.

[2021-06-13 19:22] #593 closed, assigned to nobody

[2021-06-13 19:44] Denis306 opened #624 "Change Wording in the itinerary leg for car travel"
Change the description of the itinerary leg from "Auto" to "Fahren" for every car leg/mode that it is used in.
![image](https://user-images.githubusercontent.com/63004289/121819999-9a3d5600-cc90-11eb-97f8-b553b698160b.png)

[2021-06-13 20:34] Denis306 opened #625 "Change the wording of the walking speeds in the german itinerary settings"
The different walking speeds have bad wording in german and currently have five speeds.
![image](https://user-images.githubusercontent.com/63004289/121821177-a5e04b00-cc97-11eb-88b9-2ec2af0a235b.png)
![image](https://user-images.githubusercontent.com/63004289/121847262-976e4f80-cce8-11eb-8579-db59babbb7f9.png)

Please change this for it to only propose 3 options with the following names:

English

[2021-06-13 20:45] Denis306 commented on #625
@hbruch @leonardehrenfried Could you approve if the wording like this is okay?

[2021-06-13 21:26] MartinH-open commented on #625
The proposed German translations appear valid for me.
But I wonder a bit if we really need these 5 categories: what about just 3 speed categories:
slow (langsam) = 3km/h; medium/normal (mittel/normal) = 5km/h; fast (schnell) = 7 km/h
For referenz see: https://de.wikipedia.org/wiki/Gehen
For short distances the speed is often a bit higher then the average value for long walks.
Can we reduce the sel

[2021-06-14 04:16] jpidelatorre commented on #614
The name for the map markers is coming from the backend and the value is always TEST:

 https://ochp.next-site.de/tiles/18/137532/90465.mvt

 There are other ways to solve this, but I think that would mean we modify the map only for charging stations. Or, maybe we are pointing to the wrong backend.

[2021-06-14 04:16] jpidelatorre commented on #612
There's this charging station in A81.

![image](https://user-images.githubusercontent.com/104569/121833379-391a8000-cc9a-11eb-8969-273cc1d11a4d.png)

With it, there are only 7 stations on the entire map and those are all of the charging stations that the backend sends (URL: `https://ochp.next-site.de/tiles/`). I think it is a problem in the backend.

[2021-06-14 04:33] the-infinity commented on #612
Hmm. Yes. Now it's there. Maybe it was a connection issue during the test?

[2021-06-14 04:35] the-infinity commented on #614
Ah, sorry, this was actually a test of a field value. I can remove the field if you want, chargestations do not really habe names.

[2021-06-14 04:36] the-infinity commented on #613
There's one chargestation which has a live status in Herrenberg: the one in Benzstraße 10. Every other has "unknown" status. See this thingsboard enhancer: https://github.com/stadtnavi/thingsboard-json-enhancer/blob/main/templates/charging-stations/charging-stations-ocpi.json

[2021-06-14 04:58] jpidelatorre commented on #611
The information coming from the backend for car share points doesn't include the name.

This is the URL: https://api.dev.stadtnavi.eu/routing/v1/router/vectorTiles/citybikes/15/17192/11308.pbf

The only fields that come from it are the id and the networks.

![image](https://user-images.githubusercontent.com/104569/121839520-40e12100-cca8-11eb-885b-e2353321bbe0.png)

[2021-06-14 05:00] jpidelatorre commented on #612
Probably it was.

[2021-06-14 05:02] jpidelatorre commented on #614
What is that field in the title?

![image](https://user-images.githubusercontent.com/104569/121841326-0da09100-ccac-11eb-82d2-9583000ad75d.png)

[2021-06-14 05:03] the-infinity commented on #612
So I believe this is a beloved "can't reproduce"-bug. :)

[2021-06-14 05:05] jpidelatorre commented on #612
@Denis306 Should we close this?

[2021-06-14 05:06] the-infinity commented on #614
Ah, good point. To correct myself: there are names, but they are optional: https://github.com/ocpi/ocpi/blob/master/mod_locations.asciidoc#131-location-object

In case of Herrenbergs chargestatons we actually set a name: https://github.com/stadtnavi/thingsboard-json-enhancer/blob/main/templates/charging-stations/charging-stations-ocpi.json . But you can't rely on that there is always a name.

[2021-06-14 05:11] jpidelatorre commented on #614
Oh, I see. But, can you send it down when it is present? Because most stations show a name when you open them.

[2021-06-14 05:23] the-infinity commented on #614
Maybe it's an idea to provide the address instead of the name if the name is not set? Then you always can have a popup with name, and the address is a required field.

[2021-06-14 05:30] jpidelatorre commented on #614
I think that would be a good idea.

[2021-06-14 05:32] the-infinity commented on #614
Done. :)

[2021-06-14 05:35] jpidelatorre commented on #611
@the-infinity Can you check this one out? I think it is also a problem in the backend.

[2021-06-14 05:36] jpidelatorre commented on #614
Great! It works like a charm.

![image](https://user-images.githubusercontent.com/104569/121843792-ec8e6f00-ccb0-11eb-9228-1eec4dad659b.png)

[2021-06-14 05:38] the-infinity commented on #611
I can, but I don't provide carsharing data, so I can just give you random thoughts without relevance *g

I suppose this is something for @leonardehrenfried (?).

[2021-06-14 05:40] hbruch commented on #614
I suggest that, in the popup, you insert the localized object category before the address, like "Charging station Seeländer Areal Herrenberg". There might be locations, were multiple POIs overlap and the popup is used as a selector which POI to show details for.

[2021-06-14 05:43] hbruch commented on #625
I agree with @MartinH-open  suggestions. Use three options only please, and use the speeds and naming suggestions proposed by Martin.

[2021-06-14 05:53] jpidelatorre commented on #611
No problem then. Let's wait for Leonard to check this.

[2021-06-14 06:33] Denis306 commented on #613
@the-infinity Yes, I was just trying to let everyone know, that the expected behavior right now is to only have an availability indicator at the charge station in the Benzstraße 10 in Herrenberg.

[2021-06-14 06:44] Denis306 commented on #612
@jpidelatorre @the-infinity Yes. Closing it as it is not reproducable.

[2021-06-14 06:44] #612 closed, assigned to jpidelatorre

[2021-06-14 06:49] Denis306 opened #626 "When there is no availability information on charging stations, the capacity should be displayed"
The behavior on how the capacity is currently being displayed is missleading.

The only charging station with availability data/live status data  is the following one:
https://herrenberg.beta.stadtnavi.eu/ladestationen?lat=48.599106021717546&lng=8.870450779795647&name=Parkplatz+Benzstra%C3%9Fe&stationId=2950&capacity=2&available=2
![image](https://user-images.githubusercontent.com/63004289/1218509

[2021-06-14 06:56] patrickbeck1337 commented on #351
Hey @leonardehrenfried  and @the-infinity.
Following information is not there yet:
 - Supported payment types
 - Phone number

Following is unclear to me:
- How can I get the current capacity status within this data structure? Is the `status` field of each object in the `resource` array the field I need to check?

[2021-06-14 07:05] the-infinity commented on #351
Payment types are not supported atm (and Herrenberg also did not decide which payment times should be supported). Phone number is part of operator, but also is not decided so far. Both fields are not supported by GBFS / ParkAPI, but by our own API.

The capacity can be calculated based on the resource status', yes.

[2021-06-14 07:31] leonardehrenfried commented on #611
It's true that the map tiles don't contain the name however when you click more on an icon then more information is fetched via the GraphQL API which includes the name.

[2021-06-14 07:35] leonardehrenfried commented on #611
![Screenshot from 2021-06-14 09-34-57](https://user-images.githubusercontent.com/151346/121855571-cc33d400-ccf3-11eb-8fb2-3feaef8e43d7.png)

^^ This is the request.

[2021-06-14 09:22] Denis306 commented on #584
This issue can be closed as it is obsolet after the rework of the whole map layer switcher.

[2021-06-14 09:22] #584 closed, assigned to nobody

[2021-06-14 09:32] leonardehrenfried commented on #364
There won't be any physical boxes in Herrenberg so this feature is no longer needed.

[2021-06-14 09:32] #364 closed

[2021-06-14 11:08] ahmed-nawar commented on #533
The icon for Park & ride is the same as the car icon

![image](https://user-images.githubusercontent.com/84456072/121882941-766e2480-cd11-11eb-858d-a28f25854695.png)

[2021-06-14 11:16] ahmed-nawar commented on #419
The circle is removed

[2021-06-14 11:21] Denis306 commented on #533
@leonardehrenfried @hbruch should we change the Icon in the settings to also use that "Car Icon + Transit Icon" Symbology?

[2021-06-14 11:24] leonardehrenfried commented on #533
Probably a good idea but what are we going to use as the smaller icon? Probably the train.

I think it would be easier in this case if Sandra could prepare the fixed icon rather than a developer having to superimpose two them onto each other.

[2021-06-14 11:28] leonardehrenfried opened #629 "No title in station view"
Upstream has them

![Screenshot from 2021-06-14 13-26-43](https://user-images.githubusercontent.com/151346/121885385-6572e280-cd14-11eb-8e38-9fee7188ad15.png)

But we don't
![Screenshot from 2021-06-14 13-26-10](https://user-images.githubusercontent.com/151346/121885393-67d53c80-cd14-11eb-9349-72a4dc646685.png)

Please investigate.

[2021-06-14 11:41] leonardehrenfried commented on #404
Both URLs work now on the beta system.

[2021-06-14 11:41] #404 closed

[2021-06-14 12:38] #582 closed, assigned to nobody

[2021-06-14 12:38] #485 closed

[2021-06-14 12:38] #419 closed

[2021-06-14 12:49] ahmed-nawar opened #630 "Pop up shows only once"
If you close the pop up when you click on an icon, this pop up will not show again if you revisit this icon.

Click on a taxi/sharing/bike rental icon -> a pop up shows the icon's name
Click on the x button (close the popup)
Click on any other icon
Click on the previous icon you once closed -> The pop up won't show

*Another scenario*
Click on a Parking icon
Close the popup using the x button
Try

[2021-06-14 12:54] #529 closed, assigned to nobody

[2021-06-14 12:55] #348 closed

[2021-06-14 12:55] #566 closed, assigned to patrickbeck1337

[2021-06-14 13:02] ahmed-nawar commented on #555
The check boxes looks still broken
![image](https://user-images.githubusercontent.com/84456072/121896055-2c8d3a80-cd21-11eb-9a72-e6515a6c8dea.png)

Things to improve: Add validation to the phone number input field. Should we limit the number of digits to a certain length?
Center the ticks in the checkboxes

[2021-06-14 13:11] #549 closed, assigned to jpidelatorre

[2021-06-14 13:18] #521 closed, assigned to jpidelatorre

[2021-06-14 13:30] #344 closed

[2021-06-14 13:41] #503 closed

[2021-06-14 13:43] ahmed-nawar commented on #503
Tracked here https://github.com/stadtnavi/digitransit-ui/issues/599

[2021-06-14 14:14] #541 closed, assigned to nobody

[2021-06-14 14:31] #532 closed, assigned to jpidelatorre

[2021-06-14 14:55] ahmed-nawar commented on #350
- No translation when the language is set to English
- The spacing is weird

![image](https://user-images.githubusercontent.com/84456072/121912915-4171ca00-cd31-11eb-91f3-69a12cfc4e07.png)

[2021-06-14 14:57] leonardehrenfried commented on #350
The missing translation is a technical limitation which we cannot solve easily, however you're right with the spacing.

[2021-06-14 16:19] leonardehrenfried commented on #560
This has been fixed on all environments.

[2021-06-14 17:58] leonardehrenfried commented on #623
I fixed this today: https://dev.stadtnavi.eu/haltestellen/hbg%3Ade%3A08111%3A6022%3A1%3A2

[2021-06-14 19:31] patrickbeck1337 commented on #626
Fixed within #579

<img width="1635" alt="Screenshot 2021-06-14 at 21 31 02" src="https://user-images.githubusercontent.com/23075804/121948738-ea332000-cd57-11eb-9462-ec1150f9a96c.png">

[2021-06-15 05:56] jpidelatorre commented on #611
@leonardehrenfried That's true. However, when rendering the `select row`, we don't have that information yet, and calling this endpoint at this point would mean we have to call it twice if the user selects a station.

Also, other endpoints do have the name of the markers in the tile. For instance, parking lots have 15 fields, including the name.

![image](https://user-images.githubusercontent.com/

[2021-06-15 06:34] Denis306 commented on #630
@ahmed-nawar This is a behavior that comes from upstream. You can check [here](https://reittiopas.hsl.fi/pysakit/HSL%3A1040115) and it behaves the same.

[2021-06-15 06:36] patrickbeck1337 commented on #615
Done within #579

[2021-06-15 08:56] leonardehrenfried commented on #611
I misunderstood the original point that Denis raised and I checked the code right now. The name should actually be already sent so I will investigate.

[2021-06-15 08:57] patrickbeck1337 commented on #606
Hey @leonardehrenfried I don't get the icon issue you describe above. Whats the actual wrong behaviour here?

[2021-06-15 08:58] leonardehrenfried commented on #606
Sorry, the first point is a little confused. I will update it.

[2021-06-15 09:01] leonardehrenfried commented on #606
Updated.

[2021-06-15 09:02] patrickbeck1337 commented on #606
Thx that’s more clear.

[2021-06-15 09:56] leonardehrenfried commented on #604
BTW, I implemented a tiny part of this already: https://github.com/stadtnavi/digitransit-ui/commit/b6ae8b6d8bd8bb6a2e140ef75afc49308214ef6f

[2021-06-15 10:10] ahmed-nawar opened #635 "Route dots and shown path is weird"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Bahnhof%20Herrenberg%2C%2071083%20Herrenberg%3A%3A48.5943214%2C8.8621132/Stuttgarter%20Stra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.5969686%2C8.8701104?time=1623750379

The dots shown is weird and the bus stations are not connected with a red path which is confusing.

![MicrosoftTeams-image (20)](https://user-images.githubusercontent.com/84456072/12203

[2021-06-15 13:03] leonardehrenfried commented on #554
Ehringen really is outside the service area. I'd say that this ticket is closed. Can you check?

[2021-06-15 14:09] #554 closed, assigned to nobody

[2021-06-15 16:04] sara-georgy opened #637 "Feedback from Ansgar: bus station icons get cut"
When user changes the zoom layer, the bus station icon gets cut.

![image](https://user-images.githubusercontent.com/84382750/122086493-0ee4d180-ce04-11eb-8d1d-641a11f9c899.png)

![image](https://user-images.githubusercontent.com/84382750/122086420-fb396b00-ce03-11eb-86c3-e2ed513f6b30.png)

[2021-06-15 16:21] sara-georgy opened #638 "Feedback from Ansgar (high priority): the number of available places in charging stations is incorrect"
The system always displays the availability in charging stations as follows: **0 from X** are available.

There is no occupancy data available for charging stations except for Parkplatz Benzstraße.

Here are some examples for affected stations:
https://herrenberg.stadtnavi.de/ladestationen?lat=48.59410518761695&lng=8.872807770967484&name=Hotel+Gasthof+Hasen&stationId=2953&capacity=1&available=0
ht

[2021-06-15 17:20] Beck-berry commented on #629
It must be because the `CardHeader` component would use the `stop.name` to produce a title there but we do not get the data, however the graphQL query contains it (`StopCardHeaderContainer` component).

![image](https://user-images.githubusercontent.com/46535522/122094431-79017480-ce0c-11eb-8aa4-ed6ffa5697cf.png)

Is it surely sent from the backend?

[2021-06-15 17:26] leonardehrenfried commented on #629
![Screenshot from 2021-06-15 19-26-13](https://user-images.githubusercontent.com/151346/122097656-32ae1480-ce10-11eb-89dc-8a19bf3bb93a.png)

I can see it but it's probably not moved to the correct place.

[2021-06-15 17:30] leonardehrenfried opened #639 "Ruftaxi (on demand) time is incorrect"
\
![Screenshot from 2021-06-15 19-27-26](https://user-images.githubusercontent.com/151346/122097469-fed2ef00-ce0f-11eb-82e4-d79820e5ce4d.png)

It says 1 hour but it there isn't a route that is longer than 39 minutes.

https://dev.stadtnavi.eu/reiseplan/Nufringen%3A%3A48.6224388%2C8.8881021/Ziegelfeldweg%2C%2071083%20Herrenberg%3A%3A48.5977042%2C8.886265?time=1623789000

[2021-06-15 17:31] leonardehrenfried commented on #629
Screenshot updated.

[2021-06-15 19:51] Denis306 opened #640 "Change P&R Symbol in the Itinerary Settings"
The itinerary settings are currently using the car icon for the "Park-and-Ride" setting.
![image](https://user-images.githubusercontent.com/63004289/122114727-e8369300-ce23-11eb-8abc-9d7ed946fbbd.png)

Please replace this Icon in the settings by this Icon:
[car-train-1.zip](https://github.com/stadtnavi/digitransit-ui/files/6658318/car-train-1.zip)
![image](https://user-images.githubusercontent.com

[2021-06-15 19:54] Denis306 commented on #533
@leonardehrenfried & @ahmed-nawar I created this seperate ticket for the Icon topic: https://github.com/stadtnavi/digitransit-ui/issues/640

[2021-06-15 19:54] #533 closed, assigned to jpidelatorre

[2021-06-16 00:18] jpidelatorre commented on #616
The messages for the Ruftaxi come straight from the backend:

https://github.com/stadtnavi/digitransit-ui/blob/dfcaec2d906a1cef9d4b4983a7f5edf5827778f1/app/component/ItineraryTab.js#L391-L399

Besides that, the rest of the issues were solved.

[2021-06-16 07:18] leonardehrenfried commented on #616
Yes, there is a technical limitation which prevents the Ruftaxi messages from being translated.

[2021-06-16 07:41] sara-georgy opened #644 "Feedback User 237: Route is too long"
Origin: Am Joachimsberg 17, Herrenberg
Destination: Schlossberg 1, Herrenberg

When comparing the route of Google maps with Stadtnavi, the Stadtnavi route takes 11mins longer.

![image](https://user-images.githubusercontent.com/84382750/122178576-fbc71580-ce86-11eb-9b89-66d4c7a08e74.png)

![image](https://user-images.githubusercontent.com/84382750/122178861-421c7480-ce87-11eb-9340-e3a671baea6a.png

[2021-06-16 08:45] leonardehrenfried commented on #644
The two results aren't quite the same here. Google goes to the address "Schlossberg 1" but the stadtnavi screenshot shows going up the mountain to "Schlossberg".

If you correct the destination you get a much more reasonable 14 minutes:

![Screenshot from 2021-06-16 10-23-29](https://user-images.githubusercontent.com/151346/122184845-e8b74400-ce8c-11eb-8d0b-c1645aa7afaa.png)

https://herrenberg.st

[2021-06-16 08:50] leonardehrenfried commented on #644
I've taken the liberty to just add a footpath leading from Am Joachimsberg to the house. This means that the route from that address will start on that part of the house.

![Screenshot from 2021-06-16 10-48-29](https://user-images.githubusercontent.com/151346/122188596-66308380-ce90-11eb-88df-66b0d45e840e.png)

Can you ask the user to verify that this is a pedestrian path and not actually meant fo

[2021-06-16 09:15] sara-georgy opened #645 "Feedback User 243/257: add navigation"
**For future improvements:**
Add the navigation functionality to direct the user in his route.

[2021-06-16 09:54] Denis306 opened #646 "Change the text in the "About this Service" Section"
Please change the text in the "about this service" / "Über diesen Service" section to the following:

German:

Über diesen Dienst

stadtnavi ist eine Reiseplanungs-Anwendung für die Stadt Herrenberg und Umgebung. Dieser Dienst
umfasst ÖPNV, Fußwege, Radverkehr, Straßen- und Parkplatzinformationen, Ladeinfrastruktur und
Sharing-Angebote. Mobilitätsangebote werden durch intermodales Routing miteinan

[2021-06-16 10:29] leonardehrenfried commented on #352
I merged the initial PR and it's on dev, but I still see "no price information" and then afterwards the ticket.

![Screenshot from 2021-06-16 12-08-42](https://user-images.githubusercontent.com/151346/122203467-5b7ceb00-ce9e-11eb-90ec-e7d900b2e28c.png)

https://dev.stadtnavi.eu/reiseplan/Herrenberg%3A%3A48.595557%2C8.8674715/Ehningen%3A%3A48.6592556%2C8.9405097?time=1623839321

Please take a look

[2021-06-16 10:30] leonardehrenfried commented on #638
A fix is already in the pipeline: https://github.com/stadtnavi/digitransit-ui/pull/633

[2021-06-16 13:10] ahmed-nawar opened #647 "`Avoid Walking` toggle returns weird results"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Am%20Joachimsberg%201%2F7%2C%2071083%20Herrenberg%3A%3A48.59843706993158%2C8.873605728149416/Kirchhalde%207%2C%2071083%20Herrenberg%3A%3A48.59876345387848%2C8.880584836006166?time=1623848691

When I toggle on Avoid walking the route returns results which is weird because when the toggle is off it doesn't return routes.
Similar to https://github.com/st

[2021-06-16 13:15] ahmed-nawar opened #648 "Translation for Nette Toilette details"
Turn on the `Public Toilets` from the map layers.
Make sure the language is English
Click on a Public toilet and check translation

![image](https://user-images.githubusercontent.com/84456072/122225306-3c3d8800-ceb5-11eb-8d09-7eb996f753b7.png)

[2021-06-16 13:16] ahmed-nawar opened #649 "Internal Server Error when changing language"
- Click on an icon on the map ex: Public toilet
- Change the language from the settings
- Internal error appears

![image](https://user-images.githubusercontent.com/84456072/122226121-efa67c80-ceb5-11eb-8d03-819604c1b118.png)

[2021-06-16 13:21] ahmed-nawar commented on #649
The error appears only when you are viewing one of the two icons:
- Public Toilets
- LoRaWAN Gateways
![image](https://user-images.githubusercontent.com/84456072/122226651-79564a00-ceb6-11eb-82d8-d65bfb93e421.png)

[2021-06-16 14:32] ahmed-nawar commented on #649
Similar to https://github.com/stadtnavi/digitransit-ui/issues/620

[2021-06-16 14:34] leonardehrenfried commented on #649
I think it's exactly the same. Lets close it.

[2021-06-16 14:37] #649 closed, assigned to nobody

[2021-06-16 14:56] #607 closed, assigned to patrickbeck1337

[2021-06-16 14:57] #560 closed, assigned to nobody

[2021-06-16 15:30] ahmed-nawar commented on #614
The pop ups don't have the localized object category before the address, as @hbruch suggested. Is this the required behavior?

[2021-06-16 15:35] #351 closed

[2021-06-16 15:48] ahmed-nawar opened #650 "Wrong `On demand taxi` icon"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Watzmannstra%C3%9Fe%2010%2C%2071083%20Herrenberg%3A%3A48.60907893795585%2C8.841247558593752/Stuttgart%20Main%20Station%2C%20Stuttgart%3A%3A48.7856099%2C9.1833959/0?time=1623879900

**Reproduce:**
- Click on any route with on demand taxi
- Click on the Blue taxi icon "RT773"
- The taxi details appears with a wrong bus icon on the top left

![image](htt

[2021-06-16 15:56] ahmed-nawar opened #651 "Weird behavior with `On Demand Taxi` mode"
https://herrenberg.beta.stadtnavi.eu/reiseplan/Bahnhof%20Herrenberg%2C%20Bahnhofstra%C3%9Fe%2014%2C%2071083%20Herrenberg%3A%3A48.593861700000005%2C8.86307270000001/Seestra%C3%9Fe%2C%2071083%20Herrenberg%3A%3A48.60771690398517%2C8.876609802246096?time=1623877200

If there was already an on demand taxi route in the suggested itineraries then I click on the **on demand taxi** icon in the modes, the r

[2021-06-16 16:06] ahmed-nawar commented on #650
After checking the requirements, this is the correct behavior. The issue will be closed.

[2021-06-16 16:06] #650 closed, assigned to nobody

[2021-06-16 16:12] ahmed-nawar commented on #590
@leonardehrenfried
There are many technical points that I cannot validate. Currently the shown message is like the screen shot.
![image](https://user-images.githubusercontent.com/84456072/122255300-48820f00-cece-11eb-97b2-b32e34eae385.png)

Can you check if all the other technical points are done? And please tell me if there's anything else I should test to close this issue.

[2021-06-16 17:12] Beck-berry commented on #639
![image](https://user-images.githubusercontent.com/46535522/122261370-9ef24c00-ced4-11eb-83c9-9c70e957c351.png)

Weird thing, I have the correct time displayed, so I cannot reproduce the problem. Could you please check if it's still there for you?

[2021-06-16 17:26] leonardehrenfried commented on #639
Erm, yeah. I fixed it on the server-side and forgot that this ticket existed. :flushed:

[2021-06-16 17:26] #639 closed, assigned to Beck-berry

[2021-06-16 17:27] leonardehrenfried commented on #639
Sorry about that.

[2021-06-16 17:27] Beck-berry commented on #639
No worries :smile:

[2021-06-17 05:57] jpidelatorre commented on #620
Apparently, this is not happening anymore. Something changed that solved the problem recently. I tested in multiple environments (dev, qa, beta, local) and the problem doesn't appear in any of them. Here's the URL used int the body of the issue.

However, there's a way of triggering the error by accessing a URL that points to a non-existing train station:

The difference between both URLs is the p

[2021-06-17 06:04] hbruch opened #653 "Sharing layer availability badges don't show number or nothing at all"
Currently, the bike sharing availability badge does not show the number of available bikes.

<img width="233" alt="image" src="https://user-images.githubusercontent.com/2187389/122340269-612c0c80-cf42-11eb-8a50-03bc9cea8d04.png">

However, as upstream shows them:
![image](https://user-images.githubusercontent.com/2187389/122340515-a51f1180-cf42-11eb-8d36-f8b947c313fc.png)

For taxi, no availabilit

[2021-06-17 06:36] jpidelatorre commented on #637
@leonardehrenfried I think this is the same problem that appeared some weeks ago when a marker is too close to the boundary between two tiles and one of the tiles doesn't have the information to render the marker.

![image](https://user-images.githubusercontent.com/104569/122344202-81dd6d80-cf14-11eb-8c95-e2d5db2868cc.png)

[2021-06-17 07:24] leonardehrenfried opened #654 "Make taxi, car sharing and cargo bike settings invisble in UI"
We have three configuration toggles in the UI that don't do anything:

![Screenshot from 2021-06-17 09-17-19](https://user-images.githubusercontent.com/151346/122350420-7eb2a380-cf4d-11eb-85b0-a874bcd2f0db.png)

They are:

- car sharing
- taxi
- cargo bike

Their only purpose is to be able to configure what icon should be shown on the map but turning them on or off does not change the result and o

[2021-06-17 07:41] leonardehrenfried commented on #637
My observation is a bit different.

To me it seems that entire tiles are empty, particularly the one around the train station.

![Screenshot from 2021-06-17 09-39-07](https://user-images.githubusercontent.com/151346/122353110-0699ad00-cf50-11eb-93c4-010220dcbfa6.png)

It dependends on the zoom level.

![Screenshot from 2021-06-17 09-39-12](https://user-images.githubusercontent.com/151346/122353154

[2021-06-17 10:04] leonardehrenfried commented on #638
A fixed has been rolled out to all envs. Please inform Ansgar.

[2021-06-17 10:05] leonardehrenfried commented on #638
![Screenshot from 2021-06-17 12-04-58](https://user-images.githubusercontent.com/151346/122376258-466a8f80-cf64-11eb-897b-3d1cb42597f8.png)

[2021-06-17 12:35] andreashelms commented on #604
@leonardehrenfried Could you send tags property of response also send as an escaped JSON string like capacity:

`capacity: "{"bicyclePlaces":null,"carPlaces":100,"wheelchairAccessibleCarPlaces":null}"`

Currently tags property value looks like that:

`tags: "lot_type:Parkplatz,address:Naturfreibad,forecast:false,state:nodata"`

[2021-06-17 13:07] andreashelms commented on #604
@leonardehrenfried Looks like `lot-type` 'Park-Carpool' and 'Barrierefreier-Parkplatz' are gone. Should the icons be removed, then?

[2021-06-17 13:38] leonardehrenfried commented on #604
I can see Barrierefreier-Parkplatz in the graphQL API:
[code]

Is it not in the vector tiles?

[2021-06-17 13:43] leonardehrenfried commented on #604
I'm not sure I can follow - aren't we sending the tags already? Is this a typo?

So you want the tags to be encoded like this ["lot_type:Parkplatz","address:Naturfreibad","forecast:false","state:nodata"] ?

[2021-06-17 14:01] andreashelms commented on #604
Like this:

`"{"lot_type":"Parkplatz","address":"Naturfreibad","forecast":false,"state":"nodata"}"`

exactly the way like `capacity` is encoded. This way it's easy to parse the information for further processing.

[2021-06-17 14:02] leonardehrenfried commented on #604
I see.
In can implement that.

[2021-06-17 14:13] andreashelms commented on #604
Now it's there. I just set a filter incorrectly.

[2021-06-17 14:21] andreashelms commented on #604
@leonardehrenfried And yet another question: What values does property `state` have, if it's not `OPERATIONAL`? And the former API returned a property called `notes`. Does this still exist?

[2021-06-17 14:23] leonardehrenfried commented on #604
https://github.com/mfdz/OpenTripPlanner/blob/e9c326a301bb131317a0d9ec0bf14783666fa989/src/main/java/org/opentripplanner/routing/vehicle_parking/VehicleParking.java#L101

OPERATIONAL
TEMPORARILY_CLOSED
CLOSED

[2021-06-17 14:25] andreashelms commented on #604
👍  And I just realized `notes` ist still there, now it's called `note`.

[2021-06-17 14:41] andreashelms commented on #604
![image](https://user-images.githubusercontent.com/21622725/122418639-a3793c00-cf8a-11eb-9faf-26144a5a290a.png)

Sometimes response contains `note` with English texts, and sometimes German. Is there some way of setting the desired language returned?

[2021-06-17 15:20] hbruch commented on #648
Nette toilette is a static json layer which currently does not support different locales.

[2021-06-17 15:25] hbruch commented on #594
We introduced 2-level layer groups with https://github.com/stadtnavi/digitransit-ui/pull/608, so will close here. Thanks for your suggestions

[2021-06-17 15:25] #594 closed, assigned to nobody

[2021-06-17 15:27] hbruch commented on #537
It's implemented, yes.

[2021-06-17 15:27] #537 closed, assigned to patrickbeck1337

[2021-06-17 17:42] Denis306 opened #658 "Add the localized object category before the address name in Popups"
As discussed in this issue, we would like to have the localized object category befor the address name. That way the user is able to deduce which popup he clicked on in case of an overlap. Like "Charging station Seeländer Areal Herrenberg" for example.
![image](https://user-images.githubusercontent.com/63004289/122447624-3a062700-cfa4-11eb-8631-04b4064e178f.png)

[2021-06-17 17:46] Denis306 commented on #614
@ahmed-nawar I am closing this ticket and created a new one #658 to discuss the localized object category.

[2021-06-17 20:07] nghanem-poet-egypt opened #659 "P+R faulty navigation between itineraries"
1. Try this route [This route](https://herrenberg.beta.stadtnavi.eu/reiseplan/Kleintierz%C3%BCchterverein%20Nufringen%2C%2071154%20Nufringen%3A%3A48.623388649999995%2C8.906790891010605/Krone%2C%20Kelterplatz%204%2C%2071083%20Herrenberg%3A%3A48.577052949999995%2C8.92293205/parkAndRide?locale=de&mapMode=bicycle&time=1624003200)

2. Choose p+r mode
3. Click on the details of the first route
4. Now cl

[2021-06-17 20:12] nghanem-poet-egypt commented on #659
4 P+R itineraries shown

![Screenshot_20210617-220713_Chrome.jpg](https://user-images.githubusercontent.com/84389152/122465953-f79b1500-cfb8-11eb-9029-c6569e90f980.jpg)

Click on next
![Screenshot_20210617-220727_Chrome.jpg](https://user-images.githubusercontent.com/84389152/122466018-0da8d580-cfb9-11eb-9889-fdf4f925317d.jpg)

Now instead of 4 only 2 options are available and the next route is a t

[2021-06-17 21:10] #614 closed, assigned to jpidelatorre

[2021-06-18 05:52] jpidelatorre commented on #637
It is not the entire tile, but it does affect some tiles in particular.

![image](https://user-images.githubusercontent.com/104569/122512979-b36b3d00-cfd7-11eb-9ef8-356ccbf02890.png)

I'm taking a look at the information from the server, but it's confusing.

[2021-06-18 06:06] Denis306 commented on #611
@leonardehrenfried Any update on this?

[2021-06-18 07:30] leonardehrenfried commented on #611
Thanks for reminding me. I'm currently testing a fix on dev and will have an update in a few minutes.

[2021-06-18 07:58] leonardehrenfried commented on #611
Ok, there was a really silly bug in the backend which I fixed right now. Sorry for this taking forever!

[code]

[2021-06-18 07:59] leonardehrenfried commented on #611
You should get the proper name now.

[2021-06-18 08:03] jpidelatorre commented on #611
Works like a charm.

![image](https://user-images.githubusercontent.com/104569/122528312-2b426300-cfea-11eb-8308-e2ea5b67e4a0.png)

[2021-06-18 08:07] leonardehrenfried commented on #611
:facepalm: So sorry I didn't realise earlier. If you want to know what the problem was: https://github.com/mfdz/OpenTripPlanner/commit/247b47a8fac8881022426c5de68c88e660ee1840

The version before looks correct but isn't.

[2021-06-18 08:18] leonardehrenfried commented on #604
So there was an issue in the data where this parking lot didn't have a German note. It should be gone now.

[2021-06-18 08:19] leonardehrenfried commented on #604
I'm sorry but I realised that I cannot do that: it's not guaranteed that these strings are always key:value, they can be any strings. This means that I can't change the API.

Is it possible to do the parsing in the client?

[2021-06-18 08:29] Denis306 commented on #620
@samia-roubaa could you re-test this? I am trying to reproduce the issue but can't anymore on beta.

[2021-06-18 08:40] andreashelms commented on #598
@leonardehrenfried There already is a plan ParkAndRide defined with this modes:

` transportModes: [
            { mode: CAR, qualifier: PARK }
            { mode: BUS }
            { mode: RAIL }
            { mode: SUBWAY }
          ]`

It don't really get what is the difference to that. Or do you mean a car route where you can leave your car at a parking space at destination?

[2021-06-18 08:52] leonardehrenfried commented on #604
[code]

[2021-06-18 09:05] andreashelms commented on #604
![image](https://user-images.githubusercontent.com/21622725/122536410-c8ba8880-d024-11eb-9022-7215291667f9.png)

I just realized browser already serves data from cache because of the configured cache-control (0B transfered via network with second request). So I think the implementation is fine.

[2021-06-18 09:16] leonardehrenfried commented on #620
I have a repro case which is probably the same issue:

1. visit https://herrenberg.beta.stadtnavi.eu/geojson?lat=48.5893128&lng=8.8648539&language=en&name=Radsport+Holczer&content=Opening+hours%3A+Mo-Tu%2CFr+09%3A00-18%3A30%3B+Th+09%3A00-20%3A00%3B+Sa+09%3A00-14%3A00%2C+Wheelchair%3A+yes
2. Change language

[2021-06-18 09:17] leonardehrenfried commented on #620
In fact it seems that just visiting the geojson URL breaks the app.

[2021-06-18 09:21] leonardehrenfried commented on #598
The latter.

we want to compute two requests:

1. One for driving your car all the way to the destination: `transportModes: [ { mode: CAR  } ]`
2. One for driving _near_ your destination, parking your car and then walking: `transportModes: [ { mode: CAR  , qualifier: PARK} ]`

[2021-06-18 09:24] Denis306 commented on #620
Okay, I would probably create a new issue for that? What do you think @leonardehrenfried ?

[2021-06-18 09:25] jpidelatorre commented on #620
The server shouldn't respond with a 500 error.

[2021-06-18 09:25] leonardehrenfried commented on #620
https://github.com/stadtnavi/digitransit-ui/issues/649

[2021-06-18 09:26] leonardehrenfried commented on #620
The server in this case is the server-side rendering of the react app. When you run it locally you see the stacktrace.

[2021-06-18 09:30] leonardehrenfried commented on #620
If I remember correct it tries to access `window` which doesn't exist in nodejs.

[2021-06-18 09:51] leonardehrenfried commented on #590
Yes, it's correct.

[2021-06-18 09:51] #590 closed, assigned to Beck-berry

[2021-06-18 10:07] jpidelatorre commented on #637
@leonardehrenfried I think I found the problem.

[2021-06-18 20:31] MartinH-open opened #663 "The route of on-demand RT763 differs from bus route 763 (even one stop is not on the route)"
During night time the RT763 route through Aidlingen is displayed wrong / different from the main road and different than the shape of the bus route 763. The RT763 route is displayed as a short cut using the Oberer Strasse instead of following the main road between stops Aidlingen Rathaus and Aidl. Katholische Kirche. The displayed route even ignores the stops Aidlingen Rathaus.
(BTW - the Oberer S

[2021-06-18 23:07] MartinH-open opened #664 "Different bus stops with same name are not helpful. Different icons for bus stops not useful."
As displayed in the image in Herrenberg city there are multiple bus stops labeled as "Herrenberg Kalkhofenstr." near the main station. Wenn selecting one the user is asked to chooce one of the labeled stops. But all display the same. So what is what stop.
Different stops should be labeled differently!
In the list the stops are displayed with an icon (flag post) different from the icon (circular si

[2021-06-19 04:21] hbruch commented on #663
Thanks for reporting this, @MartinH-open. VVS for a while did not publish shapes, so we calculated them via pfaedle which took an "abbrevation" here. In the meantime, VVS provides shapes again and in good quality (see https://github.com/mfdz/GTFS-Issues/issues/4), so we will switch back to the official shapes again.

Regarding the road closure, we currently have no data source for municipal road w

[2021-06-19 09:04] Beck-berry commented on #550
Hi!
I'd have a short question about

Is this the expected behavior if there are *no biking routes* at all or if there are *any transit routes*? I think about the last but want to make sure :smile:
Thanks!